////
/// Button variables.
///
/// @group  Settings
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

$all-buttons: append($all-buttons, ".button");
$all-buttons: append($all-buttons, ".button.menu-item a");
$button-padding: $spacing-m * $minor-third $gutter !default;
$button-border: 0 !default;
$button-border-radius: $base-border-radius !default;
$button-color: $color-white !default;
$button-background: $color-primary !default;
$button-font-family: $base-font-family !default;
$button-font-size: $base-font-size / $major-second !default;
$button-font-weight: $font-weight-heading !default;
$button-border-hover: 0 !default;
$button-color-hover: $color-white !default;
$button-background-hover: $color-primary !default;
$button-disabled-opacity: 0.5 !default;
$button-disabled-background-color: $color-muted !default;
$button-small-padding: 1em 1.5em !default;
$button-small-font-size: small !default;
$button-outline-border: 1px solid $color-primary !default;
$button-outline-color: $color-primary !default;
$button-outline-color-hover: $color-white !default;
$button-outline-background-hover: $color-primary !default;
$button-letter-spacing: $base-letter-spacing !default;
