////
/// Global base variables.
///
/// @group  Settings
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

// Borders
$base-border-radius: 4px !default;
$base-border-width: 1px !default;
$base-border-style: solid !default;
$base-border-color: $color-border !default;
$base-border: $base-border-width $base-border-style $base-border-color !default;

// Shadows
$base-box-shadow-x: 0 !default;
$base-box-shadow-y: 0 !default;
$base-box-shadow-blur: $base-font-size !default;
$base-box-shadow-spread: 0 !default;
$base-box-shadow-color: $color-black !default;
$base-box-shadow-opacity: 0.1 !default;
$base-box-shadow: $base-box-shadow-x $base-box-shadow-y $base-box-shadow-blur $base-box-shadow-spread rgba($base-box-shadow-color, $base-box-shadow-opacity) !default;

// Transition
$base-transition-property: all !default;
$base-transition-duration: 0.2s !default;
$base-transition-timing-function: ease !default;
$base-transition-delay: 0 !default;
$base-transition: $base-transition-property $base-transition-duration $base-transition-timing-function $base-transition-delay !default;
