////
/// Grid variables.
///
/// @group  Settings
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

$gutter: $spacing-l !default;
$gap: $spacing-m * $perfect-fifth !default;

$one-half: calc((100% - (#{$gutter} * 1)) / 2) !default;
$one-third: calc((100% - (#{$gutter} * 2)) / 3) !default;
$one-fourth: calc((100% - (#{$gutter} * 3)) / 4) !default;
$one-fifth: calc((100% - (#{$gutter} * 4)) / 5) !default;
$one-sixth: calc((100% - (#{$gutter} * 5)) / 6) !default;
$two-thirds: calc(#{$one-third} * 2 + #{$gutter}) !default;
$two-fourths: calc(#{$one-fourth} * 2 + #{$gutter}) !default;
$two-fifths: calc(#{$one-fifth} * 2 + #{$gutter}) !default;
$two-sixths: calc(#{$one-sixth} * 2 + #{$gutter}) !default;
$three-fourths: calc(#{$one-fourth} * 3 + (#{$gutter} * 2)) !default;
$three-fifths: calc(#{$one-fifth} * 3 + (#{$gutter} * 2)) !default;
$three-sixths: calc(#{$one-sixth} * 3 + (#{$gutter} * 2)) !default;
$four-fifths: calc(#{$one-fifth} * 4 + (#{$gutter} * 3)) !default;
$four-sixths: calc(#{$one-sixth} * 4 + (#{$gutter} * 3)) !default;
$five-sixths: calc(#{$one-sixth} * 5 + (#{$gutter} * 4)) !default;
