////
/// Spacing variables.
///
/// @group  Settings
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

$spacing-xxxs: $base-font-size / 8 !default;
$spacing-xxs: $base-font-size / 5 !default;
$spacing-xs: $base-font-size / 3 !default;
$spacing-s: $base-font-size / 2 !default;
$spacing-m: $base-font-size !default;
$spacing-l: $base-font-size * 2 !default;
$spacing-xl: $base-font-size * 3 !default;
$spacing-xxl: $base-font-size * 5 !default;
$spacing-xxxl: $base-font-size * 8 !default;

$spacing: (
	xxxs: $spacing-xxxs,
	xxs: $spacing-xxs,
	xs: $spacing-xs,
	s: $spacing-s,
	m: $spacing-m,
	l: $spacing-l,
	xl: $spacing-xl,
	xxl: $spacing-xxl,
	xxxl: $spacing-xxxl,
) !default;
