body {
	--body-top: 0px; // Requires 0px value. 0 breaks this when it's used in calc() in some instances.

	display: flex;
	flex-direction: column;
	min-height: var(--body-min-height, 100vh);
	min-height: -webkit-fill-available;
	overflow-x: hidden; // Prevent horizontal scrollbars.

	@include body;

	@media only screen and (min-width: 545px) and (max-width: 782px) {
		--body-top: 46px;
	}

	@media only screen and (min-width: 783px) {
		--body-top: 32px;
	}
}
