body {
	--body-top: 0px; // Requires 0px value. 0 breaks this when it's used in calc() in some instances.
	--scroll-margin-top: calc(var(--body-top) + var(--spacing-lg));

	display: flex;
	flex-direction: column;
	min-height: var(--body-min-height, calc(100dvh - var(--body-top)));
	overflow-x: hidden; // Prevent horizontal scrollbars.

	@include body;
}

.admin-bar {

	@media only screen and (min-width: 545px) and (max-width: 782px) {
		--body-top: 46px;
	}

	@media only screen and (min-width: 783px) {
		--body-top: 32px;
	}
}

.has-sticky-header {
	--scroll-margin-top: calc(var(--body-top) + var(--header-height-shrunk, var(--header-height, 0px)) + var(--spacing-xs)); // Requires 0px value fallback. 0 breaks this.
}

[id] {
	scroll-margin-top: var(--scroll-margin-top);
}
