////
/// Form.
///
/// @group  Elements
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Rules
////

::placeholder {
	opacity: 1; // Firefox fix
	color: var(--input-placeholder-color, var(--color-muted));
}

////
/// Abbreviations.
////

abbr[title] {
	text-decoration: none;
}

////
/// Label.
////

label {
	display: inline-block;
	margin: var(--label-margin, 0 0 var(--space-sm));
	font-size: var(--label-font-size, (smaller));
	font-weight: var(--label-font-weight, var(--font-weight-heading));

	i + &,
	input + &,
	select + &,
	textarea + & {
		font-size: smaller;
		font-weight: var(--font-weight-body);
	}
}

////
/// Text Inputs.
////

#{$all-text-inputs} {
	width: 100%;
	margin: var(--input-margin, 0 0 var(--space-sm));
	padding: var(--input-padding, 1em);
	border: var(--input-border, var(--border));
	border-radius: var(--input-border-radius, var(--border-radius));
	color: var(--input-color);
	background-color: var(--input-background-color);
	background-clip: padding-box; // Remove iOS box shadow
	box-shadow: none;
	font-size: var(--input-font-size);

	@include transition;

	&:focus {
		--input-border: var(--border-width) var(--border-style) var(--color-primary);
		outline: none;
	}

	&:disabled,
	&:disabled:hover {
		--input-background-color: var(--color-muted);
		cursor: not-allowed;
	}
}

////
/// Textarea.
////

textarea {
	line-height: var(--textarea-line-height);
}

////
/// Select.
////

select {
	height: var(--select-height, (calc( var(--text-base) * 2)));
	padding: var(--select-padding, (0 auto));

	&[multiple] {
		height: auto;
	}
}

////
/// Other Inputs.
////

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
	margin-right: var(--space-sm);
}

input[type="color"] {
	min-height: var(--space-xl);
}

input[type="search"] {
	-webkit-appearance: none;

	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button {
		display: none;
	}
}

////
/// Fieldset.
////

fieldset {
	min-width: 0;
	margin: 0;
	padding: 0.01em 0 0 0;
	border: 0;

	body:not(:-moz-handler-blocked) & {
		display: table-cell;
	}
}

////
/// Legend.
////

legend {
	display: table;
	float: left;
	width: 100%;
	margin: var(--legend-margin, 0 0 var(--space-sm));
	padding: var(--legend-padding, 0);
	font-size: var(--legend-font-size, var(--text-xs));

	+ * {
		clear: both;
	}
}

////
/// Buttons.
////

#{$all-buttons} {

	@include button;
}
