@mixin custom-properties {
	--color-primary: #{map_get($colors, "primary")};
	--color-secondary: #{map_get($colors, "secondary")};
	--color-success: #{map_get($colors, "success")};
	--color-danger: #{map_get($colors, "danger")};
	--color-warning: #{map_get($colors, "warning")};
	--color-info: #{map_get($colors, "info")};
	--color-black: #{map_get($colors, "black")};
	--color-dark: #{map_get($colors, "dark")};
	--color-medium: #{map_get($colors, "medium")};
	--color-muted: #{map_get($colors, "muted")};
	--color-light: #{map_get($colors, "light")};
	--color-white: #{map_get($colors, "white")};

	--breakpoint-xl: #{map_get($breakpoints, xl)};
	--breakpoint-lg: calc(var(--breakpoint-xl) / 1.2);
	--breakpoint-md: calc(var(--breakpoint-xl) / 1.5);
	--breakpoint-sm: calc(var(--breakpoint-xl) / 2);
	--breakpoint-xs: calc(var(--breakpoint-xl) / 3);

	--text-scale-ratio: 1.25;

	--text-xxxxs: calc(var(--text-xxxs) / var(--text-scale-ratio));
	--text-xxxs: calc(var(--text-xxs) / var(--text-scale-ratio));
	--text-xxs: calc(var(--text-xs) / var(--text-scale-ratio));
	--text-xs: calc(var(--text-sm) / var(--text-scale-ratio));
	--text-sm: calc(var(--text-md) / var(--text-scale-ratio));
	--text-md: 16px;
	--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
	--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
	--text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

	--font-stack: system-ui, -apple-system, blinkmacsystemfont, helvetica, arial, sans-serif;
	--font-code: consolas, monaco, monospace;
	--font-primary: var(--font-stack);
	--font-secondary: var(--font-stack);

	--font-weight-hairline: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	--font-weight-body: var(--font-weight-regular);
	--font-weight-heading: var(--font-weight-semibold);

	--line-height-body: 1.5;
	--line-height-heading: 1.2;

	--letter-spacing-body: normal;
	--letter-spacing-heading: var(--letter-spacing-body);

	--spacing: var(--text-md);
	--row-gap: var(--spacing);
	--column-gap: var(--spacing);
	--wrap-width: var(--breakpoint-xl);
	--sidebar-width: 30rem; // Google ads
	--content-width: calc(var(--wrap-width) - (var(--sidebar-width) - var(--column-gap)));

	--border-radius: 4px;
	--border-size: 1px;
	--border-style: solid;
	--border-color: var(--color-muted);
	--border: var(--border-size) var(--border-style) var(--border-color);

	--shadow-x: 0;
	--shadow-y: 0;
	--shadow-blur: 1em;
	--shadow-spread: 0;
	--shadow-color: var(--color-muted);
	--shadow-opacity: 0.5;
	--shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgba(var(--shadow-color), var(--shadow-opacity));

	--transition-property: all;
	--transition-duration: 0.2s;
	--transition-timing-function: ease;
	--transition-delay: 0;
	--transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
}

:root {

	@include custom-properties;
}
