@mixin custom-properties {
	--text-xs: calc(var(--text-sm) / var(--text-scale-ratio));
	--text-sm: calc(var(--text-md) / var(--text-scale-ratio));
	--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
	--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
	--text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

	--font-stack: system-ui, -apple-system, blinkmacsystemfont, helvetica, arial, sans-serif;
	--font-code: consolas, monaco, monospace;

	--spacing-scale-ratio: 1.5;
	--spacing-xxxxs: calc(var(--spacing-xxxs) / var(--spacing-scale-ratio));
	--spacing-xxxs: calc(var(--spacing-xxs) / var(--spacing-scale-ratio));
	--spacing-xxs: calc(var(--spacing-xs) / var(--spacing-scale-ratio));
	--spacing-xs: calc(var(--spacing-sm) / var(--spacing-scale-ratio));
	--spacing-sm: calc(var(--spacing-md) / var(--spacing-scale-ratio));
	--spacing-md: 16px;
	--spacing-lg: calc(var(--spacing-md) * var(--spacing-scale-ratio));
	--spacing-xl: calc(var(--spacing-lg) * var(--spacing-scale-ratio));
	--spacing-xxl: calc(var(--spacing-xl) * var(--spacing-scale-ratio));
	--spacing-xxxl: calc(var(--spacing-xxl) * var(--spacing-scale-ratio));
	--spacing-xxxxl: calc(var(--spacing-xxxl) * var(--spacing-scale-ratio));

	--side-spacing: 4vw;

	--row-gap: var(--spacing-md);
	--column-gap: var(--spacing-md);
	--wrap-max-width: var(--breakpoint-xl);
	--sidebar-width: 300px; // Google ads.
	--content-max-width: calc(var(--wrap-max-width) - var(--sidebar-width) - var(--column-gap));

	--border-style: solid;
	--border: var(--border-size) var(--border-style) var(--border-color);

	--shadow-x: 0;
	--shadow-y: 0.25em;
	--shadow-blur: 1em;
	--shadow-spread: 0;
	--shadow-opacity: 0.5;
	--shadow-color: var(--color-medium-rgb); // Requires rgba so we can add opacity.
	--shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgba(var(--shadow-color), var(--shadow-opacity));

	--transition-property: all;
	--transition-duration: 0.2s;
	--transition-timing-function: ease;
	--transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
}

:root {

	@include custom-properties;
}
