@mixin custom-properties {
	--color-success: limegreen;
	--color-danger: orangered;
	--color-warning: gold;
	--color-info: dodgerblue;
	--color-border: rgba(10, 20, 30, 0.05);
	--color-shadow: rgba(10, 20, 30, 0.1);

	--font-scale: 1.25;
	--font-scale-responsive: 0.15vw;

	--font-size-base: 16px;
	--font-size-xs: calc(var(--font-size-sm) / var(--font-scale));
	--font-size-sm: calc(var(--font-size-md) / var(--font-scale));
	--font-size-md: calc(var(--font-size-base) + var(--font-scale-responsive));
	--font-size-lg: calc(var(--font-size-md) * var(--font-scale));
	--font-size-xl: calc(var(--font-size-lg) * var(--font-scale));
	--font-size-xxl: calc(var(--font-size-xl) * var(--font-scale));
	--font-size-xxxl: calc(var(--font-size-xxl) * var(--font-scale));
	--font-size-xxxxl: calc(var(--font-size-xxxl) * var(--font-scale));

	--system-font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
	--code-font-family: consolas, monaco, monospace;

	--spacing-base: 16px;
	--spacing-scale: 1.5;

	--spacing-xxxxs: calc(var(--spacing-xxxs) / var(--spacing-scale));
	--spacing-xxxs: calc(var(--spacing-xxs) / var(--spacing-scale));
	--spacing-xxs: calc(var(--spacing-xs) / var(--spacing-scale));
	--spacing-xs: calc(var(--spacing-sm) / var(--spacing-scale));
	--spacing-sm: calc(var(--spacing-md) / var(--spacing-scale));
	--spacing-md: var(--spacing-base);
	--spacing-lg: calc(var(--spacing-md) * var(--spacing-scale));
	--spacing-xl: calc(var(--spacing-lg) * var(--spacing-scale));
	--spacing-xxl: calc(var(--spacing-xl) * var(--spacing-scale));
	--spacing-xxxl: calc(var(--spacing-xxl) * var(--spacing-scale));
	--spacing-xxxxl: calc(var(--spacing-xxxl) * var(--spacing-scale));

	--side-spacing: 4vw;

	--row-gap: var(--spacing-md);
	--column-gap: var(--spacing-md);
	--wrap-max-width: var(--breakpoint-xl);
	--sidebar-width: 300px; // Google ads.
	--content-max-width: var(--breakpoint-xl);

	--border-radius: 4px;
	--border-width: 1px;
	--border: var(--border-width) solid var(--color-border);
	--shadow: 0 0.25em 1em 0 var(--color-shadow);

	--transition-property: all;
	--transition-duration: 0.2s;
	--transition-timing-function: ease;
	--transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);

	--content-sidebar-wrap-margin-top: var(--spacing-xxl);
	--content-sidebar-wrap-margin-bottom: var(--spacing-xxxl);
	--content-sidebar-gap: calc(var(--column-gap) * 3);
}

:root {

	@include custom-properties;
}
