#{$all-headings} {

	@include heading;
}

@each $heading, $font-size in $headings {

	#{$heading} {
		font-size: var(--#{$heading}-font-size, $font-size);
	}
}

.is-style-subheading {
	--heading-font-size: var(--font-size-lg);
	--heading-color: var(--color-dark);
	--heading-text-transform: uppercase;
	--heading-letter-spacing: 1px;
}
