html {
	max-width: 100vw;
	font-size: 100%; // 16px browser default.
	scroll-behavior: var(--scroll-behavior, smooth);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.admin-bar-showing {
		height: calc(100% - 32px);
	}
}
