
ul {
	list-style-type: var(--list-style-type, var(--unordered-list-style-type, disc));
}

ol {
	list-style-type: var(--list-style-type, var(--ordered-list-style-type, decimal));
}

dl {
	list-style-type: var(--list-style-type, var(--definition-list-style-type, unset));
}

ul,
ol,
dl {
	margin: var(--list-margin, var(--list-margin-top, 0) var(--list-margin-right, 0) var(--list-margin-bottom, var(--spacing-sm)) var(--list-margin-left, 0));
	padding: var(--list-padding, 0);
	list-style-position: var(--list-style-position, inside);

	ul,
	ol,
	dl {
		margin: var(--sub-list-margin, (var(--spacing-md) var(--spacing-md)));
	}

}

li {
	margin: var(--list-item-margin, var(--list-item-margin-top, 0) var(--list-item-margin-right, 0) var(--list-item-margin-bottom, 0) var(--list-item-margin-left, 0));
}

.entry-content,
.sidebar {

	/* These are added to edistor.scss too */
	--list-style-position: outside;
	--list-margin-left: var(--spacing-md);
	--list-item-margin-bottom: var(--spacing-xs);
}

dd,
dt {
	margin: 0;
}

dt {
	font-weight: var(--description-term-font-weight, var(--font-weight-heading));
}
