////
/// List.
///
/// @group  Elements
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Lists.
////

ul,
ol,
dl {
	margin: var(--list-margin, (0 0 var(--space-md)));
	padding: var(--list-padding, 0);
	list-style-position: var(--list-list-style-position, inside);

	// Sub list.
	ul,
	ol,
	dl {
		margin: var(--sub-list-margin, (var(--space-sm) var(--space-md)));
	}
}

////
/// Data Cells.
////

dd,
dt {
	margin: 0;
}

dt {
	font-weight: var(--description-term-font-weight, var(--font-weight-heading));
}
