embed,
iframe,
object,
video {
	width: 100%;
	max-width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border-radius: var(--image-border-radius, 0);
}

iframe {
	border: 0;
}

figure {
	margin-inline-start: 0; // Chrome user agent override.
	margin-inline-end: 0; // Chrome user agent override.
}

.has-rounded-image {
	--image-border-radius: 9999px;
}
