////
/// Typography.
///
/// @group  Elements
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Body.
////

body {

	@include body;
}

////
/// Links.
////

:root {
	--link-color: var(--color-primary);
	--link-text-decoration: none;
	--link-color-hover: var(--color-primary);
	--link-text-decoration-hover: underline;
}

a {
	color: var(--link-color);
	text-decoration: var(--link-text-decoration);

	@include transition();

	@include hover-focus {
		color: var(--link-color-hover);
		text-decoration: var(--link-text-decoration-hover);
	}
}

////
/// Paragraphs.
////

:root {
	--paragraph_margin: 0 0 var(--spacing-m);
}

p {
	margin: var(--paragraph_margin);

	&:empty {
		display: none;
	}
}

////
/// Horizontal Rules.
////

:root {
	--horizontal-rule-margin: 0 0 var(--spacing-m);
	--horizontal-rule-padding: var(--spacing-m) 0 0;
	--horizontal-rule-border: var(--border);
}

hr {
	clear: both;
	margin: var(--horizontal-rule-margin);
	padding: var(--horizontal-rule-padding);
	border: 0;
	border-bottom: var(--horizontal-rule-border);
	border-collapse: collapse;
}

////
/// Strong.
////

:root {
	--strong-font-weight: var(--font-weight-bold);
}

b,
strong {
	font-weight: var(--strong-font-weight);
}

////
/// Emphasis.
////

:root {
	--emphasis-font-style: italic;
}

em,
i {
	font-style: var(--emphasis-font-style);
}

////
/// Blockquotes.
////

:root {
	--blockquote-margin: var(--spacing-m) auto;
	--blockquote-padding: var(--gap);
	--blockquote-border-left: var(--border);
	--blockquote-background-color: transparent;
	--blockquote-font-style: italic;
	--blockquote-paragraph-padding: var(--spacing-s) 0;
	--cite-font-weight: bolder;
	--cite-font-style: normal;
	--cite-font-family: var(--font-family-heading);
}

blockquote {
	border-left: var(--blockquote-border-left);
	background-color: var(--blockquote-background-color);
	font-style: var(--blockquote-font-style);

	@include margin(var(--blockquote-margin));
	@include padding(var(--blockquote-padding));

	p {
		padding: var(--blockquote-paragraph-padding);

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

////
/// Citations.
////

:root {
	--cite-font-weight: bolder;
	--cite-font-style: normal;
	--cite-font-family: var(--font-family-heading);
}

cite {
	display: block;
	font-family: var(--cite-font-family);
	font-weight: var(--cite-font-weight);
	font-style: var(--cite-font-style);
}

////
/// Code.
////

:root {
	--code-padding: 0.05em 0.5em;
	--code-border-radius: var(--border-radius);
	--code-background-color: var(--color-background);
	--code-font-family: var(--font-family-code);
	--code-font-size: 90%;
	--preformatted-padding: var(--spacing-m);
}

code,
kbd,
samp {
	padding: var(--code-padding);
	border-radius: var(--code-border-radius);
	background-color: var(--code-background-color);
	font-family: var(--code-font-family);
	font-size: var(--code-font-size);
}

pre {
	overflow-x: scroll;
	padding: var(--preformatted-padding);
	border-radius: var(--code-border-radius);
	background-color: var(--code-background-color);
	font-family: var(--code-font-family);

	code,
	kbd,
	samp {
		padding: 0;
		background-color: transparent;
		font-size: var(--code-font-size);
	}
}

code.hljs {
	background: transparent;
}
