a {
	color: var(--link-color, var(--color-link));
	text-decoration: var(--link-text-decoration, none);
	text-underline-offset: var(--link-text-decoration-offset, var(--spacing-xxs)); // Not all browsers support this yet.
	word-break: var(--link-word-break, break-word);
	transition: var(--link-transition, var(--transition));

	&:hover,
	&:focus {
		color: var(--link-color-hover, var(--color-link));
		text-decoration: var(--link-text-decoration-hover, underline);
		text-underline-offset: var(--link-text-decoration-offset-hover, var(--link-text-decoration-offset, var(--spacing-xxs)));
		outline-color: var(--color-body);
		filter: var(--link-filter-hover, unset);
	}
}

.has-dark-background {
	--link-color: currentColor;
	--link-color-hover: currentColor;
	--link-text-decoration: underline;
	--link-filter-hover: brightness(0.8);
}

p {
	width: var(--paragraph-width, auto);
	margin: var(--paragraph-margin, 0 0 var(--paragraph-margin-bottom, var(--spacing-md)));
	padding: var(--paragraph-padding, 0);

	&:empty {
		display: none;
	}

	&:last-child {

		@include mq(md) {
			--paragraph-margin-bottom: 0;
		}
	}

	&.has-background {
		--paragraph-padding: var(--spacing-lg) var(--spacing-xl);
	}
}

hr {
	clear: both;
	width: 100%;
	margin: var(--horizontal-rule-margin, (0 auto var(--spacing-md)));
}

b,
strong {
	font-weight: var(--strong-font-weight, var(--body-font-weight-bold, 700));
}

em,
i {
	font-style: var(--emphasis-font-style, italic);
}

blockquote {
	margin: var(--blockquote-margin, (1em auto));
	padding: var(--blockquote-padding, 1em);
	color: var(--blockquote-color, unset);
	font-weight: var(--blockquote-font-weight, normal);
	font-size: var(--blockquote-font-size, 1em);
	font-family: var(--blockquote-font-family, inherit);
	font-style: var(--blockquote-font-style, italic);
	line-height: var(--blockquote-line-height, normal);
	text-align: var(--blockquote-text-align, inherit);
	background: var(--blockquote-background, unset);
	border-top: var(--blockquote-border-top, 0);
	border-right: var(--blockquote-border-right, 0);
	border-bottom: var(--blockquote-border-bottom, 0);
	border-left: var(--blockquote-border-left, var(--border));
	box-shadow: var(--blockquote-box-shadow, none);

	--paragraph-padding: (var(--row-gap) 0);
}

cite {

	@include cite();
}

pre,
code,
kbd,
samp {
	padding: var(--code-padding, (0.05em 0.5em));
	font-size: var(--code-font-size, (0.9em));
	font-family: var(--code-font-family);
	background: var(--code-background, var(--color-alt));
	border-radius: var(--code-border-radius, var(--border-radius));
}

pre {
	padding: var(--preformatted-padding, var(--spacing-md));
	overflow-x: scroll;

	--code-padding: 0;
	--code-background: transparent;
}

code.hljs {
	background: transparent;
}
