////
/// Typography.
///
/// @group  Elements
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Body.
////

body {

	@include body;
}

////
/// Links.
////

a {
	color: var(--link-color, var(--color-primary));
	text-decoration: var(--link-text-decoration, none);

	@include transition();

	&:hover,
	&:focus {
		color: var(--link-color-hover, var(--color-primary));
		text-decoration: var(--link-text-decoration-hover, underline);
	}
}

////
/// Paragraphs.
////

p {
	margin: var(--paragraph-margin, (0 0 var(--spacing-md)));

	&:empty {
		display: none;
	}
}

////
/// Horizontal Rules.
////

hr {
	clear: both;
	margin: var(--horizontal-rule-margin, 0 0 var(--spacing-md));
	padding: var(--horizontal-rule-padding, (var(--spacing-md) 0 0));
	border: var(--horizontal-rule-border, var(--border));
	border-bottom: var(--horizontal-rule-border);
	border-collapse: collapse;
}

////
/// Strong.
////

b,
strong {
	font-weight: var(--strong-font-weight, var(--font-weight-bold));
}

////
/// Emphasis.
////

em,
i {
	font-style: var(--emphasis-font-style, italic);
}

////
/// Blockquotes.
////

blockquote {
	border-left: var(--blockquote-border-left, var(--border));
	background-color: var(--blockquote-background-color);
	font-style: var(--blockquote-font-style, italic);
	margin: var(--blockquote-margin, (var(--spacing-md) auto));
	padding: var(--blockquote-padding, var(--gap));

	p {
		padding: var(--blockquote-paragraph-padding, (var(--spacing-sm) 0));

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

////
/// Citations.
////

cite {
	display: block;
	font-family: var(--cite-font-family, bolder);
	font-weight: var(--cite-font-weight, normal);
	font-style: var(--cite-font-style, var(--font-family-heading));
}

////
/// Code.
////

pre,
code,
kbd,
samp {
	padding: var(--code-padding, (0.05em 0.5em));
	border-radius: var(--code-border-radius, var(--border-radius));
	background-color: var(--code-background-color, var(--color-light));
	font-family: var(--code-font-family, var(--font-family-code));
	font-size: var(--code-font-size, (90%));
}

pre {
	overflow-x: scroll;
	padding: var(--preformatted-padding, var(--spacing-md));

	code,
	kbd,
	samp {
		padding: 0;
		background-color: transparent;
	}
}

code.hljs {
	background: transparent;
}
