.DS_Store
.git
.env
.npmrc
.cache
.vscode
*.lock
*.zip
LICENSE
README
package-lock.json
node_modules
temp
vendor/*
!vendor/autoload.php
!vendor/composer
vendor/composer/installers
vendor/composer/semver
vendor/composer/xdebug-handler
!vendor/advanced-custom-fields
!vendor/afragen
!vendor/collizo4sky
!vendor/kirki-framework
!vendor/maithemewp
!vendor/proteusthemes
!vendor/symfony
vendor/symfony/*
!vendor/symfony/deprecation-contracts
!vendor/symfony/polyfill-ctype
!vendor/symfony/polyfill-mbstring
!vendor/symfony/polyfill-php73
!vendor/symfony/polyfill-php80
!vendor/wpackagist-plugin
!vendor/yahnis-elsts
