.DS_Store
.git
.env
*.lock
*.zip
LICENSE
README


node_modules

vendor/*

!vendor/composer
vendor/composer/installers

!vendor/advanced-custom-fields
!vendor/aristath
!vendor/fortawesome
!vendor/wpackagist-plugin
!vendor/yahnis-elsts
