.DS_Store
.git
.env
.npmrc
.cache
.vscode
*.lock
*lock.json
*.zip
LICENSE
README
temp
node_modules
vendor/*
!vendor/composer
vendor/composer/installers
vendor/composer/semver
vendor/composer/xdebug-handler
!vendor/advanced-custom-fields
!vendor/afragen
!vendor/kirki-framework
!vendor/collizo4sky
!vendor/maithemewp
!vendor/proteusthemes
!vendor/symfony
!vendor/wpackagist-plugin
!vendor/wptrt
!vendor/yahnis-elsts
