////
/// Custom extends.
///
/// @group  Tools
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Body mixin
///
/// @group  Tools
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

@mixin body {
	height: 100%;
	margin: 0;
	color: $color-body;
	background-color: $color-white;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;

	@include mq(m) {
		font-size: $base-font-size * $major-second;
	}
}

////
/// Heading mixin
///
/// @group  Tools
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

@mixin heading {
	margin: 0 0 0.5em;
	font-family: $font-family-heading;
	font-weight: $font-weight-heading;
	line-height: $line-height-heading;
	letter-spacing: $letter-spacing-heading;
}

////
/// Button mixin
///
/// @group  Tools
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

@mixin button {
	display: inline-block;
	width: auto;
	padding: $button-padding;
	border: $button-border;
	border-radius: $button-border-radius;
	color: $button-color;
	background-color: $button-background;
	font-family: $button-font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	letter-spacing: $button-letter-spacing;
	line-height: 1;
	text-align: center;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	@include transition();

	@include hover-focus {
		border: $button-border-hover;
		outline: none;
		color: $button-color-hover;
		background-color: $button-background-hover;
		text-decoration: none;
	}

	// Disabled.
	&:disabled {

		&,
		&:hover,
		&:focus {
			opacity: $button-disabled-opacity;
			background-color: $button-disabled-background-color;
			cursor: not-allowed;
		}
	}

	// Small.
	&.small {
		padding: $button-small-padding;
		font-size: $button-small-font-size;
	}

	// Rounded.
	&.rounded {
		border-radius: 100rem;
	}

	// Outline.
	&.outline {
		border: $button-outline-border;
		color: $button-outline-color;
		background: transparent;

		@include hover-focus {
			color: $button-outline-color-hover;
			background: $button-outline-background-hover;
		}

		&.white {
			border-color: $color-white;
			background-color: transparent;
			color: $color-white;

			@include hover-focus {
				color: $color-primary;
				background: $color-white;
			}
		}
	}

	&.white {
		background-color: $color-white;
		color: $color-primary;
	}
}
