@mixin body {
	display: flex;
	flex-direction: column;
	min-height: var(--body-min-height, 100vh);
	min-height: -webkit-fill-available;
	margin: 0;
	color: var(--color-dark);
	font-weight: var(--font-weight-body);
	font-size: var(--text-md);
	font-family: var(--font-primary);
	line-height: var(--line-height-body);
	background: var(--body-background, var(--color-lightest));
}

@mixin button() {
	position: relative;
	display: inline-block;
	width: auto;
	margin: var(--button-margin, 0);
	padding: var(--button-padding, (var(--spacing-md) calc(var(--spacing-md) * 2)));
	color: var(--button-color, var(--button-primary-color, var(--color-lightest)));
	font-weight: var(--button-font-weight, var(--font-weight-heading));
	font-size: var(--button-font-size, var(--text-md));
	font-family: var(--button-font-family, var(--font-primary));
	line-height: 1;
	letter-spacing: var(--button-letter-spacing, normal);
	white-space: normal;
	text-align: center;
	text-transform: var(--button-text-transform, none);
	text-decoration: none;
	background: var(--button-background, var(--button-primary-background, var(--color-primary)));
	border: var(--button-border, var(--button-primary-border, 0));
	border-radius: var(--button-border-radius, var(--button-primary-border-radius, #{map_get($button, "border-radius")}));
	cursor: var(--button-cursor, pointer);
	opacity: var(--button-opacity, 1);
	transition: var(--button-transition, var(--transition));

	&:hover,
	&:focus {
		--button-color: var(--button-color-hover, var(--button-primary-color-hover, var(--color-lightest)));
		--button-background: var(--button-background-hover, var(--button-primary-background-hover, var(--color-primary)));
		--button-border: var(--button-border-hover, var(--button-primary-border-hover, var(--button-border, 0)));
		--button-border-radius: var(--button-border-radius-hover, var(--button-primary-border-radius-hover, var(--button-border-radius, #{map_get($button, "border-radius")})));
		text-decoration: none;
		outline: none;
		transform: var(--button-transform-hover, none);
		filter: var(--button-filter-hover, brightness(0.9));
	}

	&:disabled {
		--filter-hover: unset;
		--button-filter-hover: unset;

		&,
		&:hover,
		&:focus {
			--button-backround: var(--color-medium);
			--button-opacity: 0.5;
			--button-cursor: not-allowed;
		}
	}

}

@mixin heading {
	margin: var(--heading-margin, 0);
	color: var(--heading-color, var(--color-darkest));
	font-weight: var(--font-weight-heading);
	font-family: var(--font-secondary);
	line-height: var(--heading-line-height, 1.2);
	letter-spacing: var(--heading-letter-spacing, unset);
	text-transform: var(--heading-text-transform, unset);

	&:not(:first-child) {
		--heading-margin: var(--spacing-xl) 0 0 0;
	}
}
