@mixin body {
	margin: 0;
	color: var(--color-medium);
	font-weight: var(--font-weight-body);
	font-size: var(--text-md);
	font-family: var(--font-primary);
	line-height: var(--line-height-body);
	background: var(--body-background, var(--color-white));
}

@mixin button($block: false) {
	position: relative;
	display: inline-block;
	width: auto;
	margin: var(--button-margin, 0);
	padding: var(--button-padding, (var(--spacing-md) calc(var(--spacing-md) * 2)));
	color: var(--button-color, var(--color-white));
	font-weight: var(--button-font-weight, var(--font-weight-heading));
	font-size: var(--button-font-size, var(--text-md));
	font-family: var(--button-font-family, var(--font-primary));
	line-height: 1;
	letter-spacing: var(--button-letter-spacing, normal);
	white-space: normal;
	text-align: center;
	text-transform: var(--button-text-transform, none);
	text-decoration: none;
	background: var(--button-background, var(--color-primary));
	border: var(--button-border, 0);
	border-radius: var(--button-border-radius, var(--border-radius));
	cursor: var(--button-cursor, pointer);
	opacity: var(--button-opacity, 1);
	transition: var(--button-transition, var(--transition));

	@if (false == $block) {

		&.button-secondary {
			--button-color: var(--color-dark);
			--button-background: var(--color-muted);
		}

		&.button-tertiary {
			--button-padding: var(--spacing-md) var(--spacing-xs);
			--button-color: var(--color-primary);
			--button-background: transparent;
		}

		&.button-tertiary::after {
			display: inline-block;
			margin-left: var(--spacing-xs);
			content: "\2192";
		}
	}

	&:hover,
	&:focus {
		--button-color: var(--button-color-hover, var(--color-white));
		--button-background: var(--button-background-hover, var(--color-primary));
		text-decoration: none;
		outline: none;
		transform: var(--button-transform-hover, none);
		filter: var(--button-filter-hover, brightness(0.9));
	}

}

@mixin heading {
	margin: var(--heading-margin, 0);
	color: var(--heading-color, var(--color-dark));
	font-weight: var(--font-weight-heading);
	font-family: var(--font-secondary);
	line-height: var(--heading-line-height, 1.2);
	letter-spacing: var(--heading-letter-spacing, unset);
	text-transform: var(--heading-text-transform, unset);

	&:not(:first-child) {
		--heading-margin: var(--spacing-xl) 0 0 0;
	}
}
