@mixin mq($min: false, $max: false) {
	$query: "";

	@if ($min) {
		$min: map_get($breakpoints, $min);
		$query: "only screen and (min-width: #{$min})";
	}

	@if ($max) {
		$max: map_get($breakpoints, $max) - 1;
		$query: "only screen and (max-width: #{$max})";
	}

	@if ($min and $max) {
		$query: "only screen and (min-width: #{$min} ) and (max-width: #{$max})";
	}

	@media #{$query} {
		@content;
	}
}

@mixin hover-focus {

	&:hover,
	&:focus,
	&:active {
		@content;
	}
}
