$all-buttons: append($all-buttons, ".button");
$all-buttons: append($all-buttons, ".button:visited");
$all-text-inputs: append($all-text-inputs, "select");
$all-text-inputs: append($all-text-inputs, "optgroup");
$all-headings: (h1, h2, h3, h4, h5, h6, 'legend:where(:not([class*="gfield"]):not([class*="gform"]):not([class*="wpform"]))', ".is-style-heading", ".is-style-subheading");

$breakpoint: 1200;

$breakpoints: (
	xl: ($breakpoint / 1) * 1px,
	lg: ($breakpoint / 1.2) * 1px,
	md: ($breakpoint / 1.5) * 1px,
	sm: ($breakpoint / 2) * 1px,
	xs: ($breakpoint / 3) * 1px,
) !default;

// $colors: (
// 	black : var(--color-black),
// 	white : var(--color-white),
// 	background : var(--color-background),
// 	alt : var(--color-alt),
// 	header : var(--color-header),
// 	body : var(--color-body),
// 	heading : var(--color-heading),
// 	link : var(--color-link),
// 	primary : var(--color-primary),
// 	secondary : var(--color-secondary),
	// custom-1: var(--color-custom-1),
	// custom-2: var(--color-custom-2),
	// custom-3: var(--color-custom-3),
	// custom-4: var(--color-custom-4),
	// custom-5: var(--color-custom-5),
	// custom-6: var(--color-custom-6),
	// custom-7: var(--color-custom-7),
	// custom-8: var(--color-custom-8),
	// custom-9: var(--color-custom-9),
	// custom-10: var(--color-custom-10),
// ) !default;

$headings: (
	h1: var(--font-size-xxxxl),
	h2: var(--font-size-xxl),
	h3: var(--font-size-xl),
	h4: var(--font-size-lg),
	h5: var(--font-size-md),
	h6: var(--font-size-md),
) !default;

$font-sizes: (
	xxxxl: var(--font-size-xxxxl),
	xxxl: var(--font-size-xxxl),
	xxl: var(--font-size-xxl),
	xl: var(--font-size-xl),
	lg: var(--font-size-lg),
	md: var(--font-size-md),
	sm: var(--font-size-sm),
	xs: var(--font-size-xs),
) !default;

$spacing: (
	xxxxs: var(--spacing-xxxxs),
	xxxs: var(--spacing-xxxs),
	xxs: var(--spacing-xxs),
	xs: var(--spacing-xs),
	sm: var(--spacing-sm),
	md: var(--spacing-md),
	lg: var(--spacing-lg),
	xl: var(--spacing-xl),
	xxl: var(--spacing-xxl),
	xxxl: var(--spacing-xxxl),
	xxxxl: var(--spacing-xxxxl),
) !default;

// For Margin block settings.
$margin: (
	md: var(--spacing-md),
	lg: var(--spacing-lg),
	xl: var(--spacing-xl),
	xxl: var(--spacing-xxl),
	xxxl: var(--spacing-xxxl),
	xxxxl: var(--spacing-xxxxl),
) !default;

$negative_margin: (
	-md: var(--spacing-md),
	-lg: var(--spacing-lg),
	-xl: var(--spacing-xl),
	-xxl: var(--spacing-xxl),
	-xxxl: var(--spacing-xxxl),
	-xxxxl: var(--spacing-xxxxl),
) !default;

$margin_settings: (
	top,
	bottom,
	left,
	right,
) !default;

$padding_scale: (
	no: 0,
	xs: var(--padding-xs),
	sm: var(--padding-sm),
	md: var(--padding-md),
	lg: var(--padding-lg),
	xl: var(--padding-xl),
) !default;

$padding_settings: (
	top,
	bottom,
	left,
	right,
) !default;

$button-styles: (
	secondary,
	link,
	outline,
) !default;

$menus: (
	header,
	after-header,
) !default;
