@import "default";

:root {
	--body-font-family: montserrat, var(--font-stack);
	--heading-font-family: montserrat, var(--font-stack);
	--border-radius: 0;
}

.nav-after-header {
	background: var(--color-darkest);

	--menu-item-link-color: var(--color-lightest);
}

.site-footer {
	--heading-color: var(--color-lightest);
	--entry-title-color: var(--color-light);
	--entry-title-font-size: var(--text-lg);
}

.footer-credits {
	padding: 0;
}
