@import "default";

:root {
	--border-radius: 0;
}

.nav-after-header {
	background: var(--color-heading);

	--menu-item-link-color: var(--color-white);
}

.site-footer {
	--heading-color: var(--color-white);
	--entry-title-color: var(--color-light);
	--entry-title-font-size: var(--font-size-lg);
}

.footer-credits {
	padding: 0;
}
