@import "../abstracts/_index";

:root {
	--color-border: var(--color-heading);
	--shadow: none;
	--font-size-base: 14px;
	--font-scale: 1.3;
	--border-radius: 0;
	--body-line-height: 1.75;
	--heading-line-height: 1.1;
	--button-padding: 0.9em 1.5em;
	--blockquote-padding: 1.5em 0;
	--blockquote-font-size: var(--font-size-xl);
	--blockquote-font-style: normal;
	--blockquote-border-top: var(--border);
	--blockquote-border-bottom: var(--border);
	--blockquote-border-left: 0;
	--blockquote-font-family: var(--heading-font-family);
	--cite-font-weight: var(--body-font-weight);
	--cite-font-family: var(--body-font-family);
	--cite-font-size: 1em;
	--content-sidebar-wrap-margin: var(--spacing-xxxl) auto;
	--site-header-border-bottom: 0;
	--site-title-font-size: var(--font-size-lg);
	--menu-font-size: var(--font-size-base);
	--sub-menu-background: var(--color-heading);
	--entry-title-font-size: var(--font-size-xxxl);
	--drop-cap-font-family: var(--heading-font-family);
	--drop-cap-line-height: 0.9;
	--archive-description-margin: 1em 0 3em;
	--archive-title-font-size: var(--font-size-xl);
	--comment-border: 0;
	--after-entry-text-align: center;

	@include mq(lg) {
		--nav-header-margin: auto;
	}
}

.sub-menu {
	--menu-item-link-color: var(--color-white);
	--menu-item-link-color-hover: var(--color-secondary);
}

.sub-menu .menu-item-link-current,
.sub-menu .menu-item-link:focus,
.sub-menu .menu-item-link:hover {
	color: var(--color-white);
	background-color: var(--color-secondary);
}

.single .entry-title,
.single .entry-meta {
	text-align: center;
}
