:root {
	--border-radius: 3px;
	--button-padding: 0.9em 3em;
	--button-border: 1px solid rgba(0, 0, 0, 0.2);
	--button-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.wp-block-button__line {
	display: inline-block;
	margin-top: 0.4em;
	font-weight: var(--body-font-weight);
	font-size: medium;
	opacity: 0.8;
}
