@import "../abstracts/_index";

:root {
	--font-scale: 1.1;
	--font-size-responsive: 0.05vw;
	--font-size-base: 13px;
	--border-radius: 0;
	--button-font-size: var(--font-size-sm);
	--button-font-family: var(--heading-font-family);
	--button-text-transform: uppercase;
	--button-letter-spacing: 0.1em;
	--heading-text-transform: uppercase;
	--input-font-size: var(--font-size-sm);
	--input-font-family: var(--heading-font-family);
	--menu-text-transform: uppercase;
	--menu-font-family: var(--heading-font-family);
	--menu-letter-spacing: 0.1em;
	--menu-item-link-padding: var(--spacing-sm);
	--site-header-border-bottom: 0;
	--widget-padding: 1.5em;
	--widget-border: var(--border);
}

.inline {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	--input-margin: 0 0.5em;
	--button-margin: 0 0.5em;

	> * {
		flex: 1;
	}
}

.widget:first-of-type {
	padding: 2em;
	background: var(--color-alt);
	border: 0;
}

@include mq(null, lg) {

	.before-header {
		display: none;
	}
}
