:root {
	--font-scale: 1.2;
	--font-size-base: 15px;
	--body-background-color: #fcfcfc;
	--body-font-weight: var(--font-weight-light);
	--border-radius: 2px;
	--shadow: 0 4px 24px 12px rgba(0, 0, 0, 0.025);
	--entry-meta-font-size: var(--font-size-xs);
	--avatar-border-radius: 50%;
}

html {
	-moz-osx-font-smoothing: unset;
}

.wp-block-cover .wp-block-group.has-white-background-color {
	background-color: rgba(255, 255, 255, 0.9) !important;
}

.nav-after-header {
	--menu-item-link-color: var(--color-white);
	--menu-font-size: 0.8em;
	--menu-letter-spacing: 0.1rem;
	--menu-text-transform: uppercase;

	background-color: var(--color-heading);
}

.page-header-inner:not(:empty) {
	--page-header-inner-background: rgba(255, 255, 255, 0.9);
	--page-header-inner-padding: var(--spacing-xl) var(--spacing-xl);
	--page-header-inner-border-radius: var(--border-radius);
	--page-header-inner-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.entry-image-single:first-child {
	--entry-image-link-margin-bottom: -6px;

	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: var(--shadow);
}

body:not(.has-alignfull-first) .entry-wrap-single {
	margin-bottom: var(--spacing-xxl);
	padding: calc(8px + 2vw);
	background: var(--color-white);
	border: var(--border);
	box-shadow: var(--shadow);
}

.entry-meta {
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.wp-block-quote {
	position: relative;

	--blockquote-border-top: 0;
	--blockquote-border-right: 0;
	--blockquote-border-bottom: 0;
	--blockquote-border-left: 0;

	> * {
		position: relative;
		z-index: 1;
	}
}

.wp-block-quote::before {
	position: absolute;
	top: calc(var(--spacing-lg) * -1);
	left: calc(var(--spacing-xl) * -1);
	z-index: 0;
	width: 100px;
	height: 100px;
	background: currentColor;
	mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 80" x="0px" y="0px"><path d="M62,39.2185a14.4095,14.4095,0,1,1-28.8189,0c0-22.8976,20.0571-27.8483,26.2044-28.82a2.2672,2.2672,0,0,1,1.1972,4.3423c-2.7345,1.1147-11.5891,5.11-11.8068,10.1169A14.3406,14.3406,0,0,1,62,39.2185ZM29.4016,14.7409a2.2669,2.2669,0,0,0-1.1972-4.3423C22.0571,11.37,2,16.3209,2,39.2185A14.4095,14.4095,0,1,0,17.5947,24.8578C17.8125,19.8511,26.6671,15.8556,29.4016,14.7409Z"/></svg>');
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	opacity: 0.1;
	content: "";
}
