:root {
	--font-scale: 1.2;
	--font-size-base: 15px;
	--body-font-weight: var(--font-weight-light);
	--shadow: 0 4px 24px rgba(0, 0, 0, 0.025);
	--page-header-overlay: transparent;
	--page-header-overlay-opacity: 1;
	--page-header-inner-background: rgba(255, 255, 255, 0.9);
	--page-header-inner-max-width: 800px;
	--page-header-inner-padding: var(--spacing-xl) var(--spacing-xl);
	--page-header-inner-border-radius: var(--border-radius);
	--page-header-inner-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

html {
	-moz-osx-font-smoothing: unset;
}

.is-single {

	&:not(.home) .content > .entry {
		--entry-background: var(--color-white);
		--entry-padding: calc(8px + 2vw);
		--entry-border: var(--border);
		--entry-box-shadow: var(--shadow);
	}
}

.nav-after-header {
	--menu-item-link-color: var(--color-white);
	--menu-font-size: 0.8em;

	letter-spacing: 0.1rem;
	text-transform: uppercase;
	background-color: var(--color-heading);
}
