:root {
	--button-padding: 1.3em 2.6em;
	--button-border-radius: 100px;
	--button-font-size: 0.8em;
	--button-font-weight: var(--body-font-weight);
	--button-text-transform: uppercase;
	--button-box-shadow-hover: 0 1em 3em -1em var(--color-primary);
	--button-overlay-color: transparent;
}

.header-stuck,
.single:not(.page) {
	--site-header-background: var(--color-heading);
	--title-area-color: var(--color-white);
	--menu-item-link-color: var(--color-white);
}
