@import "../abstracts/_index";

:root {
	--font-scale: 1.125; // Major second.
	--border-radius: 0;
	--heading-text-transform: uppercase;
	--heading-letter-spacing: 1px;
	--button-font-family: var(--heading-font-family);
	--button-font-weight: var(--heading-font-weight);
	--button-text-transform: uppercase;
}

.site-container {
	border-top: 20px solid var(--color-primary);
	border-bottom: 20px solid var(--color-primary);
}

.button {
	--font-size-base: 0.75em;
}

.before-header {
	--before-header-background-gradient-color: rgba(0, 0, 0, 0.025);
	background: var(--color-alt);
	background-image: repeating-linear-gradient(45deg, transparent 0, transparent 40px, var(--before-header-background-gradient-color) 40px, var(--before-header-background-gradient-color) 80px), repeating-linear-gradient(135deg, transparent 0, transparent 40px, var(--before-header-background-gradient-color) 40px, var(--before-header-background-gradient-color) 80px);
	background-repeat: no-repeat;
	background-position: top left, bottom left;
	background-size: 100% 50%;
}

.nav-after-header {
	--menu-font-family: var(--heading-font-family);
	--menu-font-weight: var(--heading-font-weight);
	--menu-font-size: var(--font-size-sm);
	--menu-text-transform: uppercase;
}

.archive-title,
.entry-title-single {
	text-align: center;
}

@include mq(lg) {

	:root {
		--sidebar-width: 368px;
	}
}
