:root {
	--font-size-base: 14px;
	--border-radius: 0;
	--site-header-background: var(--color-primary);
	--title-area-color: var(--color-white);
}

.nav-header {
	--menu-font-size: var(--font-size-base);
	--menu-font-weight: bold;
	--menu-item-link-color: var(--color-white);
}

.is-style-subheading {
	font-style: italic;

	--heading-font-family: var(--subheading-font-family);
	--heading-font-weight: var(--subheading-font-weight);
	--heading-text-transform: normal;
	--heading-letter-spacing: 0;
}

.has-image-full {

	.has-image-first {

		.entry-wrap > :first-child {
			width: 100%;
			max-width: calc(100% - var(--spacing-xl));
			margin-top: calc(var(--spacing-xxl) * -1);
			margin-right: auto;
			margin-left: auto;
			padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-md);
			background-color: var(--color-white);
		}
	}
}

.archive-pagination {
	--button-secondary-background: var(--color-alt);
	--button-secondary-background-hover: var(--color-alt);
	--button-secondary-color: var(--color-body);
	--button-secondary-color-hover: var(--color-body);
}
