@import "../abstracts/_index";

:root {
	--font-size-base: 14px;
	--border-radius: 0;
	--button-font-weight: var(--body-font-weight-bold);
	--author-box-color: var(--color-white);
	--author-box-background: var(--color-primary);
	--author-box-border: 0;
	--author-box-border-radius: 0;
	--author-box-shadow: 0;
	--author-box-grid-column-gap: 0;
	--author-box-avatar-margin: -60px auto 0;
}

.entry-content {
	--link-text-decoration: underline;
	--list-margin-left: var(--spacing-xxl);

	li::marker {
		color: var(--color-secondary);
	}
}

.entry-meta {
	font-style: italic;
}

.nav-header {
	--menu-font-size: var(--font-size-base);
	--menu-font-weight: bold;
}

.nav-header .button,
.mobile-menu .button {
	--button-background: var(--color-white);
	--button-color: var(--color-heading);
	--button-background-hover: var(--color-white);
	--button-color-hover: var(--color-secondary);
}

.is-style-subheading {
	font-style: italic;

	--heading-font-family: var(--subheading-font-family);
	--heading-font-weight: var(--subheading-font-weight);
	--heading-text-transform: normal;
	--heading-letter-spacing: 0;
}

.has-image-full {

	.has-image-first {

		.entry-wrap > :first-child {
			width: 100%;
			max-width: calc(100% - var(--spacing-xl));
			margin-top: calc(var(--spacing-xl) * -1);
			margin-right: auto;
			margin-left: auto;
			padding: var(--spacing-lg) var(--spacing-lg) 0;
			background-color: var(--color-white);
		}
	}
}

.archive-pagination {
	--button-secondary-background: var(--color-alt);
	--button-secondary-background-hover: var(--color-alt);
	--button-secondary-color: var(--color-body);
	--button-secondary-color-hover: var(--color-body);
}

.author-box {
	--heading-color: var(--color-white);

	@include mq(sm) {
		--author-box-avatar-margin: -60px 60px 0 -60px;

		margin-top: var(--spacing-xxxl);
	}
}

.author-box-title,
.author-box-content {
	margin-left: -12px;
}

.wp-block-image {

	&.has-overlap img {
		width: 100%;
	}
}

blockquote {
	--blockquote-font-size: var(--font-size-lg);
	--blockquote-border-top: 0;
	--blockquote-border-right: 0;
	--blockquote-border-bottom: 0;
	--blockquote-border-left: 0;

	&::before {
		display: block;
		width: 40px;
		height: 40px;
		background: currentColor;
		mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 80" x="0px" y="0px"><path d="M62,39.2185a14.4095,14.4095,0,1,1-28.8189,0c0-22.8976,20.0571-27.8483,26.2044-28.82a2.2672,2.2672,0,0,1,1.1972,4.3423c-2.7345,1.1147-11.5891,5.11-11.8068,10.1169A14.3406,14.3406,0,0,1,62,39.2185ZM29.4016,14.7409a2.2669,2.2669,0,0,0-1.1972-4.3423C22.0571,11.37,2,16.3209,2,39.2185A14.4095,14.4095,0,1,0,17.5947,24.8578C17.8125,19.8511,26.6671,15.8556,29.4016,14.7409Z"/></svg>');
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		content: "";
	}

	cite {

		&::before {
			margin-right: var(--spacing-xxs);
			content: "\2014";
		}
	}
}

.wp-block-pullquote blockquote::before {
	margin: auto;
}

.entry-content > .wp-block-quote,
.entry-content > .wp-block-pullquote {
	--blockquote-padding: var(--spacing-xl);
	--blockquote-background: var(--color-alt);
}
