@import "../abstracts/_index";

:root {
	--font-scale: 1.2;
	--border-radius: 0;
	--body-line-height: 1.875;
	--button-padding: 1.2em 2.4em;
	--button-font-size: 0.7em;
	--button-font-weight: var(--body-font-weight-bold);
	--button-text-transform: uppercase;
	--button-overlay-color: var(--color-white);
	--link-color: var(--color-body);
	--link-color-hover: var(--color-body);
	--link-text-decoration-hover: none;
	--blockquote-font-family: var(--heading-font-family);
	--blockquote-font-style: normal;
	--blockquote-border-top: var(--border);
	--blockquote-border-bottom: var(--border);
	--blockquote-border-left: 0;
	--cite-font-family: var(--body-font-family);
	--label-font-size: 1em;
	--label-font-weight: var(--body-font-weight-bold);
	--site-header-border-bottom: 0;
	--site-title-margin: 0 0.5em;
	--site-title-font-size: var(--font-size-lg);
	--site-title-font-weight: var(--body-font-weight-bold);
	--menu-font-family: var(--heading-font-family);
	--menu-font-size: var(--font-size-sm);
	--menu-letter-spacing: 0.5px;
	--menu-text-transform: uppercase;
	--menu-item-link-color-hover: var(--color-body);
	--menu-toggle-line-width: 24px;
	--menu-toggle-line-spacing: 6px;
	--entry-title-link-color-hover: var(--color-link);
	--entry-meta-font-size: var(--font-size-xs);
	--entry-excerpt-font-size: 1.2em;
	--entry-excerpt-font-family: var(--heading-font-family);
	--comments-max-width: var(--breakpoint-sm);
	--archive-description-max-width: var(--breakpoint-sm);
	--archive-description-text-align: center;
	--archive-description-margin: 3em auto;
	--archive-title-font-size: var(--font-size-lg);
	--archive-title-font-weight: var(--body-font-weight-bold);

	@include mq(md) {
		--font-scale: 1.3;
	}
}

.single-post,
.is-archive {
	--content-sidebar-wrap-margin-top: 0;
}

.menu-toggle {
	color: var(--color-body);

	@include hover-focus {
		color: var(--color-body);
	}
}

.header-left {
	--header-section-justify-content: flex-end;
	--menu-justify-content: flex-end;
}

.header-right {
	--header-section-justify-content: flex-start;
	--menu-justify-content: flex-start;
}

.menu-item-link span {
	border-bottom: 1px solid transparent;
}

.menu-item-link span:hover,
.menu-item-link span:focus,
.entry-meta a:not(.button),
.entry-content a:not([class]) {
	border-bottom: 1px solid var(--color-link);
	box-shadow: inset 0 -5px 0 0 var(--color-link);
}

.entry-meta {
	text-transform: uppercase;
}

.entry-meta-after-content {
	margin-top: 2em;
	padding-top: 2em;
	font-size: var(--font-size-base);
	text-align: left;
	text-transform: capitalize;
	border-top: var(--border);
}

.entry-meta a:not(.button),
.entry-content a:not([class]) {

	@include hover-focus {
		box-shadow: inset 0 -22px 0 0 var(--color-link);
	}
}

.page .entry-title {
	font-size: var(--font-size-xxl);
}

.entry-single:not(.type-page) {

	h1.entry-title,
	.entry-meta-before-content,
	.entry-meta-after-content,
	.entry-excerpt-single {
		text-align: center;
	}

}

.entries-archive.has-image-full {

	.entry-title,
	.entry-meta-before-content,
	.entry-meta-after-content,
	.entry-excerpt {
		text-align: center;
	}
}

.page .entry-title::after,
.entry-excerpt::after {
	display: block;
	width: 2.5%;
	margin: 1em 0;
	border-bottom: 1px solid var(--color-black);
	content: "";
}

.entry-excerpt::after {
	margin: 1em auto;
}

@include mq(lg) {

	.no-sidebar .entry-single.has-image-first,
	.no-sidebar [style*="--columns-md:1;"].has-image-full:not(.has-boxed) .has-image-first {
		--entry-wrap-margin: -8em auto 0;
		--entry-wrap-padding: 4em 8em;
		--entry-wrap-background: var(--color-background);
		--entry-image-link-margin: 0 auto;
		--entry-image-link-max-width: var(--breakpoint-xl);
		--entry-wrap-width: calc(var(--breakpoint-sm) + 16em);
	}
}
