@import "../abstracts/_index";

:root {
	--font-scale: 1.3;
	--border-radius: 0;
	--body-line-height: 1.875;
	--button-padding: 1.2em 2.4em;
	--button-font-size: 0.7em;
	--button-font-weight: var(--font-weight-bold);
	--button-font-family: var(--body-font-family);
	--button-text-transform: uppercase;
	--button-overlay-color: var(--color-white);
	--link-color: var(--color-body);
	--link-color-hover: var(--color-body);
	--link-text-decoration-hover: none;
	--blockquote-font-family: var(--heading-font-family);
	--blockquote-font-style: normal;
	--blockquote-border-top: var(--border);
	--blockquote-border-bottom: var(--border);
	--blockquote-border-left: 0;
	--cite-font-family: var(--body-font-family);
	--label-font-size: 1em;
	--label-font-weight: var(--font-weight-bold);
	--site-header-border-bottom: 0;
	--site-title-margin: 0 0.5em;
	--site-title-font-size: var(--font-size-lg);
	--site-title-font-weight: var(--font-weight-bold);
	--menu-font-family: var(--heading-font-family);
	--menu-font-size: var(--font-size-sm);
	--menu-letter-spacing: 0.5px;
	--menu-text-transform: uppercase;
	--menu-item-link-color-hover: var(--color-body);
	--entry-title-link-color-hover: var(--color-link);
	--entry-meta-font-size: var(--font-size-xs);
	--entry-excerpt-font-size: 1.2em;
	--entry-excerpt-font-family: var(--heading-font-family);
	--comments-max-width: var(--breakpoint-sm);
}

.nav-header-left {
	margin-left: auto;
}

.nav-header-right {
	margin-right: auto;
}

.entry-meta {
	text-transform: uppercase;
}

.menu-item-link span {
	border-bottom: 1px solid transparent;
}

.menu-item-link span:hover,
.menu-item-link span:focus,
.entry-meta a:not(.button),
.entry-content a:not([class]) {
	border-bottom: 1px solid var(--color-link);
	box-shadow: inset 0 -5px 0 0 var(--color-link);
}

.entry-meta a:not(.button),
.entry-content a:not([class]) {

	@include hover-focus {
		box-shadow: inset 0 -22px 0 0 var(--color-link);
	}
}

.entry-meta,
.entry-title,
.entry-excerpt {
	text-align: center;
}

.entry-excerpt::after {
	display: block;
	width: 2.5%;
	margin: 1em auto;
	border-bottom: 1px solid #000;
	content: "";
}

@include mq(md) {

	.no-sidebar .entry-single.has-image-first,
	.no-sidebar [style*="--columns-md:1;"].has-image-full:not(.has-boxed) .has-image-first {
		--entry-wrap-margin: -8em auto 0;
		--entry-wrap-padding: 4em 8em;
		--entry-wrap-background: var(--color-background);
		--entry-image-link-display: block;
		--entry-image-link-margin: 0 auto;
		--entry-image-link-max-width: var(--breakpoint-xl);
		--entry-wrap-width: calc(var(--breakpoint-sm) + 16em);
	}
}
