:root {
	--border-radius: 3px;
	--shadow: 0 12px 16px -8px rgba(0, 0, 0, 0.075);
	--menu-font-family: var(--heading-font-family);
	--menu-font-weight: var(--heading-font-weight-light);
	--input-padding: 0.5em;
	--input-font-family: var(--heading-font-family);
	--input-border: 1px solid rgba(0, 0, 0, 0.4);
	--button-padding: 0.7rem 2rem;
	--button-font-family: var(--heading-font-family);
	--button-background-hover: var(--color-primary-light);
	--button-transform-hover: translateY(-1px);
	// --entry-title-text-decoration: underline var(--color-link);
	--entry-meta-font-weight: var(--heading-font-weight-light);
	--entry-meta-font-size: var(--font-size-xs);
	--entry-meta-font-family: var(--heading-font-family);
	--entry-meta-letter-spacing: 1px;
	--author-box-background: var(--color-alt);
	--author-box-border: 0;
	--author-box-shadow: none;
	--adjacent-entry-link-inner-background: var(--color-alt);
	--adjacent-entry-link-inner-border: 0;
	--adjacent-entry-link-inner-box-shadow: none;
}

.entries {
	--entry-meta-margin: 0 0 var(--spacing-xxxxs) 0;
}

.entry-meta {
	--link-color: var(--color-secondary);
	text-transform: uppercase;
}

.entry-title-link {
	// text-decoration-thickness: 3px;
}

.entry-title-link:hover,
.entry-title-link:focus {
	// text-decoration-thickness: 6px;
}
