:root {
	--menu-text-transform: uppercase;
	--menu-letter-spacing: 1px;
	--menu-font-size: var(--font-size-xs);
	--menu-font-weight: bold;
	--menu-item-link-text-decoration-hover: underline;
	--menu-item-link-text-decoration-focus: underline;
	--button-text-transform: uppercase;
	--button-letter-spacing: 1px;
	--button-font-size: var(--font-size-xs);
	--button-font-weight: bold;
	--button-outline-width: 1px;
	--border-radius: 0;
	--border: 1px var(--color-secondary-dark) solid;
	--input-border: 1px solid var(--color-heading);
	--input-background-color: transparent;
	--cart-total-font-size: 0.75rem;
	--cart-total-background: var(--color-link);
}

.menu-item-link-current,
.menu-item-link:focus,
.menu-item-link:hover {
	--menu-item-name-filter-hover: none;
}

.nav-header .menu-item-link-current {
	--menu-item-link-text-decoration: underline;
}

.site-title {
	--site-title-font-size: var(--font-size-sm);
	letter-spacing: 1px;
	text-transform: uppercase;
}

h1 {
	--heading-text-transform: uppercase;
}

h1,
.has-xxxl-font-size,
.has-xxxxl-font-size {
	--heading-line-height: var(--line-height-xs);
}

.is-style-altfont:where(p) {
	line-height: var(--line-height-sm);
}

.is-style-altfont em {
	display: inline-block;
	font-style: normal;
	rotate: -4deg;
}

.has-dark-background {
	--input-color: currentColor;
	--input-placeholder-opacity: 0.8;
}

.entries-grid.has-image-background {
	--heading-font-family: var(--alt-font-family, inherit);
	--heading-font-size: var(--font-size-xxxxl);
	--entry-overlay-opacity: 0.4;
}

.entries-grid.has-image-full {
	--heading-font-family: var(--body-font-family);
	--heading-font-weight: var(--body-font-weight-bold);
	--heading-text-transform: uppercase;
	--heading-letter-spacing: 1px;
	--entry-image-link-margin-bottom: var(--spacing-lg);
}

input[type=email][placeholder]:not([placeholder=""]),
input[type=number][placeholder]:not([placeholder=""]),
input[type=password][placeholder]:not([placeholder=""]),
input[type=search][placeholder]:not([placeholder=""]),
input[type=tel][placeholder]:not([placeholder=""]),
input[type=text][placeholder]:not([placeholder=""]),
input[type=url][placeholder]:not([placeholder=""]),
textarea[placeholder]:not([placeholder=""]) {
	padding-inline-start: 0;
	padding-block-end: var(--spacing-xxs);
	border-width: 0;
	border-bottom-width: 1px;
	border-color: currentColor;
}

input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=text]::placeholder,
input[type=url]::placeholder,
textarea::placeholder {
	font-family: var(--heading-font-family);
	font-style: italic;
}

.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	--input-border: 0;
	border-bottom: 1px solid currentcolor;
}

.entry-title-link {
	letter-spacing: -1px;
}

.archive-pagination {
	--button-small-padding: 0.4rem 0.6rem;
}

.archive-pagination .button-secondary {
	--button-background: transparent;
}

.entry-custom-content:first-child {
	--entry-custom-content-margin-bottom: 0;
}
