@import "default";

:root {
	--border-radius: 1px;
	--menu-font-size: var(--font-size-xs);
	--menu-font-family: var(--heading-font-family);
	--menu-item-link-color: var(--heading-color);
}

.site-header,
.site-inner {
	box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.02);
}

.before-header {
	background: var(--body-background-color);
}

.nav-header {
	font-size: var(--font-size-sm);
}

.nav-after-header {
	border-bottom: var(--border);
}

.menu {
	text-transform: uppercase;
}

.breadcrumb {
	text-align: center;
}

.before-footer {
	background: var(--color-medium);
}

.home .wp-block-group.has-white-background-color {
	padding: 3vw;
}

.home-form {
	position: relative;
}

.home-form .wp-block-columns {
	margin-bottom: 0;
}

.home-form .wp-block-image img {
	display: block;
	width: 100%;
	margin-top: -60px;
	border: 16px solid #faf7f6;
	box-shadow: 0 0 0 2px #fff, 0 0 8px 4px rgba(0, 0, 0, 0.02);
}

@include mq(lg) {

	.home-form .wp-block-image img {
		margin-bottom: -60px;
	}

}

.home-form h2 {
	display: flex;
	align-items: center;
}

.home-form h2::before,
.home-form h2::after {
	flex-grow: 1;
	height: 1px;
	margin-right: var(--spacing-md);
	background-color: currentColor;
	content: "";
}

.home-form h2::before {
	margin-right: var(--spacing-md);
}

.home-form h2::after {
	margin-left: var(--spacing-md);
}

@include mq(false, md) {

	.wpforms-container.inline-fields .wpforms-field-container,
	.wpforms-container.inline-fields .wpforms-field {
		display: block;
		float: none;
		width: 100%;
	}

	.wpforms-container.inline-fields .wpforms-field-container {
		padding: 0;
	}

	.wpforms-container.inline-fields .wpforms-field {
		padding: 0 0 var(--spacing-md);
	}

	.wpforms-container.inline-fields .wpforms-submit-container {
		float: none;
		width: 100%;
		padding: 0;
	}

}

@include mq(md) {

	.wpforms-container.inline-fields {
		margin-bottom: 0;
	}

	.wpforms-container.inline-fields .wpforms-form {
		display: flex;
	}

	.wpforms-container.inline-fields .wpforms-submit-container {
		padding: 10px 0;
	}

	.wpforms-container.inline-fields .wpforms-submit {
		height: 100%;
	}
}
