@import "../abstracts/_index";

:root {
	--font-scale: 1.125;
	--border-radius: 1px;
	--color-medium: #f9f9f9;
	--heading-text-transform: uppercase;
	--menu-font-size: var(--font-size-xs);
	--menu-font-family: var(--heading-font-family);
	--menu-item-link-color: var(--color-heading);
	--button-font-family: var(--heading-font-family);
	--button-font-weight: var(--heading-font-weight);
}

.site-header,
.site-inner {
	box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.02);
}

.nav-header {
	font-size: var(--font-size-sm);
}

.nav-after-header {
	border-bottom: var(--border);
}

.menu {
	text-transform: uppercase;
}

.breadcrumb {
	text-align: center;
}

.home-form {
	position: relative;

	.wp-block-columns {
		margin-bottom: 0;
	}

	.wp-block-image img {
		display: block;
		width: 100%;
		margin-top: -60px;
		border: 16px solid #faf7f6;
		box-shadow: 0 0 0 2px #fff, 0 0 8px 4px rgba(0, 0, 0, 0.02);

		@include mq(lg) {
			margin-bottom: -60px;
		}
	}

	h2 {
		display: flex;
		align-items: center;

		&::before,
		&::after {
			flex-grow: 1;
			height: 1px;
			margin-right: var(--spacing-md);
			background-color: currentColor;
			content: "";
		}

		&::before {
			margin-right: var(--spacing-md);
		}

		&::after {
			margin-left: var(--spacing-md);
		}
	}
}
