@import "default";

:root {
	--shadow-opacity: 0.1;
	--border-size: 2px;
	--input-placeholder-color: var(--color-medium);
	--blockquote-border-left: 0;
	--site-title-font-size: var(--font-size-md);
	--menu-font-size: var(--font-size-sm);
	--entry-title-font-size: var(--font-size-md);
	--footer-credits-padding: 0;

	@include mq(lg) {
		--font-size-md: 20px;
	}
}

.has-boxed {
	--entry-border: 0;
}

.site-footer {
	--link-color: currentColor;
	--input-background-color: transparent;
	--input-border: var(--border-size) var(--border-style) var(--color-medium);
}
