@use "../abstracts/mixins";

:root {
	--font-scale-desktop: 1.24;
	--font-size-base: 14px;
	--border-radius: 0;
	--border: 1px solid var(--color-heading);
	--shadow: 0.5em 0.5em var(--color-alt);
	--body-line-height: 1.875;
	--link-color: var(--color-heading);
	--link-color-hover: var(--color-link);
	--link-text-decoration: underline;
	--button-border: var(--border);
	--button-box-shadow: var(--shadow);
	--button-font-weight: var(--body-font-weight-bold);
	--button-font-size: small;
	--button-text-transform: uppercase;
	--button-link-padding: 0.9em 0;
	--button-link-color: var(--color-heading);
	--button-link-color-hover: var(--color-link);
	--button-link-after-display: none;
	--button-large-font-size: var(--font-size-base);
	--button-large-padding: 1.5em 3em;
	--blockquote-margin: 2em auto;
	--blockquote-padding: 2em;
	--blockquote-border-top: var(--border);
	--blockquote-border-right: var(--border);
	--blockquote-border-bottom: var(--border);
	--blockquote-box-shadow: var(--shadow);
	--blockquote-font-style: normal;
	--caption-text-align: unset;
	--caption-font-size: smaller;
	--site-header-border-bottom: 0;
	--menu-toggle-padding: 1em 1.5em;
	--menu-toggle-line-width: 1em;
	--menu-toggle-line-spacing: -0.333em;
	--mobile-menu-border-bottom: 0;
	--entry-title-font-size: var(--font-size-xxl);
	--entry-image-link-margin: 1em auto 2em;
	--archive-description-margin: 0 auto 3em;
	--archive-title-font-size: 2em;
	--after-entry-text-align: center;

	@include mixins.mq(sm) {
		--menu-font-size: var(--font-size-sm);
	}
}

.page,
.has-boxed {
	--entry-border: 0;
	--entry-box-shadow: none;
	--entry-overflow: visible;
	--entry-image-link-border: var(--border);
	--entry-image-link-box-shadow: var(--shadow);
}

.has-boxed .entry:nth-of-type(odd) {
	padding-top: 4em;
}
