.mai-addons-description {
	margin-top: 24px;
}

.mai-addons-description:not(.has-design-pack) {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.mai-addons-description p {
	margin: 0 0 8px;
}

.mai-addons-cta .button-primary {
	padding: 10px 26px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.mai-addons-cta a {
	text-decoration: none;
}

@media only screen and (min-width: 600px) {

	.mai-addons-description:not(.has-design-pack) {
		place-items: center;
		grid-template-columns: 2fr 1fr;
	}

	.mai-addons-cta a {
		display: block;
		text-align: center;
	}
}

.mai-addons {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(var(--mai-addons-columns, 1), 1fr);
	margin-top: 32px;
}

.mai-addon {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 24px;
	border: var(--mai-addon-border, 1px solid rgba(0, 0, 0, 0.15));
	border-radius: 3px;
	box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.05);
}

.mai-addon-name {
	margin: 0;
}

.mai-addon-actions {
	display: flex;
	align-items: center;
	margin: auto 0 0;
}

.mai-addon-actions > * + * {
	margin-left: 12px !important;
}

.mai-addon-actions .button[disabled] {
	cursor: not-allowed !important;
}

.mai-addon-active {
	color: #5cb85c;
	font-variant: all-small-caps;
}

.mai-addon-links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 32px;
	margin: 24px -24px -24px;
	padding: 0 4px;
	font-variant: all-small-caps;
	background: rgba(0, 0, 0, 0.05);
}

.mai-addon-links .dashicons {
	width: 1em;
	height: 1em;
	margin-right: 4px;
	font-size: 1.3em;
}

.mai-addon-settings,
.mai-addon-docs {
	display: inline-flex;
	align-items: center;
	padding: 6px 8px;
	text-decoration: none;
}

.mai-addon-settings {
	display: var(--mai-addon-settings-display, none);
	grid-column-start: 1;
	justify-content: start;
}

.mai-addon-docs {
	grid-column-start: 2;
	justify-content: end;
}


.mai-addon-is-active {
	--mai-addon-settings-display: inline-flex;
}

@media only screen and (min-width: 400px) and (max-width: 599px) {

	:root {
		--mai-addons-columns: 2;
	}
}

@media only screen and (min-width: 600px) {

	:root {
		--mai-addons-columns: 3;
	}
}

.mai-addon-loading {
	--mai-addon-border: 1px solid rgba(0, 0, 0, 0.05);
}

.mai-addon-loading > *:not(.mai-addon-loader) {
	opacity: 0.25;
}

.mai-addon-loader {
	--loader-size: 44px;
	--checkmark-width: 22px;
	--checkmark-height: 12px;
	--checkmark-color: #5cb85c;
	position: absolute;
	top: calc(50% - 16px); /* minus half the action-links height */
	left: 50%;
	display: block;
	width: var(--loader-size);
	height: var(--loader-size);
	margin: calc(var(--loader-size) * -0.5) 0 0 calc(var(--loader-size) * -0.5);
	text-indent: -9999em;
}

.mai-addon-loader-inner {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.mai-addon-loader-circle,
.mai-addon-loader-circle-done {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: calc(var(--loader-size) - 6px);
	height: calc(var(--loader-size) - 6px);
	border-radius: 50%;
}

.mai-addon-loader-circle {
	border: 3px solid rgba(0, 0, 0, 0.2);
	border-left-color: var(--checkmark-color);
	animation: maiaddoncircle 1s infinite linear;
}

.mai-addon-loader-circle-done {
	border: 3px solid var(--checkmark-color);
	animation: maiaddoncircledone 1s ease;
}

.mai-addon-loader-checkmark {
	position: absolute;
	top: 24px;
	left: 8px;
	width: var(--checkmark-width);
	height: var(--checkmark-height);
	border-bottom: 3px solid var(--checkmark-color);
	border-left: 3px solid var(--checkmark-color);
	transform: rotate(-50deg);
	transform-origin: top left;
	opacity: 1;
	animation: maiaddoncheck 1.5s ease;
}

@keyframes maiaddoncircle {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes maiaddoncircledone {

	0% {
		border-color: transparent;
	}

	100% {
		border-color: var(--checkmark-color);
	}
}

@keyframes maiaddoncheck {

	0% {
		width: 0;
		height: 0;
	}

	20% {
		width: 0;
		height: var(--checkmark-height);
	}

	40% {
		width: var(--checkmark-width);
		height: var(--checkmark-height);
	}

	100% {
		width: var(--checkmark-width);
		height: var(--checkmark-height);
	}
}
