/**
 * Editor block content width.
 * Needs to be here (not in editor.scss) so we can target body classes.
 *
 * Media query size for :not(is-sidebar-opened):
 * max-width + 160 (admin menu width) + 60px (extra).
 *
 * Media query size for is-sidebar-opened:
 * max-width + 160 (admin menu width) + 280 (block editor sidebar width) + 60px (extra).
 */

.edit-post-visual-editor__post-title-wrapper,
.block-editor-block-list__layout.is-root-container {
	padding-right: var(--spacing-lg);
	padding-left: var(--spacing-lg);
}

.wp-block[data-align="full"] {
	margin-right: calc(var(--spacing-lg) * -1);
	margin-left: calc(var(--spacing-lg) * -1);
}

// Wide Content (Default).
@media only screen and (max-width: 1219px) {

	.edit-post-layout:not(.is-sidebar-opened) .editor-post-title__block,
	.edit-post-layout:not(.is-sidebar-opened) .is-root-container > .wp-block {
		// --wp-block-max-width: 95%;
	}
}

@media only screen and (min-width: 1220px) {

	.edit-post-layout:not(.is-sidebar-opened) {
		--wp-block-max-width: var(--breakpoint-lg);
	}
}

@media only screen and (max-width: 1499px) {

	.edit-post-layout.is-sidebar-opened .editor-post-title__block,
	.edit-post-layout.is-sidebar-opened .is-root-container > .wp-block {
		// --wp-block-max-width: 95%;
	}
}

@media only screen and (min-width: 1500px) {

	.edit-post-layout.is-sidebar-opened {
		--wp-block-max-width: var(--breakpoint-lg);
	}
}

// Standard Content.
@media only screen and (max-width: 1019px) {

	.standard-content .edit-post-layout:not(.is-sidebar-opened) .editor-post-title__block,
	.standard-content .edit-post-layout:not(.is-sidebar-opened) .is-root-container > .wp-block {
		// --wp-block-max-width: 95%;
	}
}

@media only screen and (min-width: 1020px) {

	.standard-content .edit-post-layout:not(.is-sidebar-opened) {
		--wp-block-max-width: var(--breakpoint-md);
	}
}

@media only screen and (max-width: 1299px) {

	.standard-content .edit-post-layout.is-sidebar-opened .editor-post-title__block,
	.standard-content .edit-post-layout.is-sidebar-opened .is-root-container > .wp-block {
		// --wp-block-max-width: 95%;
	}
}

@media only screen and (min-width: 1300px) {

	.standard-content .edit-post-layout.is-sidebar-opened {
		--wp-block-max-width: var(--breakpoint-md);
	}
}

// Narrow Content.
@media only screen and (max-width: 819px) {

	.narrow-content .edit-post-layout:not(.is-sidebar-opened) .editor-post-title__block,
	.narrow-content .edit-post-layout:not(.is-sidebar-opened) .is-root-container > .wp-block {
		// --wp-block-max-width: 95%;
	}
}

@media only screen and (min-width: 820px) {

	.narrow-content .edit-post-layout:not(.is-sidebar-opened) {
		--wp-block-max-width: var(--breakpoint-sm);
	}
}

@media only screen and (max-width: 1079px) {

	.narrow-content .edit-post-layout.is-sidebar-opened .editor-post-title__block,
	.narrow-content .edit-post-layout.is-sidebar-opened .is-root-container > .wp-block {
		// --wp-block-max-width: 95%;
	}
}

@media only screen and (min-width: 1080px) {

	.narrow-content .edit-post-layout.is-sidebar-opened {
		--wp-block-max-width: var(--breakpoint-sm);
	}
}

/**
 * Admin menu icon.
 */
li.toplevel_page_mai-theme {

	.dashicons-before {
		background-image: url(../svg/mai-icon-white.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 18px;
		opacity: 0.6;
	}

	.opensub &,
	&:hover,
	&:focus {

		.dashicons-before {
			background-image: url(../svg/mai-icon-hover.svg);
			opacity: 1;
		}
	}

	img {
		display: none;
	}
}

/**
 * Block layout settings.
 */

[data-checked]:first-of-type {
	border-radius: 3px 0 0 3px !important;
}

/**
 * Setup Wizard.
 */

.setup-wizard {
	--color-primary: #2cb563;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: #f1f1f1;

	> .setup-wizard-logo-wrap {
		order: -2;
		width: 100%;
		margin-bottom: 0;
	}

	.setup-wizard-logo {
		width: 100%;
		max-width: 100px;
	}

	> h1 {
		order: -1;
		font-size: 1.5em;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	a {
		color: var(--color-primary);
	}

	.button-primary {
		background: var(--color-primary) !important;
		border-color: var(--color-primary) !important;
	}

	.button:not(.button-primary),
	.button-secondary {
		color: var(--color-primary) !important;
		border-color: var(--color-primary) !important;
	}

	#submit {
		display: block;
		margin: 0 auto 24px;
		padding: 6px 24px;
		font-size: 1.2em;

		img {
			display: none;
			margin-left: 5px;
		}

		&.is-running img {
			display: inline-block;
		}
	}

	h1 {
		width: 100%;
		margin-bottom: 1em;
	}

	> p {
		width: 100%;
	}

	> .wrap {
		width: 100%;
		margin: 0 auto;
	}

	> form {
		width: 100%;
		max-width: 660px;
		margin: 0 auto;
		padding: 2em 3em 3em;
		background: white;
		border-radius: 4px;
		box-shadow: 0 1px 6px #e1e1e1;
	}

	h2 {
		font-size: 2em;
	}

	input[type="email"] {
		width: 100%;
		max-width: 260px;
		padding: 8px 16px;
	}

	label {
		position: relative;
	}

	input[type="checkbox"] {
		position: absolute;
		top: 6px;
		right: calc(100% + 4px);
	}
}

.error,
.success {
	margin-bottom: 0;
	font-style: italic;
}

.label {
	display: inline-flex;
	align-items: center;
}

[data-status] > label {
	position: relative;
}

[data-status] > label::after {
	position: absolute;
	top: 0;
	left: calc(100% + 10px);
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 10px;
	vertical-align: middle;
	background-image: url(../img/spinner.gif);
	background-position: center;
	background-size: 18px;
	visibility: hidden;
	filter: brightness(0.5);
	content: "";
}

[data-status="running"] > label::after {
	visibility: visible;
}

[data-status="complete"] > label::after {
	background-image: url(../img/tick.png);
	visibility: visible;
	filter: none;
}

.progress {
	display: none;
}

#demo ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 3em;
}

#demo li {
	margin: 0 0.75em 1.5em;
}

#demo label {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	margin: 0;
	text-align: center;
	background: #fafafa;
	outline: 1px solid #e8e8e8;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

#demo label:focus-within {
	outline: 1px solid #007cba;
}

#demo input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

#demo img {
	cursor: pointer;
	pointer-events: none;
}

#demo h4 {
	position: relative;
}

#demo [data-status]::after {
	display: none;
}

#demo h4::after {
	position: absolute;
	left: calc(100% + 5px);
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background-image: url(../img/tick.png);
	background-position: center;
	background-size: 18px;
	visibility: hidden;
	content: "";
}

#demo input:checked ~ span h4::after {
	visibility: visible;
}

#demo .label {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 1em;
	border-top: 1px solid #e8e8e8;
}

#demo .label a {
	opacity: 0;
	transition: 0.2s ease;
}

#demo label:hover a {
	opacity: 1;
}

#plugins ul {
	display: block;
	margin: 36px auto;
}

#content ul {
	display: block;
	max-width: 300px;
	margin: 36px auto;
	text-align: left;
}

#content li {
	margin-bottom: 24px;
}

#content label {
	display: block;
}

#content .label {
	display: block;
	align-items: unset;
}

#content .label strong {
	display: block;
	margin-bottom: 8px;
	font-size: 1.2em;
}

#content .step-description {
	display: block;
	width: 100%;
	margin: 4px 0 0 16px;
	list-style: disc;
}

#content .step-description li {
	margin-bottom: 8px;
}

// Can't target body classes in editor styles.
body.post-type-wp_template_part .editor-styles-wrapper {
	background-image:
		linear-gradient(45deg, rgba(0, 0, 0, 0.025) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.025) 75%, rgba(0, 0, 0, 0.025)),
		linear-gradient(45deg, rgba(0, 0, 0, 0.025) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.025) 75%, rgba(0, 0, 0, 0.025)) !important;
	background-position: 0 0, 25px 25px !important;
	background-size: 50px 50px !important;
}

body.post-type-wp_template_part .editor-post-title__block:not(.is-focus-mode).is-selected .editor-post-title__input {
	background: white;
}
