/**
 * Editor block content width.
 * Needs to be here (not in editor.scss) so we can target body classes.
 *
 * Media query size for :not(is-sidebar-opened):
 * max-width + 160 (admin menu width) + 60px (extra).
 *
 * Media query size for is-sidebar-opened:
 * max-width + 160 (admin menu width) + 280 (block editor sidebar width) + 60px (extra).
 */

body.has-dark-body .editor-styles-wrapper {
	--heading-color: var(--color-white);
	--body-color: var(--color-white);
	--mai-block-appender-color: var(--color-white);
}

body.has-boxed-container .editor-styles-wrapper {
	--body-background-color: var(--color-white);
	--mai-block-appender-color: #1e1e1e;
}

.folded {
	--admin-menu-width: 36px;
}

// After .folded since it doesn't matter what size the admin menu actually is.
.is-fullscreen-mode {
	--admin-menu-width: 0px; // Requires 0px for calc().
}

.edit-post-layout.is-sidebar-opened {
	--block-sidebar-width: 281px;
}

.edit-post-visual-editor__post-title-wrapper,
.block-editor-block-list__layout.is-root-container {
	max-width: var(--wp-block-max-width, var(--breakpoint-lg));
	margin-right: auto;
	margin-left: auto;
}

// .wp-block[data-align] > [data-type="core/paragraph"] {
.wp-block {
	max-width: var(--wp-block-max-width, var(--breakpoint-lg));
}

.wp-block[data-align="full"] {
	max-width: var(--alignfull-max-width, var(--editor-viewport-width));
	margin-right: var(--alignfull-margin-right, calc(50% - ((var(--editor-viewport-width) / 2) - (var(--scrollbar-width, 0px) / 2)))) !important;
	margin-left: var(--alignfull-margin-left, calc(50% - ((var(--editor-viewport-width) / 2) - (var(--scrollbar-width, 0px) / 2)))) !important;
}

.wp-block[data-align="wide"] {
	--alignwide-max-side-spacing: max(0px, calc((var(--editor-viewport-width) - var(--wp-block-max-width)) / 4));
	--alignwide-side-spacing: min(var(--spacing-xxxxl), var(--alignwide-max-side-spacing));
	width: calc(100% * (var(--alignwide-side-spacing) * 2));
	max-width: unset;
	margin-right: calc(var(--alignwide-side-spacing) * -1);
	margin-left: calc(var(--alignwide-side-spacing) * -1);
}

// Wide Content (Default).


@media only screen and (min-width: 1220px) {

	.edit-post-layout:not(.is-sidebar-opened) {
		--wp-block-max-width: var(--breakpoint-xl);
	}
}

@media only screen and (min-width: 1500px) {


	.edit-post-layout.is-sidebar-opened {
		--wp-block-max-width: var(--breakpoint-lg);
	}
}

@media only screen and (min-width: 1740px) {

	.edit-post-layout.is-sidebar-opened {
		--wp-block-max-width: var(--breakpoint-xl);
	}
}

// Standard.

@media only screen and (min-width: 1300px) {

	.standard-content .edit-post-layout.is-sidebar-opened {
		--wp-block-max-width: var(--breakpoint-md);
	}
}

// Narrow Content.

@media only screen and (min-width: 820px) {

	.narrow-content .edit-post-layout:not(.is-sidebar-opened) {
		--wp-block-max-width: var(--breakpoint-sm);
	}
}

@media only screen and (min-width: 1080px) {

	.narrow-content .edit-post-layout.is-sidebar-opened {
		--wp-block-max-width: var(--breakpoint-sm);
	}
}

// Sidebar.

@media only screen and (min-width: 1020px) {

	.content-sidebar .edit-post-layout.is-sidebar-opened,
	.content-sidebar .edit-post-layout:not(.is-sidebar-opened),
	.sidebar-content .edit-post-layout.is-sidebar-opened,
	.sidebar-content .edit-post-layout:not(.is-sidebar-opened),
	.standard-content .edit-post-layout:not(.is-sidebar-opened) {
		--wp-block-max-width: var(--breakpoint-md);
	}
}

/**
 * Block layout settings.
 */

[data-checked]:first-of-type {
	border-radius: 3px 0 0 3px !important;
}

/**
 * Admin Menu styles.
 */

#toplevel_page_mai-theme .wp-submenu li:nth-child(4) {
	margin-bottom: 5px;
	padding-bottom: 6px;
	border-bottom: 1px solid 1px solid rgba(255, 255, 255, 0.2);
}

#toplevel_page_mai-theme .wp-submenu li:not(:nth-child(4)) + li:nth-last-child(3) {
	margin-top: 5px;
	padding-top: 6px;
	border-top: 1px solid 1px solid rgba(255, 255, 255, 0.2);
}

#toplevel_page_mai-theme .wp-submenu li:nth-child(4) + li:nth-last-child(3) {
	// border: 0;
}

/**
 * ACF field groups in the sidebar.
 */

#side-sortables .acf-postbox .postbox-header {
	position: relative !important;
}

#side-sortables .acf-postbox:first-child .postbox-header {
	border-top: 0 !important;
}

#side-sortables .acf-postbox h2.hndle {
	padding: 16px 48px 16px 16px !important;
	font-size: 13px !important;
	font-weight: 500 !important;
}

#side-sortables .acf-postbox .acf-hndle-cog,
#side-sortables .acf-postbox .handle-order-higher,
#side-sortables .acf-postbox .handle-order-lower {
	display: none !important;
}

#side-sortables .acf-postbox .handlediv {
	position: absolute;
	right: 16px;
	top: 50%;
	width: 24px;
	height: 24px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: color .1s ease-in-out;
	text-align: right;
	box-shadow: none !important;
}

#side-sortables .acf-postbox .handlediv .toggle-indicator:before {
	width: 100%;
	height: 100%;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="components-panel__arrow" aria-hidden="true" focusable="false"><path d="M17.5 11.6L12 16l-5.5-4.4.9-1.2L12 14l4.5-3.6 1 1.2z"></path></svg>');
	background-repeat: no-repeat;
	background-position: center;
	content: "" !important;
}

#side-sortables .acf-postbox .handlediv[aria-expanded="true"] .toggle-indicator:before {
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="components-panel__arrow" aria-hidden="true" focusable="false"><path d="M6.5 12.4L12 8l5.5 4.4-.9 1.2L12 10l-4.5 3.6-1-1.2z"></path></svg>');
}

/**
 * Advanced Custom Fields license and upgrade notices.
 */
#tmpl-acf-field-group-pro-features,
.acf-admin-toolbar-upgrade-btn {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

/**
 * Setup Wizard.
 */

.setup-wizard {
	--color-primary: #2cb563;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 100dvw;
	height: 100svh;
	text-align: center;
	background: #f1f1f1;

	> .setup-wizard-logo-wrap {
		order: -2;
		width: 100%;
		margin-bottom: 0;
	}

	.setup-wizard-logo {
		width: 100%;
		max-width: 100px;
	}

	> h1 {
		order: -1;
		font-size: 1.5em;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	a {
		color: var(--color-primary);
	}

	.button-primary {
		background: var(--color-primary) !important;
		border-color: var(--color-primary) !important;
	}

	.button:not(.button-primary),
	.button-secondary {
		color: var(--color-primary) !important;
		border-color: var(--color-primary) !important;
	}

	#submit {
		display: block;
		margin: 0 auto 24px;
		padding: 6px 24px;
		font-size: 1.2em;

		img {
			display: none;
			margin-left: 5px;
		}

		&.is-running img {
			display: inline-block;
		}
	}

	h1 {
		width: 100%;
		margin-bottom: 1em;
	}

	> p {
		width: 100%;
	}

	> .wrap {
		width: 100%;
		margin: 0 auto;
	}

	> form {
		width: 100%;
		max-width: 660px;
		margin: 0 auto;
		padding: 2em 3em 3em;
		background: white;
		border-radius: 4px;
		box-shadow: 0 1px 6px #e1e1e1;
	}

	h2 {
		font-size: 2em;
	}

	input[type="email"] {
		width: 100%;
		max-width: 260px;
		padding: 8px 16px;
	}

	label {
		position: relative;
	}

	input[type="checkbox"] {
		position: absolute;
		top: 6px;
		right: calc(100% + 4px);
	}
}

.error,
.success {
	margin-bottom: 0;
	font-style: italic;
}

.label {
	display: inline-flex;
	align-items: center;
}

[data-status] > label {
	position: relative;
}

[data-status] > label::after {
	position: absolute;
	top: 0;
	left: calc(100% + 10px);
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 10px;
	vertical-align: middle;
	background-image: url(../img/spinner.gif);
	background-position: center;
	background-size: 18px;
	visibility: hidden;
	filter: brightness(0.5);
	content: "";
}

[data-status="running"] > label::after {
	visibility: visible;
}

[data-status="complete"] > label::after {
	background-image: url(../img/tick.png);
	visibility: visible;
	filter: none;
}

.progress {
	display: none;
}

#demo ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 3em;
}

#demo li {
	margin: 0 0.75em 1.5em;
}

#demo label {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	margin: 0;
	text-align: center;
	background: #fafafa;
	outline: 1px solid #e8e8e8;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

#demo label:focus-within {
	outline: 1px solid #007cba;
}

#demo input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

#demo img {
	cursor: pointer;
	pointer-events: none;
}

#demo h4 {
	position: relative;
}

#demo [data-status]::after {
	display: none;
}

#demo h4::after {
	position: absolute;
	left: calc(100% + 5px);
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background-image: url(../img/tick.png);
	background-position: center;
	background-size: 18px;
	visibility: hidden;
	content: "";
}

#demo input:checked ~ span h4::after {
	visibility: visible;
}

#demo .label {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 1em;
	border-top: 1px solid #e8e8e8;
}

#demo .label a {
	opacity: 0;
	transition: 0.2s ease;
}

#demo label:hover a {
	opacity: 1;
}

#plugins ul {
	display: block;
	margin: 36px auto;
}

#content ul {
	display: block;
	max-width: 300px;
	margin: 36px auto;
	text-align: left;
}

#content li {
	margin-bottom: 24px;
}

#content label {
	display: block;
}

#content .label {
	display: block;
	align-items: unset;
}

#content .label strong {
	display: block;
	margin-bottom: 8px;
	font-size: 1.2em;
}

#content .step-description {
	display: block;
	width: 100%;
	margin: 4px 0 0 16px;
	list-style: disc;
}

#content .step-description li {
	margin-bottom: 8px;
}

/**
 * Content Areas.
 */

// Can't target body classes in editor styles.
// body.post-type-wp_block .editor-styles-wrapper,
// body.post-type-mai_template_part .editor-styles-wrapper {
// 	background: repeating-conic-gradient(white 0% 25%, rgba(0, 0, 0, 0.025) 0% 50%) 50% / 40px 40px !important;
// 	background-position: top left !important;
// }

// body.post-type-wp_block .editor-post-title__block:not(.is-focus-mode).is-selected .editor-post-title__input,
// body.post-type-mai_template_part .editor-post-title__block:not(.is-focus-mode).is-selected .editor-post-title__input {
// 	background: white;
// }
