.toplevel_page_mai-engine {

	.dashicons-before {
		background-image: url(../../svg/mai-icon-white.svg);
		background-position: center;
		background-size: 18px;
		background-repeat: no-repeat;
		opacity: 0.6;
	}

	.opensub &,
	&:hover,
	&:focus {

		.dashicons-before {
			background-image: url(../../svg/mai-icon-white.svg);
			opacity: 1;
		}
	}

	img {
		display: none;
	}
}

