:root {
	--menu-item-link-padding: var(--spacing-md) var(--spacing-md);

	--nav-header-width: auto;
	--nav-header-margin: 0;
	--nav-header-padding: 0;
	--nav-header-background-color: transparent;

	--nav-after-header-display: flex;

	--menu-toggle-display: none;

	--header-section-display: flex;

	--sub-menu-position: absolute;
	--sub-menu-left: -999rem;
	--sub-menu-width: 200px;
	--sub-menu-margin: 0 0 0 calc(0 - var(--spacing-md));
	--sub-menu-background-color: var(--color-white);
	--sub-menu-border: var(--border);
	--sub-menu-opacity: 0;
	--sub-menu-transition: opacity var(--transition-duration) var(--transition-timing-function);
	--sub-menu-animation: fadein 0.2s ease-in-out;

	--sub-menu-toggle-position: relative;
	--sub-menu-toggle-display: none;

	--sub-sub-menu-top: -1px;
	--sub-sub-menu-left: 100%;
	--sub-sub-menu-margin-left: 0;
	--sub-sub-menu-white-space: nowrap;
}

.menu-item:hover > .sub-menu,
.menu-item:focus > .sub-menu,
.menu-item:focus-within > .sub-menu {
	display: flex; /* can't be variable because 3rd level sub-menus will display too */
	--sub-menu-opacity: 1;
	--sub-menu-left: auto;
}

.mobile-menu-visible {
	--mobile-menu-display: none;
}

.has-logo-center {
	--title-area-margin: 0 auto;
	--title-area-text-align: center;
}

@keyframes fadein {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
