:root {
	--site-header-wrap-flex-wrap: nowrap;
	--site-header-wrap-justify-content: var(--site-header-wrap-justify-content-desktop, space-between);
	--header-section-order: 0;
	--title-area-flex: 0 1 auto;
	--title-area-padding: var(--title-area-padding-desktop) 0;

	--nav-header-width: auto;
	--nav-header-margin: 0;
	--nav-header-padding: 0;
	--nav-header-background-color: transparent;

	--menu-item-link-padding: var(--spacing-md) var(--spacing-md);

	--nav-after-header-display: flex;

	--header-section-display: flex;
	--header-section-mobile-display: none;

	--sub-menu-position: absolute;
	--sub-menu-left: -999rem;
	--sub-menu-width: 200px;
	--sub-menu-margin: 0 0 0 calc(0 - var(--spacing-md));
	--sub-menu-background-color: var(--color-white);
	--sub-menu-border: var(--border);
	--sub-menu-border-radius: var(--border-radius);
	--sub-menu-opacity: 0;
	--sub-menu-transition: opacity var(--transition-duration) var(--transition-timing-function);
	--sub-menu-animation: fadein 0.2s ease-in-out;

	--sub-menu-toggle-position: relative;
	--sub-menu-toggle-display: none;

	--sub-sub-menu-top: -1px;
	--sub-sub-menu-left: 100%;
}

.menu-item:hover > .sub-menu,
.menu-item:focus > .sub-menu,
.menu-item:focus-within > .sub-menu {
	display: flex; /* can't be variable because 3rd level sub-menus will display too */
	--sub-menu-opacity: 1;
	--sub-menu-left: auto;
}

.mobile-menu-visible {
	--mobile-menu-display: none;
}

.has-logo-center {
	--site-header-wrap-justify-content: var(--site-header-wrap-justify-content-desktop, space-around);
	--title-area-margin: 0 var(--spacing-lg);
	--title-area-text-align: center;
}

.has-scroll-logo {

	&.has-logo-left {
		--custom-scroll-logo-object-position: center left;
	}

	&.has-logo-right {
		--custom-scroll-logo-object-position: center right;
	}

	&.header-stuck {
		--custom-scroll-logo-opacity: 1;
		--custom-logo-opacity: 0;
	}
}

@keyframes fadein {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
