@import "abstracts/_index";
@import "base/globals";
@import "base/heading";
@import "base/html";
@import "base/list";
@import "base/typography";
@import "components/blocks/_index";
@import "components/entry/_index";
@import "utilities/_index";

body {
	min-height: auto;
	background: var(--color-white);
	--list-style-position: outside;
	--list-margin-left: var(--spacing-md);
	--list-item-margin-bottom: var(--spacing-xs);
}

.editor-post-title__block .editor-post-title__input {

	@include heading;
}

p {
	font-size: var(--font-size-md);
}

.wp-block {
	max-width: var(--breakpoint-lg);

	&[data-align="wide"] {
		max-width: var(--breakpoint);
	}

	&[data-align="full"] {
		max-width: none;
	}

}

@each $breakpoint-name, $breakpoint-size in $breakpoints {

	.wp-block[data-content-width="#{ $breakpoint-name }"] {

		div div > .wp-block-cover,
		div > .wp-block-group {
			--content-max-width: var(--breakpoint-#{ $breakpoint-name });
		}
	}
}

@each $padding-name, $padding-size in $padding_scale {

	@each $padding-setting in $padding_settings {

		.wp-block[data-spacing-#{ $padding-setting }="#{ $padding-name }"] {

			div div > .wp-block-cover > .wp-block-cover__inner-container,
			div > .wp-block-group > .wp-block-group__inner-container {
				padding-#{ $padding-setting }: $padding-size;
			}
		}
	}
}

.wp-block-button__link {

	@include button();

	&:active,
	&:visited {
		color: var(--button-color-hover, var(--button-color));
	}

	.is-style-secondary & {

		@include button-style("secondary");
	}

	.is-style-link & {

		@include button-style("link");
	}

	.is-style-outline & {

		@include button-style("outline");
	}
}

.mai-grid a {
	pointer-events: none;
}
