////
/// Wrap component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Variables.
////

$wrap-max-width: var(--layout-width) !default;

////
/// Wrap.
////

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	max-width: $wrap-max-width;

	@include margin(null auto);

	// Sub wrap.
	.wrap {
		width: 100%;
		max-width: 100%;
	}
}
