.adjacent-entry-pagination {
	--image-border-radius: var(--border-radius);
	--link-color: var(--color-heading);

	display: grid;
	grid-gap: var(--spacing-md);
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	margin-bottom: var(--spacing-xxl);

	.pagination-previous {
		--adjacent-entry-link-inner-justify-content: start;
		--adjacent-entry-link-text-align: start;
	}

	.pagination-next {
		--adjacent-entry-link-inner-justify-content: end;
		--adjacent-entry-link-text-align: end;
	}
}

.adjacent-entry-link {
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
}

.adjacent-entry-link-inner {
	display: flex;
	gap: var(--spacing-md);
	align-items: center;
	justify-content: var(--adjacent-entry-link-inner-justify-content, normal);
	height: 100%;
	padding: var(--adjacent-entry-link-inner-padding, var(--spacing-lg));
	line-height: var(--heading-line-height, 1.219);
	text-align: var(--adjacent-entry-link-text-align);
	background: var(--adjacent-entry-link-inner-background, none);
	border: var(--adjacent-entry-link-inner-border, var(--border));
	border-radius: var(--adjacent-entry-link-inner-border-radius, var(--border-radius));
	box-shadow: var(--adjacent-entry-link-inner-box-shadow, var(--shadow));
}

.adjacent-entry-image {
	flex-shrink: 0;
}

.pagination-previous .adjacent-entry-link-inner::before {
	mask-image: var(--entry-previous-url, "");
}

.pagination-next .adjacent-entry-link-inner::after {
	mask-image: var(--entry-next-url, "");
}

.pagination-previous .adjacent-entry-link-inner::before,
.pagination-next .adjacent-entry-link-inner::after {
	display: inline-flex;
	flex: 0 0 auto;
	width: 0.64em;
	height: 0.64em;
	background: currentColor;
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	content: "";
}
