.adjacent-entry-pagination {
	--image-border-radius: var(--border-radius);
	--link-color: var(--color-heading);

	display: grid;
	grid-gap: var(--spacing-md);
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	margin: var(--spacing-lg) 0 ;
}

.adjacent-post-link {
	display: flex;
	align-items: center;
	justify-content: var(--adjacent-post-link-justify-content, normal);
	height: 100%;
	padding: var(--adjacent-post-link-padding, var(--spacing-lg));
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
}

.pagination-previous {
	text-align: start;
	--adjacent-post-link-justify-content: flex-start;
	--adjacent-post-link-padding: var(--spacing-md);
}

.pagination-next {
	text-align: end;
	--adjacent-post-link-justify-content: flex-end;
	--adjacent-post-link-padding: var(--spacing-md);
}

.adjacent-entry-image {
	flex-shrink: 0;
	margin: 0 var(--spacing-sm);
}
