.page-description, // WooCommerce shop page.
.archive-description {
	max-width: var(--archive-description-max-width, none);
	margin: var(--archive-description-margin, (0 auto var(--spacing-xl)));
	text-align: var(--archive-description-text-align, (auto));
}

.archive-title {
	font-weight: var(--archive-title-font-weight, var(--heading-font-weight));
	font-size: var(--archive-title-font-size, var(--font-size-xxxxl));
}

.archives-description {
	margin: var(--archives-description-margin, (0 auto var(--spacing-xl)));
}

// This is for Mai Archive Pages plugin.
.archive-page-content {
	margin: var(--archive-page-content-margin, (var(--archive-page-content-margin-top, 0) auto var(--archive-page-content-margin-bottom, var(--spacing-xl))));

	// This would be better if we knew there was an alignfull block first in the archive content.
	.no-sidebar &:first-child {
		--archive-page-content-margin-top: calc(var(--content-sidebar-wrap-margin-top) * -1);
	}

	.no-sidebar &:last-child {
		--archive-page-content-margin-bottom: calc(var(--content-sidebar-wrap-margin-bottom) * -1);
	}
}
