.archive-description {
	max-width: var(--archive-description-max-width, none);
	margin: var(--archive-description-margin, (0 auto var(--spacing-xl)));
	text-align: var(--archive-description-text-align, (auto));
}

.archive-title {
	font-weight: var(--archive-title-font-weight, var(--heading-font-weight));
	font-size: var(--archive-title-font-size, var(--font-size-xxxxl));
}

.term-description {
	margin: var(--term-description-margin, (0 auto var(--spacing-xl)));
}

// This is for Mai Archive Pages plugin.
.archive-page-content {
	margin: var(--archive-page-content-margin, (0 auto var(--spacing-xl)));
}
