.archive-pagination {
	width: 100%;
	padding: var(--pagination-padding, var(--spacing-xl));
	color: var(--button-color, var(--color-darkest));
	font-size: var(--pagination-font-size, (smaller));

	--button-background: var(--color-medium);
	--button-color: var(--color-dark);
	--button-padding: 0.75em 1em;
	--wrap-justify-content: center;
	--link-color: var(--color-dark);
	--link-color-hover: var(--color-primary);

	ul {
		display: var(--archive-pagination-display, flex);
		align-items: center;
		justify-content: var(--archive-pagination-justify-content, var(--wrap-justify-content));
		list-style: none;
	}

	a {
		margin: 4px;
		padding: var(--button-padding);
		background: var(--button-background);
		border-radius: var(--border-radius);

		--link-color: var(--button-color);
		--link-text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	.active {
		--button-background: var(--color-primary);
		--button-color: var(--color-lightest);
		--filter-hover: unset;
	}

	.facetwp-pager + ul {
		--archive-pagination-display: none;
	}

	@include mq(lg) {
		margin-top: auto;
	}
}

