.archive-pagination {
	width: 100%;
	padding: var(--pagination-padding, var(--spacing-xl) 0);

	ul {
		display: var(--archive-pagination-ul-display, block);
		width: 100%;
		text-align: var(--archive-pagination-ul-text-align, center);
	}

	li {
		display: inline-block;
	}

	a {
		padding: var(--pagination-link-padding, 1em);
	}
}
