.author-box {
	width: 100%;
	margin: var(--spacing-xl) auto;
	padding: var(--spacing-xl);
	color: var(--author-box-color, unset);
	text-align: var(--author-box-text-align, center);
	background: var(--author-box-background, unset);
	border: var(--author-box-border, var(--border));
	border-radius: var(--author-box-border-radius, var(--border-radius));
	box-shadow: var(--author-box-shadow, var(--shadow));

	.avatar {
		margin-bottom: var(--spacing-md);
	}

	@include mq(sm) {
		--author-box-text-align: start;

		display: grid;
		grid-column-gap: var(--spacing-lg);
		grid-template-rows: 1fr;
		grid-template-columns: auto 1fr;

		.avatar {
			grid-row: 1/all;
			margin: 0;
		}

		> *:not(.avatar) {
			grid-column-start: 2;
		}
	}
}

.author-box-title {
	margin-top: 0;
}

.author-box-content {
	margin-bottom: var(--author-box-content-margin-bottom, var(--spacing-md));

	&:last-child {
		--author-box-content-margin-bottom: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
