.author-box {
	display: grid;
	grid-column-gap: var(--spacing-lg);
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr;
	padding: var(--spacing-xl);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);

	&:not(:first-child) {
		margin-top: var(--spacing-xl);
	}

	.avatar {
		grid-row: 1/all;
		margin: 0;
	}

	> *:not(.avatar) {
		grid-column-start: 2;
	}
}

.author-box-title {
	margin-top: 0;
}

.author-box-content {
	margin-top: var(--spacing-sm);
}
