////
/// Breadcrumb component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Variables.
////

$breadcrumb-margin: 0 0 var(--spacing-m) !default;

////
/// Breadcrumb.
////

.breadcrumb {
	width: 100%;
	margin: $breadcrumb-margin;

	// Link wrapper.
	&-link-wrap {
	}

	// Breadcrumb separator.
	&-separator {
	}
}
