.breadcrumb {
	width: calc(100% - (var(--side-spacing) * 2));
	max-width: var(--wrap-max-width);
	margin: var(--breadcrumb-margin, var(--spacing-md) auto);
	font-size: var(--breadcrumb-font-size, var(--font-size-sm));
	line-height: var(--breadcrumb-line-height, var(--line-height-sm));
}
