.comment {
	margin: var(--comment-margin, (var(--spacing-lg) 0));
	background-color: var(--comment-background);
}

.comment-list {
	list-style-type: none;
}

.children {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.comment-author {
	margin: 0;
}

.comment-edit-link {
	display: none;
}

.comment-respond {
	width: 100%;
}
