.entry-comments {
	margin-bottom: var(--spacing-xxl);
}

.comment-list {
	list-style-type: none;
}

.comment {
	margin: 0 0 var(--spacing-md);
	padding: var(--spacing-xl);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);

	.children {
		margin: var(--spacing-lg) 0 0;
		list-style-type: none;
	}

	.comment {
		--shadow: none;
		margin-right: calc(var(--spacing-xl) * -1 - var(--border-width)); /* make all child comments flush to right, over border as well */

		&:last-child {
			margin-bottom: calc(var(--spacing-xl) * -1 - var(--border-width)); /* make all child comments flush to bottom, over border as well */
			border-width: var(--border-width) 0 0 var(--border-width);
		}
	}
}

.comment-header {
	display: flex;
	flex-wrap: wrap;
}

.comment-author {
	display: flex;
	place-items: center;
	margin-right: auto;
	font-family: var(--heading-font-family);

	.avatar {
		margin-right: var(--spacing-sm);
	}
}

.comment-meta {
	font-size: var(--font-size-xs);
}

.comment-content {
	margin-bottom: var(--spacing-md);
}

.comment-reply {
	text-align: end;
}

.comment-edit-link {
	display: none;
}

.comment-respond {
	width: 100%;
	margin-bottom: var(--spacing-xxl);
}

.comment-reply-link {

	@include button-style("secondary");
	@include button-style("small");
}
