////
/// Content component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Content.
////

.content {
	width: 100%;
	margin: var(--content-margin-mobile, (var(--space-lg) auto));

	@include mq(md) {
		margin: var(--content-margin-desktop, (var(--space-xl) auto));
	}

	// With Sidebar.
	.content-sidebar &,
	.sidebar-content & {

		@include mq(md) {
			width: var(--layout-width-content);
			max-width: var(--layout-max-width-content);
		}
	}

	// Narrow Layout.
	.narrow-content & {
		margin-left: auto;
		margin-right: auto;

		@include mq(md) {
			width: var(--layout-width-content);
		}
	}

	// Sidebar First.
	.sidebar-content & {

		@include mq(md) {
			order: 1;
		}
	}

	// Full Width Content.
	.full-width-content & {
	}

	// Archives.
	.is-archive & {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	// With Heading Block.
	.no-page-header &,
	.has-heading-block & {
		margin: 0 auto;
	}

	// Front Page Content.
	.front-page & {
		width: 100%;
		margin: 0 auto;

		@include mq(md) {
			width: 100%;
		}
	}

	// Block Template.
	.template-blocks & {
		margin: 0 auto;
	}
}
