////
/// Entry component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Entry.
////

.entry {
	width: var(--entry-width);
	color: var(--entry-color);
	margin: var(--entry-margin);
}

// Entry header
.entry-header {
}

// Entry title
.entry-title {
}

// Entry title link
.entry-title-link {
	color: var(--entry-title-color);
	text-decoration: var(--entry-title-text-decoration);

	&:hover,
	&:focus {
		color: var(--entry-title-color-hover);
		text-decoration: var(--entry-title-text-decoration-hover);
	}
}

// Entry time
.entry-time {
}

// Entry author
.entry-author {
}

// Entry author link
.entry-author-link {
}

// Entry author name
.entry-author-name {
}

// Entry comments link
.entry-comments-link {
}

// Entry meta
.entry-meta {
	font-size: var(--entry-meta-font-size, (smaller));
}

// Entry image link
.entry-image-link {
	display: block;
}

// Entry image
.entry-image {
	min-width: 100%;
	border-radius: var(--entry-image-border-radius, (var(--border-radius) var(--border-radius) 0 0));
}

// Entry content
.entry-content {
	--heading-margin: var(--gap);
}

// Entry footer
.entry-footer {

	p {

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

// Entry categories
.entry-categories {
}

// Entry tags
.entry-tags {
}

// Entry wrap
.entry-wrap {
	padding: var(--entry-wrap-padding, var(--gap));
}

////
/// Archives.
////

.is-archive {
	--entry-margin-bottom: var(--gutter);
	--entry-border: var(--border);
	--entry-border-radius: var(--border-radius);
	--entry-background-color: var(--color-white);
	--entry-title-font-size: var(--text-sm);
	--entry-title-color: var(--color-dark);
}

////
/// Singular.
////

.is-single {
	--entry-margin: 0 auto var(--gutter);
	--entry-content-heading-margin-top: var(--gap);
}
