.page-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: var(--page-header-padding, (20vh 0));
	overflow: hidden;
	color: var(--page-header-color);
	text-align: var(--page-header-text-align, center);
	background-position: center;
	background-size: cover;
	border-bottom: var(--page-header-border-bottom, var(--border));

	--wrap-position: relative;
	--wrap-justify-content: center;

	&::before {
		display: block;
		background-color: var(--color-muted);
		opacity: var(--shadow-opacity);
		content: "";

		@include position(absolute, 0 0 0 0);
	}

	&::after {
		position: absolute;
		bottom: -1px;
		width: 100%;
		height: 10rem;
		content: "";
	}
}

.page-header-image {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.has-transparent-header {
	--page-header-wrap-margin-top: var(--space-xxl);
}

.page-header-subtitle {
	margin: var(--page-header-subtitle-margin, 0);
}
