
.page-header {
	display: flex;
	width: 100%;
	padding: var(--page-header-padding, (20vh 0));
	border-bottom: var(--page-header-border-bottom, var(--border));
	color: var(--page-header-color);
	background-position: center;
	background-size: cover;
	text-align: var(--page-header-text-align, center);
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	--wrap-position: relative;
	--wrap-justify-content: center;

	overflow: hidden;
	position: relative;

	&::before {
		content: "";
		display: block;
		background-color: var(--color-muted);
		opacity: var(--shadow-opacity);

		@include position(absolute, 0 0 0 0);
	}
}

.has-transparent-header {
	--page-header-wrap-margin-top: var(--space-xxl);
}

.page-header-subtitle {
	margin: var(--page-header-subtitle-margin, 0);
}
