////
/// Pagination component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Pagination.
////

.pagination {
	width: 100%;
	padding: var(--pagination-padding, (var(--gutter) 0));
	border-top: var(--pagination-border-top, var(--border));
	background-color: var(--pagination-background-color);
	font-family: var(--pagination-font-family);
	font-size: var(--pagination-font-size, (smaller));

	@include mq(md) {
		margin-top: auto;
	}

	// Wrap.
	.wrap {
		justify-content: center;
	}

	// List.
	ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		list-style-type: none;
	}

	// List item.
	li {
		margin-right: var(--spacing-sm);
	}

	// Active item.
	.active {
	}

	// Previous item.
	&-prev {
	}

	// Next item.
	&-next {
	}

	a {
		color: var(--pagination-link-color, var(--color-gray));

		&:hover,
		&:focus {
			color: var(--pagination-link-color-hover, var(--color-primary));
		}
	}
}

////
/// Adjacent Posts Nav.
////

.adjacent-entry-pagination {

	// Narrow Content.
	.narrow-content & {

		.wrap {

			@include mq(md) {
				width: var(--layout-width-content);
			}
		}
	}

	// Wrap.
	.wrap {
		justify-content: space-between;

		> div {
			max-width: var(--one-half);
		}
	}
}
