.search-form {
	display: var(--search-form-display, flex);
}

.search-form-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search-form-submit {
	--button-margin: var(--search-button-margin, 0 0 0 var(--search-button-margin-left, calc(var(--spacing-lg) * -1)));
	--button-padding: 0.75em 1.25em;
	--button-font-size: var(--font-size-sm);
}

.search-form-submit-icon {
	width: 1em;
	pointer-events: none;
	fill: currentColor;
}
