.search-form {
	display: var(--search-form-display, flex);
}

.search-form-input {
	min-width: 220px;
	font-size: var(--text-md);
	font-family: var(--font-primary);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search-form-submit {
	--button-margin: 0;
	--button-padding: var(--spacing-md);
	--button-font-size: var(--text-sm);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.search-form-submit-icon {
	min-width: calc(var(--text-md) * 3);
	text-indent: -9999px;
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: var(--text-md);
}
