.wp-block-search__label,
.wp-block-search__button,
.search-form input[type="submit"] {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
}
