.widget {
	width: var(--widget-width, 100%);
	margin: var(--widget-margin, var(--widget-margin-top, 0) var(--widget-margin-right, var(--widget-margin-sides, 0)) var(--widget-margin-bottom, var(--spacing-sm)) var(--widget-margin-left, var(--widget-margin-sides, 0)));
}

.widget-wrap {
	display: var(--widget-wrap-display);
	flex-wrap: var(--widget-wrap-flex-wrap);
	justify-content: var(--widget-wrap-justify-content);
}

.featured-content {
	--widget-wrap-display: flex;
	--widget-wrap-flex-wrap: wrap;
	--widget-wrap-justify-content: space-between;
	--widget-title-width: 100%;
}

.widget-title {
	width: var(--widget-title-width, 100%);
}
