.content {
	width: 100%;
	max-width: var(--content-max-width);
	margin: var(--content-margin, var(--content-margin-top, 0) var(--content-margin-sides, auto) var(--content-margin-bottom, var(--spacing-xxl)));
	--inner-max-width: var(--content-max-width);

	@include mq(lg) {
		order: var(--content-order, 0);
	}
}

.full-content {
	--content-max-width: 100%;
}

.wide-content {
	--content-max-width: var(--breakpoint-xl);
}

.standard-content {
	--content-max-width: var(--breakpoint-md);
}

.narrow-content {
	--content-max-width: var(--breakpoint-sm);
}

.content-sidebar,
.sidebar-content {
	--content-max-width: var(--breakpoint-lg);
}

.sidebar-content {
	--content-order: 1;
}

.has-alignfull-first {
	--content-margin-bottom: 0;
}
