.content-sidebar-wrap {
	display: grid;
	grid-template-columns: var(--content-sidebar-columns, 1fr);
	width: calc(100% - (var(--spacing-md) * 2));
	max-width: var(--wrap-width);
	margin: var(--row-gap) auto;
	column-gap: var(--content-sidebar-column-gap, calc(var(--column-gap) * 3));
	row-gap: var(--content-sidebar-row-gap, calc(var(--row-gap) * 2));
}

.content-sidebar {

	@include mq(lg) {
		--content-sidebar-columns: 1fr var(--sidebar-width);
	}
}

.sidebar-content {

	@include mq(lg) {
		--content-sidebar-columns: var(--sidebar-width) 1fr;
	}
}
