.content-sidebar-wrap {
	display: grid;
	grid-template-columns: var(--content-sidebar-wrap-columns, 1fr);
	width: var(--content-sidebar-wrap-width, calc(100% - var(--content-sidebar-wrap-side-spacing)));
	max-width: var(--wrap-width);
	margin: var(--content-sidebar-wrap-margin, (var(--row-gap) auto));
	column-gap: var(--content-sidebar-wrap-column-gap, (calc(var(--column-gap) * 3)));
}

.has-boxed-container {

	@include mq(lg) {
		--content-sidebar-wrap-side-spacing: calc(var(--spacing-lg) * 4);
	}
}

.has-cover-block,
.has-page-header {
	--content-sidebar-wrap-margin: 0 auto var(--row-gap);
}

.content-sidebar {

	@include mq(lg) {
		--content-sidebar-wrap-columns: 1fr var(--sidebar-width);
	}
}

.sidebar-content {

	@include mq(lg) {
		--content-sidebar-wrap-columns: var(--sidebar-width) 1fr;
	}
}
