.content-sidebar-wrap {
	--content-sidebar-gap: calc(var(--column-gap) * 3); /* needed for alignfull calculations */

	display: grid;
	grid-template-columns: var(--content-sidebar-wrap-columns, 1fr);
	width: calc(100% - calc(var(--side-spacing) * 2));
	max-width: var(--wrap-max-width);
	margin: var(--content-sidebar-wrap-margin-top, var(--spacing-xxl)) auto var(--content-sidebar-wrap-margin-bottom, var(--spacing-xxl));
	column-gap: var(--content-sidebar-gap);

	> .content > .entry > .alignfull:first-child,
	> .content > .entry > .entry-content > .alignfull:first-child {
		margin-top: calc(var(--content-sidebar-wrap-margin-top, var(--spacing-xxl) * -1));
	}

	> .content > .entry > .alignfull:last-child,
	> .content > .entry > .entry-content > .alignfull:last-child {
		margin-bottom: calc(var(--content-sidebar-wrap-margin-bottom, var(--spacing-xxl) * -1));
	}
}


.content-sidebar {

	@include mq(lg) {
		--content-sidebar-wrap-columns: 1fr var(--sidebar-width);
	}
}

.sidebar-content {

	@include mq(lg) {
		--content-sidebar-wrap-columns: var(--sidebar-width) 1fr;
	}
}
