.content {
	width: 100%;
	max-width: var(--content-width);
	margin: var(--content-margin, (var(--spacing-xxl) auto));

	@include mq(lg) {
		order: var(--content-order, 0);
	}
}

.full-content {
	--content-width: 100%;
}

.wide-content {
	--content-width: var(--breakpoint-xl);
}

.standard-content {
	--content-width: var(--breakpoint-md);
}

.narrow-content {
	--content-width: var(--breakpoint-sm);
}

.content-sidebar,
.sidebar-content {
	--content-width: var(--breakpoint-lg);
	--content-margin: 0;
}

.sidebar-content {
	--content-order: 1;
}

.has-cover-block {
	--content-margin: 0 auto var(--spacing-xxl);
}
