.sidebar {
	margin-top: var(--sidebar-margin-top, var(--spacing-xl));
	font-size: var(--sidebar-font-size, var(--font-size-sm));

	--widget-margin-bottom: var(--spacing-xl);
	--entry-title-margin-bottom: var(--spacing-xs);
	--entry-title-font-size: var(--font-size-lg);
	--entry-content-margin: 0 0 var(--spacing-md);
	--paragraph-margin-bottom: var(--spacing-xs);

	.widget:first-of-type {
		--widget-margin-top: 0;
	}

	@include mq(lg) {
		width: var(--sidebar-width);

		--sidebar-margin-top: 0;
	}
}
