.site-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-width: var(--site-container-max-width, unset);
	margin: var(--site-container-margin, unset);
}

.has-boxed-container {

	@include mq(lg) {
		--site-container-max-width: var(--breakpoint-xl);
		--site-container-margin: var(--spacing-md) auto;

		&.has-transparent-header {
			--site-container-margin: 0 auto var(--spacing-md);
		}
	}
}
