.wrap {
	position: var(--wrap-position, unset);
	display: flex;
	flex-wrap: var(--wrap-flex-wrap, wrap);
	align-items: var(--wrap-align-items, flex-start);
	justify-content: var(--wrap-justify-content, space-between);
	width: calc(100% - calc(var(--spacing-md) * 2));
	max-width: var(--wrap-width);
	margin-right: auto;
	margin-left: auto;

	.wrap {
		width: 100%;
	}
}
