////
/// Wrap component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Wrap.
////

.wrap {
	position: var(--wrap-position);
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--wrap-justify-content, space-between);
	width: 90%;
	max-width: var(--wrap-max-width, var(--layout-width));
	margin-left: auto;
	margin-right: auto;

	// Sub wrap.
	.wrap {
		width: 100%;
		max-width: 100%;
	}
}
