.menu {
	columns: var(--menu-columns, auto);
	margin: 0;
	line-height: var(--menu-line-height, 1);
	list-style-type: none;
	width: 100%;

	--link-color: var(--color-medium);
	--link-color-hover: var(--color-primary);
	--button-padding: 0;
	--button-margin: 0 0 0 var(--spacing);

	@include mq(lg) {
		display: var(--menu-display, (flex));
		border: 0;
		font-size: var(--menu-font-size-desktop, (smaller));
		flex-wrap: wrap;
		justify-content: var(--menu-alignment, flex-end);
		align-items: center;
	}
}

.menu-item {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: var(--menu-item-margin, (0 auto));

	@include mq(lg) {
		display: block;

		--menu-item-margin: 0;
	}
}

.menu-item-first {
	--menu-item-link-padding: var(--spacing) var(--spacing) var(--spacing) 0;
}

.menu-item-last {
	--menu-item-link-padding: var(--spacing) 0 var(--spacing) var(--spacing);
}

.menu-item-link {
	display: block;
	width: 100%;
	padding: var(--spacing) 0;
	text-decoration: none;

	@include mq(lg) {
		padding: var(--menu-item-link-padding, (var(--spacing) var(--spacing)));
	}
}

.has-transparent-header {
	--menu-item-link-color: var(--color-white);
}
