.header-search-form {
	display: none;
	position: relative;
	height: 100%;
	align-items: center;

	.search-form-input {
		width: var(--breakpoint-xxs);
		margin: auto;

		@include position(absolute, auto 0 auto auto);
	}

	.search-form-submit {
		display: none;
	}
}

.header-search-toggle {
	padding: var(--space-xs);
	background-color: transparent;
	color: var(--menu-item-link-color);

	&:hover,
	&:focus {
		background-color: transparent;
		color: var(--menu-item-link-color);
	}
}
