.header-search-form {
	position: relative;
	display: none;
	align-items: center;
	height: 100%;

	.search-form-input {
		width: var(--breakpoint-xxs);
		margin: auto;

		@include position(absolute, auto 0 auto auto);
	}

	.search-form-submit {
		display: none;
	}
}

.header-search-toggle {
	padding: var(--spacing-xs);
	color: var(--link-color);
	background-color: transparent;

	&:hover,
	&:focus {
		color: var(--link-color);
		background-color: transparent;
	}
}
