.menu {

	.search-form {
		position: absolute;
		top: 100%;
		right: 0;
		display: var(--menu-search-form-display, none);
		padding: var(--spacing-sm);
		background-color: var(--color-white);
		border-radius: var(--input-border-radius) var(--button-border-radius) var(--button-border-radius) var(--input-border-radius);
		box-shadow: var(--shadow);
	}

	.search-form-visible {
		--menu-search-form-display: flex;
	}
}

.search-toggle {
	margin: 0;
	padding: var(--menu-item-link-padding, (var(--spacing-sm) var(--spacing-xxs)));
	color: var(--menu-item-link-color, var(--color-heading));
	background: transparent;
	border: none;
	box-shadow: none;

	&:hover,
	&:focus {
		color: var(--menu-item-link-color-hover, var(--color-link));
		background: transparent;
		border: none;
		box-shadow: none;
	}
}

.search-toggle-icon {
	width: var(--search-toggle-icon-width, 1em);
	fill: currentColor;
}
