.menu {
	display: var(--menu-display, (flex));
	flex-wrap: var(--menu-flex-wrap, wrap);
	align-items: var(--menu-align-items, center);
	justify-content: var(--menu-justify-content, flex-start);
	width: 100%;
	margin: 0;
	font-weight: var(--menu-font-weight, inherit);
	font-size: var(--menu-font-size, var(--font-size-md));
	font-family: var(--menu-font-family, inherit);
	line-height: var(--menu-line-height, 1.219); // Perfect fourth.
	letter-spacing: var(--menu-letter-spacing, normal);
	text-transform: var(--menu-text-transform, normal);
	columns: var(--menu-columns, auto);
	list-style-type: none;

	--link-text-decoration: var(--menu-item-link-text-decoration, none);
	--link-text-decoration-hover: var(--menu-item-link-text-decoration-hover, none);
}

.menu-item {
	position: relative;
	display: var(--menu-item-display, (flex));
	flex-wrap: var(--menu-item-flex-wrap, wrap);
	justify-content: var(--menu-item-justify-content, flex-start);
	width: var(--menu-item-width, auto);
	margin: var(--menu-item-margin, 0);

	&-button {

		&:not(.menu-item-first) {
			margin-left: var(--spacing-sm);
		}

		&:not(.menu-item-last) {
			margin-right: var(--spacing-sm);
		}
	}

	&.search {
		z-index: 12; // 1 above sticky site-header.
	}
}

.no-js .menu-item.search {
	--menu-item-display: none;
}

.menu-item-link {
	display: var(--menu-item-link-display, (flex));
	flex: var(--menu-item-link-flex, unset);
	align-items: center;
	justify-content: var(--menu-item-link-justify-content, flex-start);
	width: var(--menu-item-link-width, auto);
	max-width: var(--menu-item-link-max-width, 100%);
	padding: var(--menu-item-link-padding, (var(--spacing-sm) var(--spacing-sm)));
	color: var(--menu-item-link-color, var(--color-heading));
	text-align: var(--menu-item-link-text-align, start);

	// Mostly for use with mai_icon in menu item label.
	> span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transition: var(--transition);
	}

	&-current,
	&:hover,
	&:focus {
		color: var(--menu-item-link-color-hover, var(--menu-item-link-color, var(--color-link)));

		> span {
			filter: var(--menu-item-name-filter-hover, unset);
		}
	}

	&[class*="button"] {
		--menu-item-link-flex: 0 1 auto; // Mostly for buttons in mobile menu.
		--menu-item-link-color: var(--button-color);
		--menu-item-link-color-hover: var(--button-color-hover, var(--button-color));
		--button-font-size: var(--menu-font-size, var(--font-size-md));
	}
}

.has-dark-header {

	.site-header {
		--menu-item-link-color: var(--color-white);
		--menu-item-link-color-hover: var(--color-white);
		--menu-item-name-filter-hover: brightness(0.8);

		.sub-menu {
			--menu-item-name-filter-hover: brightness(1);
		}
	}
}

.has-dark-background {
	--menu-item-link-color: var(--color-white);
	--menu-item-link-color-hover: var(--color-white);
	--menu-item-name-filter-hover: brightness(0.8);
}

.menu-item-has-children {

	> a::after {
		display: var(--menu-item-dropdown-toggle, inline-block);
		width: 6px;
		height: 6px;
		margin-left: var(--menu-item-dropdown-margin-left, var(--spacing-xs));
		border-color: currentColor;
		border-style: solid;
		border-top: 0;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left: 0;
		transform: var(--sub-menu-toggle-transform, rotate(45deg));
		content: "";
	}

	// 3rd level menu items.
	.menu-item-has-children > a::after {
		transform: rotate(-45deg);
	}
}

.sub-menu {
	--menu-item-dropdown-margin-left: auto;
}

.menu-list,
.sidebar,
.mobile-menu {
	--menu-item-dropdown-toggle: none;
	--list-style-position: outside;
}

.menu-list,
.sidebar {
	--menu-display: block;
	--menu-item-link-padding: var(--spacing-xs) 0;
}

.no-js {
	--menu-item-display: inline-flex;
	--menu-item-width: auto;
}
