.menu-toggle {
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 1;
	min-height: var(--text-md);
	margin: var(--menu-toggle-margin, 0);
	padding: var(--menu-toggle-padding, 24px 0 24px 16px);
	color: var(--menu-toggle-color, var(--color-dark));
	background-color: var(--menu-toggle-background-color, transparent);

	@include mq(lg) {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: transparent;
	}

	&:focus {
		outline: var(--border);
	}
}

.menu-toggle-icon {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	margin: auto;

	&,
	&::before,
	&::after {
		display: block;
		width: var(--menu-toggle-line-width, (calc(var(--spacing-md) * 2)));
		height: var(--menu-toggle-line-height, 3px);
		background-color: var(--menu-toggle-line-background-color, var(--color-dark));
		border-radius: var(--menu-toggle-line-border-radius, var(--border-radius));
		transition: var(--transition);
		content: "";
	}

	&::before,
	&::after {
		position: absolute;
	}

	&::before {
		top: var(--menu-toggle-line-spacing, (calc(var(--spacing-md) * -0.5)));
	}

	&::after {
		bottom: var(--menu-toggle-line-spacing, (calc(var(--spacing-md) * -0.5)));
	}

	.activated & {
		background-color: transparent;

		&::before {
			top: 0;
			transform: rotate(45deg);
		}

		&::after {
			bottom: 0;
			transform: rotate(-45deg);
		}
	}
}
