.menu-toggle {
	--button-overlay-display: none;
	z-index: 100;
	display: var(--menu-toggle-display, (flex));
	align-items: center;
	justify-content: center;
	order: 1;
	min-height: 2em;
	margin: 0;
	padding: 0;
	color: var(--color-darkest);
	background: transparent;

	&:hover,
	&:focus {
		background: transparent;
	}

	&:focus {
		outline: var(--border);
	}
}

.menu-toggle-icon {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	margin: auto;
	background: var(--menu-toggle-icon-background, var(--color-darkest));
	transition: var(--menu-toggle-transition, background 0s 0.2s);

	&,
	&::before,
	&::after {
		display: block;
		width: var(--menu-toggle-line-width, (calc(var(--spacing-md) * 2)));
		height: var(--menu-toggle-line-height, 2px);
		border-radius: var(--menu-toggle-line-border-radius, var(--border-radius));
	}

	&::before,
	&::after {
		position: absolute;
		background: var(--menu-toggle-line-background, var(--color-darkest));
		content: "";
	}

	&::before {
		top: var(--menu-toggle-line-spacing, (calc(var(--spacing-md) * -0.5)));
		transform: var(--menu-toggle-line-before-transform, rotate(0deg));
		transition: var(--menu-toggle-line-before-transition, top 0.2s 0.2s, transform 0.2s 0s);
	}

	&::after {
		bottom: var(--menu-toggle-line-spacing, (calc(var(--spacing-md) * -0.5)));
		transform: var(--menu-toggle-line-after-transform, rotate(0deg));
		transition: var(--menu-toggle-line-after-transition, bottom 0.2s 0.2s, transform 0.2s 0s);
	}
}

.mobile-menu-visible {
	--menu-toggle-icon-background: transparent;
	--menu-toggle-line-spacing: 0;
	--menu-toggle-line-before-transform: rotate(45deg);
	--menu-toggle-line-after-transform: rotate(-45deg);
	--menu-toggle-line-before-transition: top 0.2s 0s, transform 0.2s 0.2s;
	--menu-toggle-line-after-transition: top 0.2s 0s, transform 0.2s 0.2s;
}
