.menu-toggle {
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 1;
	width: var(--spacing-md);
	height: var(--spacing-md);
	margin: var(--menu-toggle-margin, 0);
	padding: var(--menu-toggle-padding, 0);
	background-color: var(--menu-toggle-background-color, transparent);

	@include mq(lg) {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: transparent;
	}

	&:focus {
		outline: var(--border);
	}
}

.menu-toggle-icon,
.menu-toggle-icon::before,
.menu-toggle-icon::after {
	position: absolute;
	display: block;
	width: var(--menu-toggle-line-width, (calc(var(--spacing-md) * 2)));
	height: var(--menu-toggle-line-height, 3px);
	background-color: var(--menu-toggle-line-background-color, var(--color-dark));
	border-radius: var(--menu-toggle-line-border-radius, var(--border-radius));
	content: "";
}

.menu-toggle-icon {
	top: auto;
	right: auto;
	bottom: auto;
	margin: auto;

	&::before {
		top: var(--menu-toggle-line-spacing, (calc(var(--spacing-md) * -0.5)));
	}

	&::after {
		bottom: var(--menu-toggle-line-spacing, (calc(var(--spacing-md) * -0.5)));
	}
}

.activated {

	.menu-toggle-icon {
		background-color: transparent;

		&::before {
			top: 0;
			transform: rotate(45deg);
		}

		&::after {
			bottom: 0;
			transform: rotate(-45deg);
		}
	}
}
