.menu {
	display: flex;
	flex-wrap: var(--menu-flex-wrap, wrap);
	align-items: var(--menu-align-items, center);
	width: 100%;
	margin: 0;
	line-height: var(--menu-line-height, 1);
	columns: var(--menu-columns, auto);
	list-style-type: none;

	--menu-item-display: inline-flex;
	--link-color: var(--color-medium);
	--link-color-hover: var(--color-primary);
	--button-padding: 0;
	--button-margin: 0 0 0 var(--spacing-md);
}

.menu-item {
	position: relative;
	display: var(--menu-item-display, (flex));
	flex-wrap: var(--menu-item-flex-wrap, wrap);
	align-items: center;
	justify-content: space-between;
	width: var(--menu-item-width, 100%);
	margin: var(--menu-item-margin, (0 auto));
}

.menu-item-link {
	display: block;
	width: var(--menu-item-link-width, 100%);
	padding: var(--menu-item-link-padding, (var(--spacing-sm) var(--spacing-xxs)));
	text-decoration: none;
}

.menu-item-link > span {
	display: flex;
	align-items: center;
}

.has-transparent-header {
	--menu-item-link-color: var(--color-white);
}

.is-desktop {
	--menu-flex-wrap: nowrap;
	--menu-alignment: flex-end;
	--menu-font-size-desktop: smaller;

	--menu-item-width: auto;
	--menu-item-link-width: auto;
	--menu-item-margin: 0;
	--menu-item-link-padding: var(--spacing-md) var(--spacing-md);
}
