.mobile-menu {
	--menu-item-width: 100%;
	--menu-item-link-flex: 1;
	--wrap-display: block;
	--button-overlay-display: none;
	--sub-menu-margin: 0 0 var(--spacing-md) var(--spacing-xxs);

	position: absolute;
	top: 100%;
	left: 0;
	display: var(--mobile-menu-display, none);
	width: 100%;
	max-height: 100vh;
	padding: var(--spacing-md) 0;
	overflow-y: auto;
	background: var(--mobile-menu-background, var(--site-header-background, var(--color-white)));
	border-bottom: var(--mobile-menu-border-bottom, var(--border));
	animation: var(--mobile-menu-animation, none);

	@include mq(false, sm) {
		--sub-menu-toggle-margin: 0 0 0 auto;
	}

	.menu-item-search {
		display: none;
	}

	.menu-item-button {
		--menu-item-margin: var(--spacing-sm) 0;
	}
}

.has-dark-header {
	--mobile-menu-background: var(--color-heading);

	.mobile-menu {
		--menu-item-link-color: var(--color-white);
	}
}

.mobile-menu-visible {
	--mobile-menu-display: block;
	--mobile-menu-background: var(--color-white);
	--mobile-menu-animation: standardmenu 0.3s ease-in-out;
}

@keyframes standardmenu {

	0% {
		top: 80%;
		opacity: 0;
	}

	100% {
		top: 100%;
		opacity: 1;
	}
}
