.nav-header-left,
.nav-header-right {
	position: relative;
	display: var(--nav-header-display, (flex));
	order: 2;
	width: var(--nav-header-width, 100vw);
	margin: var(--nav-header-margin, 0 -5vw);
	padding: var(--nav-header-padding, (var(--spacing-md) 5vw));
	background-color: var(--nav-header-background-color, var(--color-white));
}

.nav-after-header {
	z-index: 1;
	display: var(--nav-header-display, (flex));
	width: 100%;

	--menu-alignment: flex-start;
}

.is-mobile {
	--nav-header-display: none;
}

.is-desktop {
	--nav-header-width: auto;
	--nav-header-margin: 0;
	--nav-header-padding: 0;
	--nav-header-background-color: transparent;
}

.has-transparent-header {
	--nav-after-header-border-top: var(--border);
	--nav-after-header-border-bottom: var(--border);
}

.nav-footer {
	width: 100%;
	--menu-alignment: center;

	@include mq(lg) {
		border-top: var(--nav-footer-border-top, var(--border));
		border-bottom: var(--nav-footer-border-bottom, var(--border));
	}
}
