.nav-header-left {
	display: none;
	order: 2;
	width: 100vw;
	margin: 0 -5vw;
	padding: var(--nav-primary-padding-mobile, (var(--spacing-md) 5vw));
	background-color: var(--nav-primary-background-color-mobile, var(--color-white));

	@include mq(lg) {
		position: relative;
		top: auto;
		display: flex !important;
		width: auto;
		margin: 0;
		padding: 0;
		background: 0;
	}
}

.nav-after-header {
	z-index: 1;
	width: 100%;

	@include mq(lg) {
		--menu-alignment: flex-start;
		border-top: var(--nav-after-header-border-top, 0);
		border-bottom: var(--nav-after-header-border-bottom, 0);
	}
}

.has-transparent-header {
	--nav-after-header-border-top: var(--border);
	--nav-after-header-border-bottom: var(--border);
}

.nav-footer {
	width: 100%;
	--menu-alignment: center;

	@include mq(lg) {
		border-top: var(--nav-footer-border-top, var(--border));
		border-bottom: var(--nav-footer-border-bottom, var(--border));
	}
}
