.nav-header-left,
.nav-header-right {
	position: relative;
	display: var(--nav-header-display, (flex));
	flex-grow: 1;
	width: var(--nav-header-width, 100vw);
	margin: var(--nav-header-margin, 0 -5vw);
	padding: var(--nav-header-padding, (var(--spacing-md) 5vw));
	background: var(--nav-header-background, none);
}

.nav-header-right {
	--menu-justify-content: flex-end;
}

.nav-after-header {
	position: relative;
	z-index: 9;
	display: var(--nav-after-header-display, none);
	width: 100%;
}
