.sub-menu {
	--sub-menu-animation-name: fadein;
	--sub-menu-animation-duration: 0.2s;
	--sub-menu-animation-timing: ease-in-out;
	--sub-menu-toggle-transform: rotate(-45deg);
	--list-margin: 0 !important;
	--menu-item-width: 100%;
	--menu-item-link-padding: var(--sub-menu-item-link-padding, var(--spacing-xs) var(--spacing-md));

	position: var(--sub-menu-position, relative);
	z-index: 9;
	display: var(--sub-menu-display, none);
	flex: 1 1 100%;
	flex-wrap: wrap;
	margin: var(--sub-menu-margin, 0);
	padding: var(--sub-menu-padding, var(--spacing-xxs) 0);
	font-size: 0.9em;
	list-style-type: var(--sub-menu-list-style, none);

	.before-header &,
	.nav-header &,
	.nav-after-header & {
		top: 100%;
		left: var(--sub-menu-left, auto);
		width: var(--sub-menu-width, 100%);
		background-color: var(--sub-menu-background-color, transparent);
		border: var(--sub-menu-border, 0);
		opacity: var(--sub-menu-opacity, 1);
		animation: var(--sub-menu-animation-name) var(--sub-menu-animation-duration) var(--sub-menu-animation-timing);
	}
}

.sub-menu .sub-menu {
	top: var(--sub-sub-menu-top, auto);
	left: var(--sub-sub-menu-left, auto);
	margin-left: var(--sub-sub-menu-margin-left, auto);
	white-space: var(--sub-sub-menu-white-space, normal);
}

.sidebar,
.footer-widgets {
	--sub-menu-position: static;
	--sub-menu-display: block;
	--sub-menu-list-style: disc;

	.sub-menu {
		--sub-menu-margin: 0;
		--menu-item-display: list-item;
		--menu-item-margin: var(--spacing-sm) 0 0;
		--menu-item-link-display: inline;
		--menu-item-link-padding: var(--spacing-xs) var(--spacing-xxs);
		--sub-menu-item-link-padding: var(--spacing-xs) var(--spacing-xxs);
		text-align: start;
	}
}

.is-desktop {
	--sub-menu-position: absolute;
	--sub-menu-left: -999rem;
	--sub-menu-width: 200px;
	--sub-menu-margin: 0 0 0 calc(0 - var(--spacing-md));
	--sub-menu-background-color: var(--color-lightest);
	--sub-menu-border: var(--border);
	--sub-menu-opacity: 0;
	--sub-menu-transition: opacity var(--transition-duration) var(--transition-timing-function);

	--sub-menu-toggle-position: relative;
	--sub-menu-toggle-display: none;

	--sub-sub-menu-top: -1px;
	--sub-sub-menu-left: 100%;
	--sub-sub-menu-margin-left: 0;
	--sub-sub-menu-white-space: nowrap;

	.menu-item:hover > .sub-menu,
	.menu-item:focus > .sub-menu,
	.menu-item:focus-within > .sub-menu {
		display: flex; /* can't be variable because 3rd level sub-menus will display too */
		--sub-menu-opacity: 1;
		--sub-menu-left: auto;
	}
}

