.sub-menu {
	--menu-item-width: 100%;
	--menu-item-link-padding: var(--sub-menu-item-link-padding, var(--spacing-xs) var(--spacing-md));
	--menu-item-link-color: var(--sub-menu-link-color, var(--color-darker));
	--menu-item-link-color-hover: var(--sub-menu-link-color-hover, var(--color-primary));

	position: var(--sub-menu-position, relative);
	top: var(--sub-menu-top, 100%);
	left: var(--sub-menu-left, auto);
	z-index: 9;
	display: var(--sub-menu-display, none);
	flex: 1 1 100%;
	flex-wrap: wrap;
	width: var(--sub-menu-width, 18rem);
	margin: var(--sub-menu-margin, 0);
	padding: var(--sub-menu-padding, var(--spacing-xxs) 0);
	font-size: var(--sub-menu-font-size, 0.9em); /* 90% of whatever the menu is set to. */
	list-style-type: var(--sub-menu-list-style, none);
	background: var(--sub-menu-background, var(--color-white));
	border: var(--sub-menu-border, 0);
	opacity: var(--sub-menu-opacity, 1);
	animation: var(--sub-menu-animation, none);
}

.sub-menu .sub-menu {
	top: var(--sub-sub-menu-top, auto);
	left: var(--sub-sub-menu-left, auto);
	margin-left: var(--sub-sub-menu-margin-left, auto);
	white-space: var(--sub-sub-menu-white-space, normal);
}

.menu-list,
.sidebar {
	--sub-menu-position: static;
	--sub-menu-display: block;
	--sub-menu-width: auto;
	--sub-menu-margin: 0 0 0 var(--spacing-md);
	--sub-menu-background: none;
	--sub-menu-list-style: disc;
	--sub-menu-item-link-padding: var(--spacing-xs) var(--spacing-xxs);
	--sub-menu-border: none;
	--sub-menu-opacity: 1;

	.sub-menu {
		--menu-item-display: list-item;
		--menu-item-margin: var(--spacing-sm) 0 0;
		--menu-item-link-display: inline;
		--menu-item-link-padding: var(--spacing-xs) var(--spacing-xxs);
		text-align: start;
	}
}
