.sub-menu-toggle {
	display: var(--sub-menu-toggle-display, (flex));
	align-items: center;
	justify-content: center;
	height: auto;
	margin: var(--sub-menu-toggle-margin, 0);
	padding: 1em;
	background: transparent;

	&:hover,
	&:focus {
		background: transparent;
	}

	&:focus {
		outline: var(--border);
	}
}

.sub-menu-toggle-icon {
	width: 8px;
	height: 8px;
	border-color: var(--menu-item-link-color, var(--color-heading));
	border-style: solid;
	border-top: 0;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left: 0;
	transform: var(--sub-menu-toggle-transform, rotate(45deg));
}

.active {
	--sub-menu-toggle-transform: rotate(-135deg);
}
