/* kirki default spacing */

.customize-control[class*="customize-control-kirki-"] + .customize-control[class*="customize-control-kirki-"] {
	margin-top: 12px;
}

/* kirki sortable */

.customize-control.customize-control-kirki-sortable .mai-toggle-hooks {
	float: right;
	color: #008dd4;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
	padding: 6px 12px 2px;
	margin: 0 0 4px 0;
	border-radius: 3px;
}

.customize-control.customize-control-kirki-sortable .mai-toggle-hooks:hover,
.customize-control.customize-control-kirki-sortable .mai-toggle-hooks:focus {
	outline: none;
	box-shadow: none;
	text-decoration: underline;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable {
	clear: both;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li {
	border-radius: 3px;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li:hover {
	cursor: move;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li:not(.invisible) {
	border: 1px solid #7e8993;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li:not([data-value^="genesis_"]):not(.invisible):not(.mai-sortable-expanded) {
	background: #fff;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li[data-value^="genesis_"]:not(.invisible) {
	background: rgba(0, 0, 0, 0.02);
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li[data-value^="genesis_"] {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li[data-value^="genesis_"]:not(.mai-sortable-expanded) {
	height: 4px;
	padding: 0;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 2px;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li[data-value^="genesis_"]:not(.mai-sortable-expanded) > * {
	opacity: 0;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li:not(.invisible) .dashicons.visibility {
	border: 1px solid #7e8993 !important;
}

.customize-control.customize-control-kirki-sortable ul.ui-sortable li .dashicons.visibility {
	border: 1px solid #7e8993;
	border-radius: 4px;
	background: #fff;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-flex;
	line-height: 0;
	width: 14px;
	height: 14px;
	margin: -3px 6px 0 0 !important;
	outline: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	-webkit-appearance: none;
	box-shadow: inset 0 1px 2px	rgba(0, 0, 0, 0.1);
	transition: .05s border-color ease-in-out;
}

/* remove kirki's eye. */
.customize-control.customize-control-kirki-sortable ul.ui-sortable li.invisible .dashicons.visibility::before {
	display: none !important;
}

/* this is to match ACF's checkbox styling. */
.customize-control.customize-control-kirki-sortable ul.ui-sortable li:not(.invisible) .dashicons.visibility::before {
	display: flex;
	content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%231e8cbe%27%2F%3E%3C%2Fsvg%3E");
	margin: 1px 0 0 -1px;
	height: 100%;
	width: 100%;
	transform: scale(1.4);
}


/* Kirki responsive columns container */

.customize-control.customize-control-kirki-radio-buttonset[id$="columns_md"],
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_sm"],
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_xs"] {
	box-sizing: border-box !important;
	border-left: 1px solid #ccd0d4 !important;
	padding: 12px 0 16px 12px !important;
}

.customize-control.customize-control-kirki-radio-buttonset[id$="columns_md"],
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_sm"] {
	margin: 0 !important;
}

.customize-control.customize-control-kirki-radio-buttonset[id$="columns_md"] {
	position: relative;
	border-top: 1px solid #ccd0d4 !important;
	border-radius: 3px 0 0 0;
}

.customize-control.customize-control-kirki-radio-buttonset[id$="columns_md"]::before {
	content: '';
	display: block;
	height: 16px;
	width: 0;
	position: absolute;
	left: 7px;
	bottom: 100%;
	border-left: 1px solid #ccd0d4 !important;
}

.customize-control.customize-control-kirki-radio-buttonset[id$="columns_xs"] {
	position: relative;
	margin: 0 0 12px 0 !important;
	border-bottom: 1px solid #ccd0d4 !important;
	border-radius: 0 0 0 3px;
}

/* ACF button group. */

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group .acf-button-group {
	display: -webkit-box;
	display: flex;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear {
	position: relative;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group {
	flex-wrap: wrap;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group > .acf-label {
	padding-right: 54px;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group label:first-child {
	position: absolute;
	bottom: calc( 100% + 3px);
	right: 0;
	background: transparent;
	color: #008dd4;
	font-size: 10px;
	text-transform: uppercase;
	border: transparent;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group label:first-child:hover,
.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group label:first-child:focus {
	color: #016087;
	background: #f3f5f6;
	border-color: #0071a1;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group label:nth-child(2) {
	border-radius: 3px 0 0 3px;
}

/* kirki buttonset */

.customize-control.customize-control-kirki-radio-buttonset .buttonset {
	margin-left: 1px;
}

.customize-control.customize-control-kirki-radio-buttonset .buttonset .switch-label {
	background: #fff;
	border: 1px solid #9fa7ae;
	padding: 6px 4px;
	margin-left: -1px;
}

.customize-control.customize-control-kirki-radio-buttonset[id$="align_text"] .buttonset,
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns"] .buttonset,
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns_vertical"] .buttonset {
	position: relative;
}

.customize-control.customize-control-kirki-radio-buttonset[id$="align_text"] .switch-label:first-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns"] .switch-label:first-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns_vertical"] .switch-label:first-of-type {
	position: absolute;
	bottom: 100%;
	right: 0;
	background: transparent !important;
	color: #008dd4 !important;
	font-size: 11px;
	text-transform: uppercase;
	padding: 6px 12px;
	border: transparent;
}

.customize-control.customize-control-kirki-radio-buttonset[id$="align_text"] .switch-label:first-of-type:hover,
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns"] .switch-label:first-of-type:hover,
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns_vertical"] .switch-label:first-of-type:hover {
	outline: none !important;
	box-shadow: none !important;
	text-decoration: underline !important;
}

.customize-control.customize-control-kirki-radio-buttonset[id$="columns"] .switch-label:first-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_md"] .switch-label:first-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_sm"] .switch-label:first-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_xs"] .switch-label:first-of-type {
	order: 99;
}

.customize-control.customize-control-kirki-radio-buttonset[id$="columns"] .switch-label:nth-of-type(2),
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_md"] .switch-label:nth-of-type(2),
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_sm"] .switch-label:nth-of-type(2),
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_xs"] .switch-label:nth-of-type(2),
.customize-control.customize-control-kirki-radio-buttonset[id$="align_text"] .switch-label:nth-of-type(2),
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns"] .switch-label:nth-of-type(2),
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns_vertical"] .switch-label:nth-of-type(2) {
	border-radius: 3px 0 0 3px;
}
.customize-control.customize-control-kirki-radio-buttonset[id$="columns"] .switch-label:last-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_md"] .switch-label:last-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_sm"] .switch-label:last-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="columns_xs"] .switch-label:last-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="align_text"] .switch-label:last-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns"] .switch-label:last-of-type,
.customize-control.customize-control-kirki-radio-buttonset[id$="align_columns_vertical"] .switch-label:last-of-type {
	border-radius: 0 3px 3px 0;
}
