:root {
	--font-primary: karla, var(--font-stack);
	--font-secondary: karla, var(--font-stack);
	--button-border-radius: 9rem;
	--button-filter-hover: none;
	--button-transform-hover: scale(1.05);
	--input-border-radius: 9rem;
	--site-header-border-bottom: 0;
	--page-header-border-bottom: 0;
	--menu-toggle-icon-background-color: var(--color-white);
	--menu-toggle-line-background-color: var(--color-white);
}

embed,
iframe,
object,
video {
	border-radius: var(--border-radius);
}

.is-stuck {

	@include mq(sm) {
		--site-header-background-color: var(--color-primary);
	}
}

.mobile-menu {
	width: 90vw;
	height: 90vh;
	margin: auto;
	background-color: var(--color-white);
	border-radius: var(--border-radius);

	@include position(fixed, 0 0 0 0);
}

.is-mobile {
	--menu-item-link-color: var(--color-dark);
}

.has-transparent-header {

	.site-title-link,
	.site-description,
	.page-header {
		color: var(--color-white);
	}
}

.page-header {
	--heading-color: var(--color-white);
}

.page-header-overlay {
	background-color: var(--color-primary);
	opacity: 1;
}

.has-wave-divider::after {
	height: 16rem;
}

.site-footer {
	background-color: var(--color-light);
	border: 0;
}

.before-footer {
	border: 0;

	--heading-color: var();
	--input-border: 0;
	--input-border-focus: 0;
	--input-box-shadow: var(--shadow);

	@include mq(lg) {
		--wrap-flex-wrap: nowrap;
		--widget-margin: 0;
	}

	.wpforms-container {
		margin-bottom: 0;
	}
}

.footer-widgets {
	padding: 0;

	--heading-margin: 0 0 1em;
	--heading-font-size: var(--text-lg);
}

.footer-widgets > .wrap {
	padding: var(--spacing-xxxxl) 0;
	border-top: var(--border);
	border-bottom: var(--border);

	@include mq(lg) {
		grid-template-columns: repeat(1, 2fr 1fr 1fr 1fr);
	}
}
