////
/// Before footer component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Before footer.
////

.before-footer {
	position: relative;
	padding: var(--before-footer-padding, (var(--spacing-xl) 0 calc(var(--spacing-xl) - var(--gutter))));
	border-bottom: var(--before-footer-border-bottom, var(--border));
	color: var(--before-footer-color, var(--color-gray));
	background-color: var(--before-footer-background-color, var(--color-light));

	// Widget title
	.widget-title {
		font-size: var(--before-footer-title-font-size, var(--font-size-xl));
	}
}
