////
/// Footer credits component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Variables.
////

$footer-credits-padding-top: var(--gutter) !default;
$footer-credits-padding-bottom: var(--gutter) !default;
$footer-credits-font-size: smaller !default;
$footer-credits-background-color: transparent !default;
$footer-credits-color: var(--color-body) !default;
$footer-credits-link-color: var(--color-primary) !default;
$footer-credits-link-color-hover: var(--color-primary) !default;

////
/// Footer Credits.
////

.footer-credits {
	padding-top: $footer-credits-padding-top;
	padding-bottom: $footer-credits-padding-bottom;
	color: $footer-credits-color;
	background-color: $footer-credits-background-color;
	font-size: $footer-credits-font-size;

	.footer-widgets + & {
		padding-top: 0;
	}

	// Paragraphs.
	p {
		width: 100%;
		margin-bottom: 0;
	}

	// Links.
	a {
		color: $footer-credits-link-color;

		@include hover-focus {
			color: $footer-credits-link-color-hover;
		}
	}
}
