.footer-widgets {
	padding: var(--footer-widgets-padding, (var(--spacing-xl) 0 calc(var(--spacing-xl) - var(--gutter))));
	color: var(--footer-widgets-color);
	font-size: var(--footer-widgets-font-size);
	background-color: var(--footer-widgets-background-color);

	--menu-columns: 2;
	--menu-display: block;
	--menu-item-margin: 0 0 var(--spacing-md);
	--menu-item-link-padding: 0;
}

.footer-widget-area {
	flex: 1;
}
