.site-footer {
	width: 100%;
	background: var(--site-footer-background, var(--color-lightest));
	border-top: var(--border);

	--content-max-width: var(--breakpoint-xl);
	--widget-margin: 0;
	--alignfull-margin-right: calc(50% - 50vw);
	--alignfull-margin-left: calc(50% - 50vw);
	--entry-title-margin-bottom: var(--spacing-xxs);
	--menu-justify-content: center;
}

.before-footer,
.footer {
	--paragraph-margin: 0 0 var(--spacing-xs);
}

.before-footer {
	--wrap-justify-content: space-between;
}

.footer-credits {
	padding: var(--footer-credits-padding, (var(--spacing-lg) 0));
	font-size: smaller;
	text-align: var(--footer-credits-text-align, center);

	--wrap-justify-content: center;
	--paragraph-margin: 0;
	--paragraph-width: 100%;
}

.has-boxed-container {

	@include mq(lg) {

		.site-footer {
			--alignfull-margin-right: calc((var(--site-container-max-width) - var(--content-max-width)) - var(--side-spacing));
			--alignfull-margin-left: calc((var(--site-container-max-width) - var(--content-max-width)) - var(--side-spacing));
		}
	}
}
