:root {
	--border-radius: 50px;
	--font-primary: Muli, var(--font-stack);
	--font-secondary: Muli, var(--font-stack);
	--font-weight-heading: 700;
	--page-header-heading-color: var(--color-white);
	--button-font-family: var(--font-secondary);
}
