////
/// Featured Content component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Variables.
////

$featured-content-margin-bottom: $spacing-m !default;
$featured-content-entry-image-border-radius: $base-border-radius !default;

////
/// Featured content.
////

.featured-content {
	margin-bottom: $featured-content-margin-bottom;

	// Widget wrap.
	.widget-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// Widget title.
	.widget-title {
		width: 100%;
	}

	// Entry.
	.entry {
		width: 100%;

		> a {
			display: block;

			img {
				min-width: 100%;
				border-radius: $featured-content-entry-image-border-radius;
			}
		}

		> span {
			display: none;
		}
	}
}
