////
/// Sidebar component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Sidebar.
////

.sidebar {
	margin-top: var(--sidebar-margin-mobile, var(--space-md));
	margin-bottom: var(--sidebar-margin-mobile, var(--space-md));

	@include mq(md) {
		margin-top: var(--sidebar-margin-desktop, var(--space-lg));
		margin-bottom: var(--sidebar-margin-desktop, var(--space-lg));
	}

	// When Visible.
	.content-sidebar &,
	.sidebar-content & {

		@include mq(md) {
			width: var(--layout-width-sidebar);
		}
	}

	// Entry.
	.entry {

		@include clearfix;

		&-title {
			margin-bottom: var(--sidebar-entry-title-margin-bottom, var(--space-xxs));
			font-size: var(--sidebar-entry-title-font-size, var(--text-base));
		}

		&-image {
			max-width: var(--sidebar-entry-image-max-width, var(--space-xxl));
		}
	}
}
