////
/// Sidebar component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Variables.
////

$sidebar-margin-mobile: var(--spacing-m) null !default;
$sidebar-margin-desktop: var(--spacing-l) null !default;
$sidebar-entry-title-margin-bottom: var(--spacing-xxs) !default;
$sidebar-entry-title-font-size: var(--font-size-body) !default;
$sidebar-entry-image-max-width: var(--spacing-xxl) !default;

////
/// Sidebar.
////

.sidebar {

	@include margin($sidebar-margin-mobile);

	@include mq(m) {

		@include margin($sidebar-margin-desktop);
	}

	// When Visible.
	.content-sidebar &,
	.sidebar-content & {

		@include mq(m) {
			width: var(--layout-width-sidebar);
		}
	}

	// Entry.
	.entry {

		@include clearfix;

		&-title {
			margin-bottom: $sidebar-entry-title-margin-bottom;
			font-size: $sidebar-entry-title-font-size;
		}

		&-image {
			max-width: $sidebar-entry-image-max-width;
		}
	}
}
