////
/// Avatar component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Avatar.
////

.avatar {
	float: var(--avatar-float, left);
	margin-right: var(--avatar-margin-right, var(--space-md));
	border-radius: var(--avatar-border-radius, var(--border-radius));
}
