////
/// Comment component.
///
/// This is the component for handling individual comments in a comments list.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Comment.
////

.comment {
	margin: var(--comment-margin, (var(--space-lg) 0));
	background-color: var(--comment-background);

	// Comment list wrapper.
	&-list {
		list-style-type: none;
	}

	// Comment children.
	.children {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	// Comment header.
	&-header {
	}

	// Comment author.
	&-author {
		margin: 0;
	}

	// Comment author link.
	&-author-link {
	}

	// Comment author says.
	.says {
	}

	// Comment meta.
	&-meta {
	}

	// Comment time.
	&-time {
	}

	// Comment time link.
	&-time-link {
	}

	// Comment edit link.
	&-edit-link {
		display: none;
	}

	// Comment content.
	&-content {
	}

	// Comment reply.
	&-reply {
	}

	// Comment reply link.
	&-reply-link {
	}

	// Comment reply title.
	&-reply-title {
	}

	// Comment respond.
	&-respond {
		width: 100%;
	}

	// Comment logged in as.
	.logged-in-as {
	}

	// Comment reply form.
	&-form {
	}

	// Comment form comment.
	&-form-comment {
	}

	// Comment form submit.
	.form-submit {
	}
}
