:root {
	--font-primary: "Open Sans", sans-serif;
	--font-secondary: "Playfair Display", serif;
	--font-weight-body: var(--font-weight-light);
	--body-background: #fcfcfc;
	--border: 1px solid rgba(0, 0, 0, 0.06);
	--shadow: 0 4px 24px rgba(0, 0, 0, 0.025);
}

html {
	-moz-osx-font-smoothing: unset;
}

.button-secondary {
	--button-font-weight: var(--font-weight-body);
}

.is-single {

	&:not(.home) .content > .entry {
		--entry-background: var(--color-lightest);
		--entry-padding: calc(8px + 2vw);
		--entry-border: var(--border);
		--entry-box-shadow: var(--shadow);
	}
}

.nav-after-header {
	--menu-item-link-color: var(--color-lightest);
	font-size: 0.9em;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	background-color: var(--color-darkest);
}

.page-header {
	--page-header-overlay: transparent;
	--page-header-overlay-opacity: 1;
	--page-header-inner-background: rgba(255, 255, 255, 0.9);
	--page-header-inner-max-width: 800px;
	--page-header-inner-padding: var(--spacing-lg) var(--spacing-xl);
	--page-header-inner-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
