////
/// Gutenberg block component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Variables.
////

////
/// Block.
////

.wp-block {

	// Audio block.
	&-audio {
	}

	// Categories block.
	&-categories {

		&-list {
		}

		&-dropdown {
		}
	}

	// Code block.
	&-code {
	}

	// Columns block.
	&-columns {

		@include mq($until: m) {
			flex-wrap: wrap;
		}
	}

	&-column {

		@include mq($until: m) {
			flex: none;
			width: 100%;
		}

		@include mq(m) {
			margin-left: var(--gutter);

			&:first-of-type {
				margin-left: 0;
			}
		}
	}

	// Cover image block.
	&-cover-image {

		&.has-parallax {
		}

		&.has-background-dim {
		}

		&-text {
		}

		&.has-left-content {
		}

		&.has-right-content {
		}

		&.has-left-content &-text {
		}

		&.has-right-content &-text {
		}
	}

	// Embed block.
	&-embed {

		@include margin(var(--spacing-m) null);
	}

	// File block.
	&-file {

		&-button {
		}
	}

	// Gallery block.
	&-gallery {

		@include margin(var(--spacing-m) null);

		&.is-cropped {
		}

		&.columns-1 {
		}

		&.columns-2 {
		}

		&.columns-3 {
		}

		.blocks-gallery-item {
		}

		&.is-cropped .blocks-gallery-item {
		}

		.blocks-gallery-item {

			img {
				align-self: center;
			}
		}

		&.columns-1 .blocks-gallery-item {
		}
	}

	// Image block.
	&-image {

		@include margin(var(--spacing-m) null);

		&.alignleft {
			margin-right: var(--spacing-m);
		}

		&.alignright {
			margin-left: var(--spacing-m);
		}

		&.alignwide {
			max-width: 120%;
		}

		&.alignfull {
			max-width: none;
		}
	}

	// Latest posts block.
	&-latest-posts {

		&.is-grid {
		}

		&-post-date {
		}

		&-post-excerpt {
			display: flex;
			flex-wrap: wrap;
		}

		li > a {
			color: var(--color-heading);
			font-family: var(--font-family-heading);
			font-weight: var(--font-weight-semibold);
			line-height: var(--line-height-heading);
		}
	}

	// Preformatted block.
	&-preformatted {
	}

	// Pullquote block.
	&-pullquote {
		border-left: 0;

		@include margin(var(--spacing-l) null);

		&.aligncenter {

			@include margin(var(--spacing-l) null);
		}
	}

	// Quote block.
	&-quote {
	}

	// Separator block.
	&-separator {
	}

	// Subhead block.
	&-subhead {
	}

	// Table block.
	&-table {
	}

	// Verse block.
	&-verse {
	}
}
