.wp-block-button__link {

	@include button;

	.is-style-rounded & {
		border-radius: 10rem;
	}

	.is-style-outline & {
		color: var(--color-primary);
		background-color: transparent;
		border: var(--border-size) var(--border-style) var(--color-primary);

		&:hover,
		&:focus {
			color: var(--color-white);
			background-color: var(--color-primary);
			border-color: var(--color-primary);
		}
	}
}
