.wp-block-code {
	padding: 0.8em 1em;
	color: var(--color-heading);
	font-size: var(--font-size-sm);
	font-family: var(--code-font-family);
	border: var(--border);
	border-radius: var(--border-radius);
}
