.wp-block {

	&-columns {

		@include mq(md, max) {
			flex-wrap: wrap;
		}
	}

	&-column {

		@include mq(md, max) {
			flex: none;
			width: 100%;
		}

		@include mq(lg) {
			margin-left: var(--gutter);

			&:first-of-type {
				margin-left: 0;
			}
		}
	}
}
