.wp-block-cover {
	position: relative; // so negative margins inside will work.
	min-height: 0;

	&.has-background:not(.alignfull) {
		padding-right: var(--spacing-lg);
		padding-left: var(--spacing-lg);
	}

	&.alignfull {
		padding-right: var(--side-spacing);
		padding-left: var(--side-spacing);
	}

	&__inner-container {
		width: 100% !important;
		max-width: var(--content-max-width, var(--breakpoint-xl));
		margin-right: auto;
		margin-left: auto;

		.content-sidebar & {
			margin-right: 0;
		}

		.sidebar-content & {
			margin-left: 0;
		}
	}
}

.wp-cover-block__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: var(--object-position, 50%);
}
