.wp-block-cover {
	--divider-z-index: -1;

	position: relative; // so negative margins inside will work.
	min-height: 0;

	&.has-background:not(.alignfull) {
		padding: var(--spacing-xl) var(--spacing-lg);
	}

	&.alignfull {
		padding-right: var(--side-spacing);
		padding-left: var(--side-spacing);

		@include mq(lg) {

			.content-sidebar &,
			.sidebar-content & {
				--content-max-width: calc(100vw - var(--sidebar-width) - var(--content-sidebar-gap) - (var(--side-spacing) * 3));
			}

		}

		@include mq(xl) {

			.content-sidebar &,
			.sidebar-content & {
				--content-max-width: calc(var(--breakpoint-xl) - var(--sidebar-width) - var(--content-sidebar-gap) - var(--side-spacing));
			}
		}
	}
}

.wp-block-cover__inner-container {
	width: 100% !important;
	max-width: var(--content-max-width) !important;
	margin-right: auto;
	margin-left: auto;

	.content-sidebar & {
		margin-right: 0;
	}

	.sidebar-content & {
		margin-left: 0;
	}

}

.wp-cover-block__image {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: var(--object-position, 50%);
}
