.wp-block-cover {
	position: relative; // so negative margins inside will work.
	z-index: 0; // so negative margins work with overlay.
	min-height: 0;
	padding: var(--cover-block-padding-top, 0.05px) var(--cover-block-padding-right, 0.05px) var(--cover-block-padding-bottom, 0.05px) var(--cover-block-padding-left, 0.05px); // 0.05px prevents margin collapsing.

	&.has-background:not(.alignfull) {
		--cover-block-padding-right: var(--spacing-lg);
		--cover-block-padding-left: var(--spacing-lg);
	}

	&.alignfull {
		--cover-block-padding-right: var(--side-spacing);
		--cover-block-padding-left: var(--side-spacing);

		.wp-block-cover {
			--cover-block-padding-right: 0;
			--cover-block-padding-left: 0;
		}

		.wp-block-group {
			--group-block-padding-right: 0;
			--group-block-padding-left: 0;
		}
	}

	&.has-parallax {
		background-image: var(--cover-block-background-image, var(--background-image-sm));

		@include mq(sm) {
			--cover-block-background-image: var(--background-image-md);
		}

		@include mq(md) {
			--cover-block-background-image: var(--background-image-lg);
		}
	}

	&__inner-container {
		width: 100% !important;
		max-width: var(--content-max-width, var(--breakpoint-xl));
		margin-right: auto;
		margin-left: auto;

		.content-sidebar & {
			margin-right: 0;
		}

		.sidebar-content & {
			margin-left: 0;
		}
	}
}

.wp-cover-block__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: var(--object-position, 50%);
}

.has-light-background .wp-block-cover__inner-container {
	--body-color: var(--color-body);
	--heading-color: var(--color-heading);
}
