.mai-divider {
	position: var(--divider-position, static);
	z-index: var(--divider-z-index, 1);
	display: block;
	width: var(--divider-width, var(--alignfull-width, auto));
	height: var(--divider-height);
	background: var(--divider-background-color, transparent);
	transform: translateY(var(--divider-translateY, 1px)); // Browser sub-pixel fix.

	.wp-block-cover + &,
	.wp-block-group + &,
	.wp-block-cover__inner-container &:first-child,
	.wp-block-group__inner-container &:first-child {
		--divider-translateY: -1px;
	}
}

.wp-block-cover,
.wp-block-group {
	--divider-position: relative;
}

.mai-divider-svg {
	display: block;
	width: 100%;
	height: 100%;
	color: var(--divider-color, currentColor);
	background-color: transparent;
	transform: var(--divider-transform, scale(1));
}

.flip-vertical {
	--divider-transform: scaleY(-1);
}

.flip-horizontal {
	--divider-transform: scaleX(-1);
}

.flip-vertical.flip-horizontal {
	--divider-transform: scale(-1);
}
