.mai-divider {
	position: var(--divider-position, unset);
	bottom: var(--divider-bottom, auto);
	z-index: 1;
	display: block;
	width: var(--divider-width, var(--alignfull-width, auto));
	height: var(--divider-height, calc(4rem + 4vw)) !important;
	background: var(--divider-background-color, transparent);

	.wp-block-cover &,
	.wp-block-group & {
		position: relative;
		z-index: -1;
	}
}

.mai-divider-svg {
	display: block;
	width: 100%;
	// extra height and negative px to fix subpixel gap.
	height: calc(100% + 2px);
	margin: -2px !important;
	color: var(--divider-color, currentColor);
	background-color: transparent;
}
