.mai-divider {
	display: block;
	height: var(--separator-height, calc(4rem + 4vw)) !important;
	background-color: transparent;
}

.mai-divider-svg {
	display: block;
	width: 100%;
	// extra height and negative px to fix subpixel gap.
	height: calc(100% + 2px);
	margin: -1px 0 0 !important;
	color: var(--divider-color, currentColor);
}
