@use "../../abstracts/__index" as *;

.wp-block-embed {
	float: none;
	display: block;
	width: 100%;
	max-width: 100%;
	margin: var(--spacing-md) auto;

	&:has(.alignleft) {
		text-align: start;
	}

	&:has(.alignright) {
		text-align: end;
	}

	&:has(.aligncenter) {
		text-align: center;
	}

	figcaption {

		@extend %caption;
	}
}
