.wp-block-group {
	position: relative; // so negative margins inside will work.
	padding: var(--group-block-padding-top, 0) var(--group-block-padding-right, 0) var(--group-block-padding-bottom, 0) var(--group-block-padding-left, 0);

	&.alignfull {
		--group-block-padding-right: var(--side-spacing);
		--group-block-padding-left: var(--side-spacing);
	}

	&.has-background {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__inner-container {
		width: 100% !important;
		max-width: var(--content-max-width, var(--breakpoint-xl));
		margin-right: auto;
		margin-left: auto;
	}
}
