.wp-block-image {
	margin-top: var(--spacing-lg);
	margin-bottom: var(--spacing-lg);

	&.alignleft {
		margin-right: var(--spacing-md);
	}

	&.alignright {
		margin-left: var(--spacing-md);
	}

	&.alignwide {
		max-width: 150%;
	}

	&.alignfull {
		max-width: none;
	}
}
