.wp-block-image {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);

	&.alignleft {
		margin-right: var(--spacing);
	}

	&.alignright {
		margin-left: var(--spacing);
	}

	&.alignwide {
		max-width: 120%;
	}

	&.alignfull {
		max-width: none;
	}
}
