.wp-block-image {
	margin-top: 1em; // Match core margin-bottom: 1em.

	&.alignleft {
		margin-right: var(--spacing-md);
	}

	&.alignright {
		margin-left: var(--spacing-md);
	}

}

// We need default element and to override WP.
figcaption,
.wp-block-image figcaption {

	@include caption();
}
