.wp-block-latest-posts {
	--list-margin-left: 0;
	--list-item-margin-bottom: 0;

	&-post-excerpt {
		display: flex;
		flex-wrap: wrap;
	}
}

.wp-block-latest-posts__post-title {
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	color: var(--entry-title-link-color, var(--color-heading));
	font-weight: var(--heading-font-weight);
	font-family: var(--heading-font-family);
	line-height: var(--heading-line-height);
}

.wp-block-latest-posts__post-title:focus-visible,
.wp-block-latest-posts__post-title:hover {
	color: var(--entry-title-link-hover-color, var(--color-link));
}