.wp-block-latest-posts {

	&-post-excerpt {
		display: flex;
		flex-wrap: wrap;
	}

	li > a {
		color: var(--heading-color);
		font-weight: var(--heading-font-weight);
		font-family: var(--heading-font-family);
		line-height: var(--heading-line-height);
	}
}
