.mai-gallery {
	line-height: 1.5;
}

.mai-gallery-item {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin: var(--gallery-item-margin, 0);
	line-height: 1;
	text-align: center;
}
