.wp-block-pullquote {
	margin-top: var(--spacing-lg);
	margin-bottom: var(--spacing-lg);
	border-top: var(--border);
	border-bottom: var(--border);
	border-left: 0;

	--cite-font-size: var(--font-size-xs);

	&.aligncenter {
		margin-top: var(--spacing-md);
		margin-bottom: var(--spacing-md);
	}

	footer,
	&__citation {

		@include caption();
	}
}
