.wp-block-quote {

	cite,
	footer,
	&__citation {
		position: relative;
		margin-top: 1em;
	}

	footer,
	&__citation {

		@include cite();
	}

	&.has-text-align-right,
	&.has-text-align-right {
		padding-right: 1em;
		padding-left: 0;
		border-right: var(--border);
		border-left: 0;
	}

	&.has-text-align-center,
	&.has-text-align-center {
		padding-left: 0;
	}

	&.is-style-large,
	&.is-large {
		margin: var(--blockquote-margin, 1em auto);
		padding: var(--blockquote-padding, 1em);

		p {
			font-size: var(--blockquote-font-size-large, var(--font-size-xl));
			font-style: var(--blockquote-font-style, italic);
		}

		cite {

			@include cite();
		}

		footer {
			font-size: var(--caption-font-size, var(--font-size-xs));
			text-align: inherit;
		}
	}
}
