.wp-block-search {

	&.aligncenter {
		justify-content: center;
		text-align: center;
	}

	&__label {
		flex: 1 1 100%;
		font-weight: var(--font-weight-bold);
	}

	&__input {
		flex: 1 1 200px;
	}
}
