.wp-block-search {
	display: flex;
	flex-wrap: wrap;
	margin: var(--search-block-margin, 0);

	--search-input-max-width: 100%;
	--button-margin: 0 0 0 var(--search-button-margin-left, calc(var(--spacing-xl) * -1));

	&.alignleft {
		justify-content: start;
		float: none;
	}

	&.aligncenter {
		justify-content: center;
	}

	&.alignright {
		justify-content: end;
		float: none;
	}

	.wp-block-search__inside-wrapper {
		flex: 0 1 var(--min-width, 3em);
	}

	.wp-block-search__label {
		flex: 1 1 100%;
		font-weight: var(--body-font-weight-bold);
	}

	.wp-block-search__input {
		flex: 1;
		padding-right: var(--search-input-padding-right, calc(var(--spacing-xl) * -1));
		border: var(--input-border, 1px solid rgba(0, 0, 0, 0.1)); // Overides WP core styles.

		&:focus {
			border-color: var(--input-border-color-focus, var(--color-link));
		}
	}

	&:not(.wp-block-search__no-button) {

		.wp-block-search__input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.wp-block-search__button {
		position: relative;
		margin: var(--button-margin) !important; // Overides WP core styles.
		padding: var(--button-padding, 0.9em 1.625em) !important; // Overides WP core styles.

		@include button();
		@include button-style("secondary");
	}

	.search-icon {
		position: absolute;
		top: calc(50% - 12px);
		left: calc(50% - 12px);
		width: 24px;
		height: 24px;
		fill: currentColor;
	}

	&.wp-block-search__button-inside {

		// Overrides WP core styles.
		.wp-block-search__inside-wrapper {
			padding: var(--spacing-xs) !important;
			background: var(--input-background-color, var(--color-white));
			border: var(--input-border, 1px solid rgba(0, 0, 0, 0.1)) !important;
			border-radius: var(--input-border-radius, var(--border-radius)) !important;

			&:focus-within {
				border-color: var(--input-border-color-focus, var(--color-link));
			}
		}
	}
}

.entry-content {
	--search-block-margin: 0 0 var(--spacing-md);
}
