.wp-block-separator {
	margin: var(--separator-block-margin-top, 0) auto var(--separator-block-margin-bottom, 0);
	border: none;
	border-bottom: var(--border);

	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 100px;
	}

	&.has-background:not(.is-style-dots) {
		height: 1px;
		border-bottom: none;
	}

	&.has-background:not(.is-style-wide):not(.is-style-dots) {
		height: 2px;
	}
}
