.wp-block-social-links {
	margin: 0;

	&.is-style-no-background {

		.wp-social-link {
			color: currentColor;
			background-color: transparent;
		}
	}

	&.alignleft {
		float: none;
	}

	&.aligncenter {
		justify-content: center;
		float: none;
	}

	&.alignright {
		justify-content: flex-end;
		float: none;
	}
}
