.wp-social-link {

	&,
	a,
	svg {
		width: var(--social-link-width, 1.5em);
		height: var(--social-link-height, 1em);
	}

	@include hover-focus {
		transform: scale(var(--social-link-transform-hover, 1.2));
	}
}

.wp-block-social-links {
	margin: 0;

	&.is-style-no-background {

		.wp-social-link {
			color: currentColor;
			background-color: transparent;
		}
	}

	&.alignleft {
		float: none;
	}

	&.aligncenter {
		justify-content: center;
		float: none;
	}

	&.alignright {
		justify-content: flex-end;
		float: none;
	}
}
