.wp-block-social-links {
	--list-margin: 0;
	--list-item-margin-bottom: 0;

	&:not(.is-style-no-background) {
		gap: var(--spacing-xxs);
	}

	&.is-style-no-background {

		.wp-social-link {
			color: currentColor;
			background-color: transparent;
		}
	}
}
