@use "../../abstracts/__index" as *;

.wp-block-table {
	border-collapse: collapse;

	thead {
		border-bottom: var(--border);
	}

	tfoot {
		border-top: var(--border);
	}

	td,
	th {
		padding: 0.5em;
		word-break: normal;
		border: var(--border);
	}

	figcaption {

		@extend %caption;
	}

	&.is-style-stripes tbody tr:nth-child(2n+1) {
		background-color: var(--color-alt);
	}
}
