////
/// Hero section component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Variables.
////

$hero-section-padding-mobile: var(--spacing-l) 0 !default;
$hero-section-color: var(--color-body) !default;
$hero-section-padding-desktop: var(--spacing-xl) 0 !default;
$hero-section-border-bottom: var(--border) !default;
$hero-heading-font-size-mobile: var(--font-size-h1) !default;
$hero-heading-font-size-desktop: var(--font-size-h1) !default;
$hero-heading-color: var(--color-body) !default;
$hero-heading-margin-bottom: 0 !default;
$hero-text-margin-top: var(--spacing-m) !default;

////
/// Placeholder.
////

@mixin hero-section {
	display: flex;
	width: 100%;
	padding: $hero-section-padding-mobile;
	border-bottom: $hero-section-border-bottom;
	color: $hero-section-color;
	background-position: center;
	background-size: cover;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@include overlay;

	@include mq(m) {

		padding: $hero-section-padding-desktop;
	}

	.wrap {
		position: relative;
		justify-content: center;
	}

	h1 {
		width: 100%;
		margin-bottom: $hero-heading-margin-bottom;
		color: $hero-heading-color;
		font-size: $hero-heading-font-size-mobile;

		@include mq(m) {
			font-size: $hero-heading-font-size-desktop;
		}
	}

	p {
		margin-top: $hero-text-margin-top;
		margin-bottom: 0;
	}
}

////
/// Hero Section.
////

.hero-section {

	@include hero-section;
}
