.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {

	@include hide-visually;

	&:active,
	&:focus-visible {

		@include hide-visually(unhide);

		position: absolute; // override hide-visually.
		z-index: 100000; /* Above WP toolbar. */
		padding: var(--spacing-md) var(--spacing-lg);
		color: var(--color-white);
		text-decoration: none;
		background-color: var(--color-black);
	}
}

.genesis-skip-link {
	margin: 0;

	li {
		width: 0;
		height: 0;
		list-style: none;
		background: var(--color-white);
	}
}

:focus {
	outline: none;
}

:focus-visible {
	outline: var(--focus-outline, var(--border));
}
