@include mq(lg) {

	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	.aligncenter {
		margin: 0 auto;

		@include clearfix;
	}

	.alignwide {
		width: var(--alignwide-width, auto);
		max-width: var(--alignwide-max-width, 100vw);
		margin-right: var(--alignwide-margin-right, calc(25% - 25vw));
		margin-left: var(--alignwide-margin-left, calc(25% - 25vw));
	}
}

.content-sidebar-wrap {

	.content-sidebar &,
	.sidebar-content & {
		--alignfull-margin-right: 0;
		--alignfull-margin-left: 0;
		--alignwide-margin-right: 0;
		--alignwide-margin-left: 0;
	}
}

.alignfull {
	clear: both;
	width: var(--alignfull-width, calc(100vw - var(--scrollbar-width, 0px)));
	max-width: var(--alignfull-max-width, calc(100vw - var(--scrollbar-width, 0px)));
	margin-right: var(--alignfull-margin-right, calc(50% - (50vw - (var(--scrollbar-width, 0px) / 2))));
	margin-left: var(--alignfull-margin-left, calc(50% - (50vw - (var(--scrollbar-width, 0px) / 2))));
}

.content {
	--alignfull-width: auto;
}

.alignvertical {
	align-content: center;
	align-items: center;
}

.has-boxed-container {

	@include mq(xl) {
		--alignfull-max-width: var(--breakpoint-xl);
		--alignfull-margin-right: auto;
		--alignfull-margin-left: auto;

		.has-content-sidebar,
		.has-sidebar-content {
			--alignfull-margin-right: calc(var(--side-spacing) * -1);
			--alignfull-margin-left: calc(var(--side-spacing) * -1);
		}

		.has-narrow-content,
		.has-standard-content {
			--alignfull-margin-right: calc((var(--site-container-max-width) - var(--content-max-width)) * -0.5);
			--alignfull-margin-left: calc((var(--site-container-max-width) - var(--content-max-width)) * -0.5);
		}

		.has-wide-content {
			--alignfull-margin-right: calc((var(--site-container-max-width) - var(--content-max-width)) - var(--side-spacing));
			--alignfull-margin-left: calc((var(--site-container-max-width) - var(--content-max-width)) - var(--side-spacing));
		}
	}
}
