@include mq(lg) {

	.alignleft {
		float: left;
		margin: 0 var(--spacing-md) 0 0;
	}

	.alignright {
		float: right;
		margin: 0 0 var(--spacing-md) 0;
	}

	.aligncenter {
		margin: 0 auto;

		@include clearfix;
	}

	.alignwide {
		width: auto;
		max-width: 100%;
		margin-right: calc(25% - 25vw);
		margin-left: calc(25% - 25vw);
	}
}

.alignfull {
	clear: both;
	width: auto;
	max-width: var(--alignfull-max-width, 1000%);
	margin-right: var(--alignfull-margin-right, calc(-50vw + 50%));
	margin-left: var(--alignfull-margin-left, calc(-50vw + 50%));
}

.alignvertical {
	align-content: center;
	align-items: center;
}

.max-width-md,
.max-width-sm {
	margin-right: auto;
	margin-left: auto;
}

.max-width-md {
	max-width: var(--breakpoint-md);
}

.max-width-sm {
	max-width: var(--breakpoint-sm);
}

.has-boxed-container {

	@include mq(lg) {
		--alignfull-max-width: var(--site-container-max-width);
		--alignfull-margin-right: calc(((var(--site-container-max-width) - var(--content-width)) / 2) * -1);
		--alignfull-margin-left: calc(((var(--site-container-max-width) - var(--content-width)) / 2) * -1);
	}
}

.content-sidebar,
.sidebar-content {
	--alignfull-left: auto;
	--alignfull-width: 100%;
	--alignfull-max-width: 100%;
	--alignfull-margin-left: 0;
	--alignfull-margin-right: 0;
}

.has-boxed-layout {
	--alignfull-max-width: var(--wrap-width);
}
