@include mq(lg) {

	.alignleft {
		float: left;
		margin: 0 var(--spacing-md) var(--spacing-md) 0;
	}

	.alignright {
		float: right;
		margin: 0 0 var(--spacing-md) var(--spacing-md);
	}

	.aligncenter {
		margin: 0 auto;

		@include clearfix;
	}

	.alignwide {
		width: var(--alignwide-width, auto);
		max-width: var(--alignwide-max-width, 1000%);
		margin-right: var(--alignwide-margin-right, calc(25% - 25vw));
		margin-left: var(--alignwide-margin-left, calc(25% - 25vw));

		.content-sidebar &,
		.sidebar-content & {
			--alignfull-margin-right: 0;
			--alignfull-margin-left: 0;
		}
	}
}

.alignfull {
	clear: both;
	width: var(--alignfull-width, auto);
	max-width: var(--alignfull-max-width, unset);
	margin-right: var(--alignfull-margin-right, calc(50% - 50vw));
	margin-left: var(--alignfull-margin-left, calc(50% - 50vw));

	@include mq(false, lg) {

		.content-sidebar &,
		.sidebar-content & {
			--alignfull-margin-right: calc(var(--side-spacing) * -1);
			--alignfull-margin-left: calc(var(--side-spacing) * -1);
		}

	}

	@include mq(lg, xl) {

		.content-sidebar & {
			--alignfull-margin-right: 0;
			--alignfull-margin-left: calc(var(--side-spacing) * -1);
		}

		.sidebar-content & {
			--alignfull-margin-right: calc(var(--side-spacing) * -1);
			--alignfull-margin-left: 0;
		}

	}

	@include mq(xl) {

		.content-sidebar & {
			--alignfull-margin-right: 0;
		}

		.sidebar-content & {
			--alignfull-margin-left: 0;
		}

	}

}

.alignvertical {
	align-content: center;
	align-items: center;
}

.has-boxed-container {

	&.content-sidebar,
	&.sidebar-content {
		--alignfull-margin-right: calc(var(--side-spacing) * -1);
		--alignfull-margin-left: calc(var(--side-spacing) * -1);
	}

	@include mq(lg) {

		&.content-sidebar {
			--alignfull-margin-right: 0;
		}

		&.sidebar-content {
			--alignfull-margin-left: 0;
		}

	}

	@include mq(xl) {

		&.narrow-content,
		&.standard-content {
			--alignfull-margin-right: calc((var(--site-container-max-width) - var(--content-max-width)) * -0.5);
			--alignfull-margin-left: calc((var(--site-container-max-width) - var(--content-max-width)) * -0.5);
		}

		&.wide-content {
			--alignfull-margin-right: calc((var(--site-container-max-width) - var(--content-max-width)) - var(--side-spacing));
			--alignfull-margin-left: calc((var(--site-container-max-width) - var(--content-max-width)) - var(--side-spacing));
		}

	}
}

