////
/// Grid classes.
///
/// @group  Utilities
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Full Width.
////

.full-width {
	width: 100%;
}

////
/// Columns.
////

@include mq(md) {

	.one-half,
	.one-third,
	.one-fourth,
	.one-fifth,
	.one-sixth,
	.two-thirds,
	.two-fourths,
	.two-fifths,
	.two-sixths,
	.three-fourths,
	.three-fifths,
	.three-sixths,
	.four-fifths,
	.four-sixths,
	.five-sixths {
		float: left;
		margin-bottom: var(--gutter);
		margin-left: var(--gutter);
	}

	.one-half,
	.two-fourths,
	.three-sixths {
		width: var(--one-half);
	}

	.one-third,
	.two-sixths {
		width: var(--one-third);
	}

	.one-fourth {
		width: var(--one-fourth);
	}

	.one-fifth {
		width: var(--one-fifth);
	}

	.one-sixth {
		width: var(--one-sixth);
	}

	.two-thirds,
	.four-sixths {
		width: var(--two-thirds);
	}

	.two-fifths {
		width: var(--two-fifths);
	}

	.three-fourths {
		width: var(--three-fourths);
	}

	.three-fifths {
		width: var(--three-fifths);
	}

	.four-fifths {
		width: var(--four-fifths);
	}

	.five-sixths {
		width: var(--five-sixths);
	}

	.first {
		clear: both;
		margin-left: 0;
	}
}
