@each $color-name, $color-value in $colors {

	.has-#{ $color-name }-color,
	.has-#{ $color-name }-color:hover,
	.has-#{ $color-name }-color:focus {
		color: var(--color-#{ $color-name });
	}

	.has-#{ $color-name }-background-color {
		background-color: var(--color-#{ $color-name });
	}
}

@each $heading-name, $heading-value in $headings {

	.has-#{ $heading-name }-font-size {
		font-size: #{ $heading-value };
	}
}
