////
/// Image classes.
///
/// @group  Utilities
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

.background-image {
	display: flex;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	object-fit: contain;
	object-position: center;
	align-items: center;
	justify-content: center;

	div,
	img {
		display: flex;
		align-items: center;
		justify-content: center;
		object-fit: cover;
		object-position: center;

		@include size(100%);
	}
}
