.has-shadow {
	box-shadow: var(--shadow);
}

.is-circle,
.is-square {
	display: grid;

	> :first-child {
		display: flex;
		flex-direction: column;
		place-content: center;
		grid-area: 1/-1;
	}
}

.is-circle,
.is-rounded {
	border-radius: 9999px;
}

.is-circle::before,
.is-square::before {
	display: block;
	grid-area: 1/-1;
	padding-bottom: 100%;
	content: "";
}

.has-md-max-width,
.has-sm-max-width,
.has-xs-max-width {
	margin-right: auto;
	margin-left: auto;
}

.has-md-max-width {
	max-width: var(--breakpoint-md);
}

.has-sm-max-width {
	max-width: var(--breakpoint-sm);
}

.has-xs-max-width {
	max-width: var(--breakpoint-xs);
}
