////
/// Spacing classes.
///
/// @group  Utilities
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Spacing classes.
////

@each $spacing-name, $spacing-value in $spacing {

	.spacing-top-#{ $spacing-name } {
		padding-top: #{ $spacing-value };
	}

	.spacing-right-#{ $spacing-name } {
		padding-right: #{ $spacing-value };
	}

	.spacing-bottom-#{ $spacing-name } {
		padding-bottom: #{ $spacing-value };
	}

	.spacing-left-#{ $spacing-name } {
		padding-left: #{ $spacing-value };
	}
}
