.before-header {
	padding: var(--spacing) 0;
	border-bottom: var(--border);
	font-size: small;
	line-height: 1;

	--widget-margin: 0;
	--heading-margin: 0;
	--paragraph-margin: 0;
	--button-margin: 0;
	--wrap-align-items: center;
}
