////
/// Header right component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Header Widget Area.
////

.header-widget-area {
	margin-right: var(--gap);
	margin-left: auto;

	@include mq(xs, max) {
		display: none;
	}

	@include mq(md) {
		margin: 0;
		order: 3;
	}

	// Widget.
	.widget {
		margin-bottom: 0;

		@include mq(md) {
			margin-left: var(--gutter);
		}
	}
}
