.header-section {
	display: var(--header-section-display, none);
	flex: 1;
	align-items: center;
	justify-content: var(--header-section-justify-content, unset);

	--heading-margin: 0;

	p:last-of-type {
		margin-bottom: 0;
	}
}

.header-left {
	--header-section-justify-content: flex-start;
}

.header-right {
	--header-section-justify-content: flex-end;
}

.no-js {
	--header-section-display: flex;
}
