.header-section {
	display: var(--header-section-display, none);
	flex: var(--header-section-flex, 1);
	flex-wrap: var(--header-section-flex-wrap, nowrap);
	align-items: var(--header-section-align-items, center);
	justify-content: var(--header-section-justify-content, unset);
	order: var(--header-section-order, 9); // Make sure it's after the title and menu-toggle on mobile.

	--heading-margin-top: 0;
	--heading-margin-bottom: 0;

	p:last-of-type {
		margin-bottom: 0;
	}
}

.header-left {
	--header-section-order: 0;
	--header-section-justify-content: flex-start;
}

.header-right {
	--header-section-order: 100;
	--header-section-justify-content: flex-end;
}

.no-js {
	--header-section-display: flex;
}
