////
/// Menu toggle component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Variables.
////

$menu-toggle-margin: 0 !default;
$menu-toggle-padding: 0 !default;
$menu-toggle-background-color: transparent !default;
$menu-toggle-line-width: calc(var(--spacing-m) * #{$perfect-fifth}) !default;
$menu-toggle-line-height: 3px !default;
$menu-toggle-line-background-color: var(--color-heading) !default;
$menu-toggle-line-spacing: calc(0 - var(--spacing-s)) !default;

////
/// Menu Toggle.
////

.menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: $menu-toggle-margin;
	padding: $menu-toggle-padding;
	background-color: $menu-toggle-background-color;
	order: 1;
	height: calc(var(--spacing-m) * #{$perfect-fifth});
	width: calc(var(--spacing-m) * #{$perfect-fifth});

	@include mq(m) {
		display: none;
	}

	@include hover-focus {
		background-color: transparent;
	}

	&:focus {
		outline: var(--border);
	}

	// Hamburger.
	.hamburger,
	.hamburger:before,
	.hamburger:after {
		display: block;
		position: absolute;
		width: $menu-toggle-line-width;
		height: $menu-toggle-line-height;
		background-color: $menu-toggle-line-background-color;
		content: "";
	}

	.hamburger {
		top: auto;
		right: auto;
		bottom: auto;
		margin: auto;

		&:before {
			top: $menu-toggle-line-spacing;
		}

		&:after {
			bottom: $menu-toggle-line-spacing;
		}
	}

	&.activated {

		.hamburger {
			background-color: transparent;

			&:before {
				top: 0;
				transform: rotate(45deg);
			}

			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
}
