.header-section-mobile {
	display: var(--header-section-mobile-display, flex);
	flex: 1;
	align-items: center;

	.mai-icon {
		--link-color: var(--menu-toggle-color, var(--menu-item-link-color, var(--color-heading)));
		--link-color-hover: var(--menu-toggle-color, var(--menu-item-link-color, var(--color-heading)));
	}

	> * + * {
		margin-left: var(--spacing-lg);
	}
}

.header-left-mobile {
	justify-content: flex-start;
	--search-icon-form-right: unset;
	--search-icon-form-left: 0;
}

.header-right-mobile {
	justify-content: flex-end;
	--search-icon-form-right: 0;
	--search-icon-form-left: unset;
}

.header-search {
	order: var(--header-search-order, unset);
	--search-toggle-icon-width: 1.5em;
	--search-icon-form-width: calc(var(--viewport-width) - (var(--side-spacing) * 2));
	--search-input-width: 100%;
	--search-input-max-width: 100%;
}

.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
