.page-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	color: var(--page-header-color, var(--color-darker));
	text-align: var(--page-header-text-align, center);
	background-color: var(--page-header-background-color, var(--color-medium));
	border-bottom: var(--page-header-border-bottom, var(--border));

	--color: currentColor;
	--heading-color: currentColor;
	--wrap-position: relative;
	--wrap-justify-content: var(--page-header-text-align, center);

	> .wrap {
		z-index: 2;
		padding: var(--page-header-padding, (var(--page-header-padding-top, 10vw) var(--page-header-padding-right, 0) var(--page-header-padding-bottom, 10vw) var(--page-header-padding-left, 0)));
	}
}

.has-dark-page-header {
	--page-header-color: var(--color-lightest);
}

.page-header-overlay {
	display: block;
	background-color: var(--page-header-background-color, var(--color-medium));
	opacity: var(--page-header-overlay-opacity, 0.5);
	content: "";

	@include position(absolute, 0 0 0 0);
}

.page-header-image {
	width: 100%;
	height: 100%;
	object-fit: cover;

	@include position(absolute, 0 0 0 0);
}

.page-header-inner {
	width: 100%;
	max-width: var(--page-header-inner-max-width, var(--breakpoint-sm));
	padding: var(--page-header-inner-padding, 0);
}

.page-header-description {
	margin: var(--page-header-description-margin, 0 0 var(--spacing-md));
	font-size: var(--page-header-font-size, var(--text-lg));

	&:last-child {
		--page-header-description-margin: 0;
	}
}
