.page-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	color: var(--page-header-color, var(--color-body));
	text-align: var(--page-header-text-align, center);
	background: var(--page-header-background, var(--color-alt));
	border-bottom: var(--page-header-border-bottom, var(--border));

	--heading-color: currentColor;
	--wrap-position: relative;
	--wrap-justify-content: var(--page-header-text-align, center);
	--alignfull-width: 100%;

	> .wrap {
		z-index: 2;
		padding: var(--page-header-padding, var(--page-header-padding-top) var(--page-header-padding-sides, 0) var(--page-header-padding-bottom));
	}
}

.has-dark-page-header {
	--page-header-color: var(--color-white);
}

.has-divider {
	--page-header-border-bottom: 0;
}

.page-header-overlay {
	display: block;
	background-color: var(--page-header-background, var(--color-alt));
	opacity: var(--page-header-overlay-opacity, 0.5);
	content: "";

	@include position(absolute, 0 0 0 0);
}

.page-header-image {
	width: 100%;
	height: 100%;
	object-fit: cover;

	@include position(absolute, 0 0 0 0);
}

.page-header-inner {
	width: 100%;
	max-width: var(--page-header-inner-max-width, var(--breakpoint-sm));
	margin: var(--pade-header-inner-margin, (0 auto));
	padding: var(--page-header-inner-padding, 0);
	background: var(--page-header-inner-background, transparent);
	border: var(--page-header-inner-border, 0);
	border-radius: var(--page-header-inner-border-radius, var(--border-radius));
	box-shadow: var(--page-header-inner-box-shadow, none);
}

.page-header-description {
	margin: var(--page-header-description-margin, 0 0 1em);
	font-size: var(--page-header-font-size, var(--font-size-lg));

	&:last-child {
		margin-bottom: 0;
	}
}
