.site-header {
	position: var(--site-header-position, relative);
	top: var(--site-header-top, unset);
	z-index: 10;
	width: 100%;
	background-color: var(--site-header-background-color, var(--color-lightest));
	border-bottom: var(--site-header-border-bottom, var(--border));
	box-shadow: var(--site-header-box-shadow, unset);
	transition: var(--transition);

	--wrap-flex-wrap: nowrap;
	--wrap-justify-content: space-between;
	--wrap-align-items: center;
	--logo-width: var(--logo-width-small, 120px);
	--logo-top: var(--logo-top-small);
	--logo-bottom: var(--logo-bottom-small);

	@include mq(lg) {
		--logo-width: var(--logo-width-large, 180px);
		--logo-top: var(--logo-top-large);
		--logo-bottom: var(--logo-bottom-large);
	}
}

.has-transparent-header {
	--site-header-border-bottom: none;
	--site-header-background-color: transparent;
}

.has-sticky-header {
	--title-area-transition: all 250ms ease-in-out;

	@include mq(sm) {
		--site-header-position: sticky;
		--site-header-top: 0;
	}
}

.site-header.is-stuck {
	--logo-top: var(--logo-top-small);
	--logo-bottom: var(--logo-bottom-small);
	--logo-width: var(--logo-width-small);
}

.is-stuck {

	@include mq(sm) {
		--site-header-background-color: var(--color-lightest);
		--site-header-box-shadow: 0 0 24px rgba(0, 0, 0, 0.07);
	}
}
