////
/// Sub menu component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Variables.
////

$sub-menu-padding: $spacing-s null !default;
$sub-menu-width: $spacing-xxxl * $major-third !default;
$sub-menu-border: $base-border !default;
$sub-menu-border-radius: 0 !default;
$sub-menu-background-color: $color-white !default;
$sub-menu-transition: opacity $base-transition-duration $base-transition-timing-function !default;
$sub-menu-font-size-desktop: inherit !default;
$sub-menu-link-padding: $spacing-s $spacing-m !default;
$sub-menu-link-color: $color-body !default;
$sub-menu-link-color-hover: $color-primary !default;
$sub-menu-toggle-icon-background-color: $color-body !default;
$sub-menu-toggle-margin: 0 !default;
$sub-menu-toggle-padding: 0 !default;
$sub-menu-toggle-background-color: transparent !default;
$sub-menu-toggle-line-height: 0 !default;
$sub-menu-toggle-size: $spacing-l !default;

////
/// Sub menu.
////

.sub-menu {
	display: none;
	top: 100%;
	width: 100%;
	margin: $spacing-m $spacing-m 0;
	list-style-type: none;

	@include mq(m) {
		display: block;
		position: absolute;
		left: -999rem;
		width: $sub-menu-width;
		margin: 0 0 0 -$spacing-m;
		border: $sub-menu-border;
		border-radius: $sub-menu-border-radius;
		opacity: 0;
		background-color: $sub-menu-background-color;
		transition: $sub-menu-transition;
		font-size: $sub-menu-font-size-desktop;

		@include padding($sub-menu-padding);

		&:before {
			content: "";

			@include position(absolute, -$spacing-xxs null null $spacing-l);
			@include triangle("up", $spacing-s, $spacing-xxs, $color-white);
		}
	}

	// Link.
	a {

		@include mq(m) {
			color: $sub-menu-link-color;
		}
	}

	// Link Hover.
	a:hover,
	a:focus,
	.current-menu-item > a {
		color: $sub-menu-link-color-hover;
	}

	// Has Children.
	.menu-item-has-children:hover > &,
	.menu-item-has-children:focus > &,
	.menu-item-has-children:focus-within > & {

		@include mq(m) {
			left: auto;
			opacity: 1;
		}
	}

	// Sub menu menu item.
	.menu-item {
		width: 100%;

		@include mq($until: m) {

			&:last-of-type {
				padding-bottom: 0;
			}
		}

		@include mq(m) {
			width: auto;
			padding: $sub-menu-link-padding;
		}

		&-has-children {
			position: relative;
		}
	}

	// Sub sub menu.
	& & {

		@include mq(m) {
			top: -1px;
			left: 100%;
			margin-left: 0;
			white-space: nowrap;
		}
	}

	// Sub menu toggle.
	&-toggle {
		display: flex;
		justify-content: center;
		margin: $sub-menu-toggle-margin;
		padding: $sub-menu-toggle-padding;
		background-color: $sub-menu-toggle-background-color;
		line-height: $sub-menu-toggle-line-height;

		@include position(absolute, $spacing-s 0 null null);
		@include size($sub-menu-toggle-size);

		@include mq(m) {
			display: none;
		}

		@include hover-focus {
			background-color: transparent;
		}

		&:focus {
			outline: $base-border;
		}

		&:before {
			content: "";

			@include triangle("down", 1rem, 0.5rem, $sub-menu-toggle-icon-background-color);
		}

		&.activated {

			&:before {

				@include triangle("up", 1rem, 0.5rem, $sub-menu-toggle-icon-background-color);
			}
		}
	}
}
