////
/// Title area component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

////
/// Title Area.
////

.title-area {
	line-height: var(--title-area-line-height, var(--line-height-heading));
	padding: var(--title-area-padding, (var(--spacing-md) 0));

	@include transition;

	@include mq(md) {
		padding: var(--title-area-padding, (var(--gap) 0));
	}
}

////
/// Site title.
////

.site-title {
	margin: 0;
	font-family: var(--site-title-font-family, var(--font-family-heading));
	font-size: var(--site-title-font-size, (1em));
	font-weight: var(--site-title-font-weight, var(--font-weight-heading));

	.wp-custom-logo & {

		@include hide-visually;
	}

	// Link.
	&-link {
		color: var(--site-title-color, var(--color-dark));

		&:hover,
		&:focus {
			color: var(--site-title-color-hover, var(--color-primary));
		}
	}
}

////
/// Site description.
////

.site-description {
	margin: 0;
	color: var(--site-description-color);
	font-size: var(--site-description-font-size, (smaller));

	// Has Custom Logo.
	.wp-custom-logo & {

		@include hide-visually;
	}
}

////
/// Custom logo.
////

.custom-logo {
	width: auto;

	// Link.
	&-link {
		display: flex;
		align-items: center;
	}
}
