:root,
.header-stuck {
	--title-area-padding: var(--title-area-padding-mobile) 0;
}

.title-area {
	flex: var(--title-area-flex, 1);
	order: var(--title-area-order, unset);
	margin: var(--title-area-margin, 0);
	padding: var(--title-area-padding, var(--spacing-md) 0);
	color: var(--title-area-color, var(--color-heading));
	line-height: var(--title-area-line-height, var(--heading-line-height));
	text-align: var(--title-area-text-align, start);
	transition: var(--title-area-transition, var(--transition));

	--link-color-hover: var(--color-link);
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
}

.title-area-first,
.title-area-last {
	--title-area-flex: 0 1 auto;
}

.has-sticky-header:not(.header-stuck) {
	--title-area-transition: all 75ms ease-in-out;
}

.has-sticky-header.header-stuck {
	--title-area-transition: all 250ms ease-in-out;
}

.site-title {
	display: var(--site-title-display, block);
	margin: var(--site-title-margin, auto);
	font-weight: var(--site-title-font-weight, var(--heading-font-weight));
	font-size: var(--site-title-font-size, var(--font-size-xl));
	font-family: var(--site-title-font-family, var(--heading-font-family));
}

.site-title-link {
	color: var(--title-area-color, currentColor);
}

.site-description {
	display: var(--site-description-display, block);
	margin: 0;
	font-size: var(--site-description-font-size, (smaller));
}

.custom-logo-link {
	--link-transition: var(--title-area-transition, var(--transition));
	position: relative;
	display: flex;
	align-items: center;
	max-width: var(--custom-logo-width, 18rem);
	margin: auto;
}

.custom-logo {
	display: block;
	width: var(--viewport-width); // For svg logos.
	max-width: 100%; // Because 100vw width is crazy.
	opacity: var(--custom-logo-opacity, 1);
	transition: var(--title-area-transition, var(--transition));
}

.custom-scroll-logo {
	position: absolute;
	width: 100%;
	height: 100% !important; /* Force this because WooCommerce is too aggressive */
	object-fit: contain;
	object-position: var(--custom-scroll-logo-object-position, center);
	opacity: var(--custom-scroll-logo-opacity, 0);
	transition: var(--title-area-transition, var(--transition));
}
