////
/// Transparent header component.
///
/// @group  Components
/// @author BizBudding <team@bizbudding.com>
/// @link   https://github.com/maithemewp/mai-engine
////

.has-transparent-header {
	--site-header-position: absolute;
	--site-header-border-bottom: none;
	--site-header-background-color: transparent;
	--page-header-wrap-margin-top: var(--space-xxl);
	--menu-item-link-color: var(--color-white);
}
