.entry-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: var(--entry-overlay-background, transparent);
	opacity: var(--entry-overlay-opacity, 0.6);
	transition: var(--transition);
}

.has-image-background {

	&[style*="--align-text-vertical:flex-start"] .has-image {
		--entry-overlay-color-end: transparent;
	}

	&[style*="--align-text-vertical:flex-end"] .has-image {
		--entry-overlay-color-start: transparent;
	}

	.has-image {
		--entry-title-link-color: var(--color-white);
		--entry-title-link-color-hover: var(--color-white);
		--entry-title-text-decoration: none;
		--entry-title-text-decoration-hover: none;
		--entry-wrap-color: var(--color-white);
		--entry-overlay-background: linear-gradient(
			var(--entry-overlay-background-direction, to bottom),
			var(--entry-overlay-color-start, var(--color-heading)) 0%,
			var(--entry-overlay-color-end, var(--color-heading)) 100%
		);

		&:hover,
		&:focus {
			--entry-overlay-opacity: var(--entry-overlay-hover-opacity, 0.8);
		}
	}
}
