.entry-more {
	margin: var(--entry-more-margin, 0);
	padding-top: var(--spacing-xxs);

	&-link {
		margin: var(--entry-more-link-margin, 0 0 var(--spacing-md));
	}

	&:last-child {

		.has-boxed:not([style*="--align-text-vertical"]) &,
		.has-boxed.has-image-full &,
		.has-boxed .entry:not(.has-image) & {
			--entry-more-margin: auto 0 0;
		}

		.entry-more-link {
			margin: 0;
		}
	}
}

.entry-more-link[class="entry-more-link"] {
	font-size: var(--font-size-sm);
}

.entry-more-link.button-link {
	padding: 0;
}
