.entries {
	--entry-image-link-gap: min(4%, var(--spacing-xxl));
}

.entry-image-link {
	display: var(--entry-image-link-display, block);
	flex: var(--entry-image-link-flex, initial);
	align-self: var(--entry-image-link-align, unset);
	order: var(--entry-image-link-order, unset);
	max-width: var(--entry-image-link-max-width, unset);
	margin: var(--entry-image-link-margin, var(--entry-image-link-margin-top, 0) var(--entry-image-link-margin-right, 0) var(--entry-image-link-margin-bottom, var(--spacing-md)) var(--entry-image-link-margin-left, 0));
	line-height: var(--entry-image-line-height, unset);
	border: var(--entry-image-link-border, 0);
	border-radius: var(--entry-image-link-border-radius, unset);
	box-shadow: var(--entry-image-link-box-shadow, none);

	&:last-child {
		margin-bottom: 0;
	}

	figcaption {
		margin-top: 0.5em; // Matches WP core.
	}
}

.has-image-background,
[class*="has-image-left-"],
[class*="has-image-right-"] {
	--entry-image-link-margin-bottom: 0;
}

[class*="has-image-left-"] {
	--entry-image-link-margin-right: var(--entry-image-link-gap);
}

[class*="has-image-right-"] {
	--entry-image-link-order: 1;
	--entry-image-link-margin-left: var(--entry-image-link-gap);
}

.entry-image-single {
	--entry-image-link-margin-bottom: var(--spacing-lg);
}

.entry-image {
	width: var(--entry-image-width, unset);
	min-width: 100%;
	height: var(--entry-image-height, inherit);
	object-fit: var(--entry-image-object-fit, unset);
	border-radius: var(--entry-image-border-radius, var(--border-radius));
}

.has-image-center:not(.has-boxed) {
	--entry-image-link-margin-right: auto;
	--entry-image-link-margin-left: auto;
}

.has-image-left-middle,
.has-image-right-middle {
	--entry-image-link-align: center;
}

.has-image-left-full,
.has-image-right-full {
	--entry-image-link-display: flex;
	--entry-image-link-flex: 1 1 var(--entry-image-link-max-width);
	--entry-image-link-before-display: block;
	--entry-image-object-fit: cover;
	--entry-image-width: 100%;
	--entry-image-height: 100%;
}

.has-boxed.has-image-full,
.has-boxed.has-image-left-full,
.has-boxed.has-image-right-full {
	--entry-image-border-radius: 0;
	--entry-image-link-margin-bottom: 0;
}

.has-boxed.has-image-center {
	--entry-image-link-margin-right: var(--entry-wrap-padding);
	--entry-image-link-margin-left: var(--entry-wrap-padding);
}

.has-boxed.has-image-center .has-image-first {
	--entry-image-link-margin-top: var(--entry-wrap-padding);
	--entry-image-link-margin-bottom: 0;
}

.has-boxed.has-image-left-top,
.has-boxed.has-image-left-middle,
.has-boxed.has-image-left-bottom,
.has-boxed.has-image-right-top,
.has-boxed.has-image-right-middle,
.has-boxed.has-image-right-bottom {
	--entry-image-link-margin-top: var(--entry-wrap-padding);
	--entry-image-link-margin-bottom: var(--entry-wrap-padding);
}

.has-boxed[class*="has-image-left-"],
.has-boxed[class*="has-image-right-"] {
	--entry-image-link-gap: calc(min(4%, var(--spacing-xxl)) - var(--entry-wrap-padding));
}

.has-boxed.has-image-left-top,
.has-boxed.has-image-left-middle,
.has-boxed.has-image-left-bottom {
	--entry-image-link-margin-left: var(--entry-wrap-padding);
}

.has-boxed.has-image-right-top,
.has-boxed.has-image-right-middle,
.has-boxed.has-image-right-bottom {
	--entry-image-link-margin-right: var(--entry-wrap-padding);
}

.has-image-background {
	--entry-position: relative;
	--entry-image-width: 100%;
	--entry-image-height: 100%;
	--entry-image-object-fit: cover;

	.entry-image-link {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.has-image-even-first .entry:nth-child(odd),
.has-image-odd-first .entry:nth-child(even) {
	--entry-image-link-order: 2;
	--entry-image-link-margin-right: 0;
	--entry-image-link-margin-left: var(--entry-image-link-gap);
}

.has-image-even-first .entry:nth-child(even),
.has-image-odd-first .entry:nth-child(odd) {
	--entry-image-link-order: -1;
	--entry-image-link-margin-right: var(--entry-image-link-gap);
	--entry-image-link-margin-left: 0;
}

.has-image-even-first.has-boxed:not(.has-image-left-full):not(.has-image-right-full) .entry:nth-child(odd),
.has-image-odd-first.has-boxed:not(.has-image-left-full):not(.has-image-right-full) .entry:nth-child(even) {
	--entry-image-link-margin-right: var(--entry-wrap-padding);
}

.has-image-even-first.has-boxed:not(.has-image-left-full):not(.has-image-right-full) .entry:nth-child(even),
.has-image-odd-first.has-boxed:not(.has-image-left-full):not(.has-image-right-full) .entry:nth-child(odd) {
	--entry-image-link-margin-left: var(--entry-wrap-padding);
}
