.entry-title {
	font-size: var(--entry-title-font-size, var(--font-size-xxxxl));

	&:last-child {
		margin-bottom: 0;
	}
}

.entries {
	--entry-title-font-size: var(--font-size-lg);
}

.entry-title-link {
	display: var(--entry-title-link-display, block);
	color: var(--entry-title-link-color, currentColor);
	text-decoration: var(--entry-title-text-decoration, none);

	&:hover,
	&:focus {
		color: var(--entry-title-link-color-hover, var(--link-color-hover,var(--color-link)));
		text-decoration: var(--entry-title-text-decoration-hover, var(--link-text-decoration-hover, underline));
	}
}
