.entry-excerpt {
	display: block;
	width: 100%;
	margin: var(--entry-excerpt-margin, 0 0 var(--entry-excerpt-margin-bottom, var(--spacing-md)));
	font-size: var(--entry-excerpt-font-size, (0.9em));

	&:last-child {
		--entry-excerpt-margin-bottom: 0;
	}
}

.entry-excerpt-single {
	font-style: italic;
	--entry-excerpt-margin-bottom: var(--spacing-xl);
	--entry-excerpt-font-size: var(--font-size-lg);
}
