.entry-meta {
	margin: var(--entry-meta-margin, var(--paragraph-margin, 0));
	font-size: var(--entry-meta-font-size, var(--text-sm));

	&:not(:first-child) {
		--entry-meta-margin: var(--spacing-md) 0 0;
	}
}
