.entry-image-link {
	display: var(--entry-image-link-display, block);
	align-self: var(--entry-image-link-align, unset);
	order: var(--entry-image-link-order, unset);
	max-width: var(--image-width, unset);

	.has-image-left-full &::before,
	.has-image-right-full &::before {
		display: block;
		width: 1px;
		height: 0;
		margin-left: -1px;
		padding-bottom: calc(100% / ( var(--aspect-ratio, 4/3) ));
		content: "";
	}

	&:not(:first-child) {
		margin-top: var(--spacing-md);
	}
}

.entry-image {
	width: var(--entry-image-width, unset);
	min-width: 100%;
	height: var(--entry-image-height, inherit);
	object-fit: var(--entry-image-object-fit, unset);
	border-radius: var(--entry-image-border-radius, var(--border-radius));
}

.has-image-left-middle,
.has-image-right-middle {
	--entry-image-link-align: center;
}

.has-image-left-full,
.has-image-right-full {
	--entry-image-link-display: flex;
	--entry-image-object-fit: cover;
	--entry-image-width: 100%;
	--entry-image-height: 100%;
}

[class*="has-image-right"] {
	--entry-image-link-order: 1;
}

[class*="has-image-left"]:not(.has-boxed) {
	margin-right: var(--spacing-xl);
}

[class*="has-image-right"]:not(.has-boxed) {
	margin-left: var(--spacing-xl);
}

.has-image-background .entry-image-link,
.has-image-background .entry-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.has-image-background .entry-image-link {
	-o-object-fit: cover;
	object-fit: cover;
}

.has-boxed.has-image-full,
.has-boxed.has-image-left-full,
.has-boxed.has-image-right-full {
	--entry-image-border-radius: 0;
}

.has-boxed.has-image-full .entry-image-link {
	margin-right: calc(var(--entry-padding) * -1);
	margin-left: calc(var(--entry-padding) * -1);
}

.has-boxed.has-image-full .entry-image-link:first-child {
	margin-top: calc(var(--entry-padding) * -1);
}

.has-image-background {
	--entry-position: relative;
}

.entry::before {

	.has-image-background & {
		display: block;
		width: 1px;
		height: 0;
		margin-left: -1px;
		padding-bottom: calc(100% / ( var(--aspect-ratio, 4/3) ));
		content: "";
	}

}
