.entry-title {
	margin: var(--entry-title-margin, 0 0 var(--entry-title-margin-bottom, var(--spacing-md)));
	font-size: var(--entry-title-font-size, var(--font-size-xxxxl));

	&:last-child {
		--entry-title-margin: 0;
	}
}

.entries {
	--entry-title-font-size: var(--font-size-lg);
}

.entry-title-link {
	display: block;
	color: var(--entry-title-color, var(--color-body));
	text-decoration: var(--entry-title-text-decoration, none);

	&:hover,
	&:focus {
		--entry-title-color: var(--color-primary);
		--entry-title-text-decoration: underline;
	}
}

// Archives and grid block.
.entries {
	--entry-title-font-size: var(--font-size-sm);
	--entry-title-color: var(--color-heading);
}
