.entry-more {
	margin: var(--entry-more-margin, 0);

	&-link {
		margin: var(--entry-more-link-margin, 0 0 var(--spacing-md));
	}

	&:last-child {

		.has-boxed[style*="--align-text-vertical:unset;"] & {
			--entry-more-margin: auto 0 0;
		}

		.entry-more-link {
			--entry-more-link-margin: 0;
		}
	}
}
