.entry-image-link {
	display: var(--entry-image-link-display, block);
	flex: var(--entry-image-link-flex, initial);
	align-self: var(--entry-image-link-align, unset);
	order: var(--entry-image-link-order, unset);
	max-width: var(--entry-image-link-max-width, unset);
	margin: var(--entry-image-link-margin, var(--entry-image-link-margin-top, 0) var(--entry-image-link-margin-right, 0) var(--entry-image-link-margin-bottom, var(--spacing-md)) var(--entry-image-link-margin-left, 0));
	line-height: var(--entry-image-line-height, unset);
	border: var(--entry-image-link-border, 0);
	border-radius: var(--entry-image-link-border-radius, unset);
	box-shadow: var(--entry-image-link-box-shadow, none);

	&::before {
		display: var(--entry-image-link-before-display, none);
		width: 1px;
		height: 0;
		margin-left: -1px;
		padding-bottom: calc(100% / (var(--aspect-ratio, 4/3)));
		content: "";
	}

	&:last-child {
		margin-bottom: 0;
	}

	figcaption {
		margin-top: 0.5em; // Matches WP core.
	}
}

.has-image-background,
.has-boxed .has-image-first,
[class*="has-image-left-"],
[class*="has-image-right-"] {
	--entry-image-link-margin-bottom: 0;
}

.entry-image-single {
	--entry-image-link-margin-bottom: var(--spacing-lg);
}

.entry-image {
	width: var(--entry-image-width, unset);
	min-width: 100%;
	height: var(--entry-image-height, inherit);
	object-fit: var(--entry-image-object-fit, unset);
	border-radius: var(--entry-image-border-radius, var(--border-radius));
}

.has-image-center {
	--entry-image-link-margin-right: auto;
	--entry-image-link-margin-left: auto;
}

.has-image-left-middle,
.has-image-right-middle {
	--entry-image-link-align: center;
}

.has-image-left-full,
.has-image-right-full {
	--entry-image-link-display: flex;
	--entry-image-link-flex: 1 1 var(--entry-image-link-max-width);
	--entry-image-link-before-display: block;
	--entry-image-object-fit: cover;
	--entry-image-width: 100%;
	--entry-image-height: 100%;
}

.has-image-left-top,
.has-image-left-middle,
.has-image-left-bottom,
.has-image-left-full:not(.has-boxed) {
	--column-gap: 4px;
	--entry-image-link-margin-right: var(--column-gap);
}

.has-image-right-top,
.has-image-right-middle,
.has-image-right-bottom,
.has-image-right-full:not(.has-boxed) {
	--entry-image-link-margin-left: var(--column-gap);
}

[class*="has-image-right-"] {
	--entry-image-link-order: 1;
}

.has-image-odd-first .entry:nth-child(even) {
	--entry-image-link-order: 2;
	--entry-image-link-margin-left: var(--column-gap);
}

.has-image-even-first .entry:nth-child(odd) {
	--entry-image-link-order: -1;
	--entry-image-link-margin-right: var(--column-gap);
}

.has-boxed.has-image-full,
.has-boxed.has-image-left-full,
.has-boxed.has-image-right-full {
	--entry-image-border-radius: 0;
}

.has-image-background {
	--entry-position: relative;
	--entry-image-width: 100%;
	--entry-image-height: 100%;
	--entry-image-object-fit: cover;

	.entry::before {
		display: block;
		width: 1px;
		height: 0;
		margin-left: -1px;
		padding-bottom: calc(100% / (var(--aspect-ratio, 4/3)));
		content: "";
	}

	.entry-image-link {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
