.entry-image-link {
	display: var(--entry-image-link-display, block);
	flex: var(--entry-image-link-flex, initial);
	align-self: var(--entry-image-link-align, unset);
	order: var(--entry-image-link-order, unset);
	max-width: var(--entry-image-link-max-width, unset);
	margin: var(--entry-image-link-margin, var(--entry-image-link-margin-top, 0) var(--entry-image-link-margin-right, 0) var(--entry-image-link-margin-bottom, var(--spacing-md)) var(--entry-image-link-margin-left, 0));
	line-height: var(--entry-image-line-height, unset);
	border: var(--entry-image-link-border, 0);
	box-shadow: var(--entry-image-link-box-shadow, none);

	&::before {
		display: var(--entry-image-link-before-display, none);
		width: 1px;
		height: 0;
		margin-left: -1px;
		padding-bottom: calc(100% / (var(--aspect-ratio, 4/3)));
		content: "";
	}

	&:last-child {
		margin-bottom: 0;
	}

	figcaption {
		display: table-caption;
		caption-side: bottom;
		margin-top: 0.5em; // Matches WP core.
		margin-bottom: 1em; // Matches WP core.
	}
}

.entry-image-single {
	--entry-image-link-display: table; // For captions.
	--entry-image-link-margin-bottom: var(--spacing-lg);
}

.entry-image {
	width: var(--entry-image-width, unset);
	min-width: 100%;
	height: var(--entry-image-height, inherit);
	object-fit: var(--entry-image-object-fit, unset);
	border-radius: var(--entry-image-border-radius, var(--border-radius));
}

.has-image-center {
	--entry-image-link-margin-right: auto;
	--entry-image-link-margin-left: auto;
}

.has-image-left-middle,
.has-image-right-middle {
	--entry-image-link-align: center;
}

.has-image-left-full,
.has-image-right-full {
	--entry-image-link-display: flex;
	--entry-image-link-flex: 1 1 var(--entry-image-link-max-width);
	--entry-image-link-before-display: block;
	--entry-image-object-fit: cover;
	--entry-image-width: 100%;
	--entry-image-height: 100%;

	&.has-boxed {
		--entry-image-link-margin: 0;
	}
}

.has-image-left-top,
.has-image-left-middle,
.has-image-left-bottom,
.has-image-left-full:not(.has-boxed) {
	--column-gap: 4px;
	--entry-image-link-margin: 0 var(--column-gap) 0 0;
}

.has-image-right-top,
.has-image-right-middle,
.has-image-right-bottom,
.has-image-right-full:not(.has-boxed) {
	--entry-image-link-margin: 0 0 0 var(--column-gap);
}

[class*="has-image-right"] {
	--entry-image-link-order: 1;
}

.has-image-background .entry-image-link {
	--entry-image-link-margin: 0;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.has-boxed.has-image-full,
.has-boxed.has-image-left-full,
.has-boxed.has-image-right-full {
	--entry-image-border-radius: 0;
}

.has-boxed.has-image-full {

	.entry-image-link {
		--entry-image-link-margin-right: calc(var(--entry-padding) * -1);
		--entry-image-link-margin-left: calc(var(--entry-padding) * -1);

		&:first-child {
			--entry-image-link-margin-top: calc(var(--entry-padding) * -1);
		}
	}
}

.has-image-background {
	--entry-position: relative;
	--entry-image-object-fit: cover;

	.entry::before {
		display: block;
		width: 1px;
		height: 0;
		margin-left: -1px;
		padding-bottom: calc(100% / (var(--aspect-ratio, 4/3)));
		content: "";
	}
}
